{% extends 'new_layout.twig' %}
{% block style %}
<link href="vendor/fontawesome/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="public/datatable/datatables.min.css">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap-select.min.css">
<link rel="stylesheet" type="text/css" href="public/datatable/datatables.min.css">
<link href="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.2.0/dist/jBox.all.min.css" rel="stylesheet">
<link rel="stylesheet" href="public/css/dashboard.css">
{% endblock %}
{% block main %}
<main role="main" class="container-fluid my-3 col-11 container-body">
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
		<h1 class="h2">Administration Abonnement
			<i class="fas fa-tools"></i>
		</h1>
		<div class="btn-toolbar mb-2 mb-md-0">
			<a class="btn btn-success" href="/SoftRecode/abonnement">Retour Liste</a>
		</div>
	</div>
	<!-- 1ere ligne -->
	<div class="d-flex flex-wrap flex-row justify-content-start">
		<input type="hidden" name="idUtilisateur" id="idUtilisateur" value="{{user.log_nec}}">
		<!--carte liste de Devis -->
		<div class="col-6">
			<div class="card shadow mb-4">
				{% if alert_impression %}
				<input type='hidden' id='notif_impression' value="ok" />
				{% else %}
				<input type='hidden' id='notif_impression' value="" />
				{% endif %}
				<!-- Card Body -->
				<div class="card-body">

					<form action="abonnementAdmin" method='POST'>
						<input type="hidden" name="idAbnUpdate" value='{{abn.ab__cmd__id}}'>
						<div class="jumbotron jumbotron-fluid">
							<div class="container">
								{% if abn.ab__actif == 0 %}
								<h5 class="">Abonnement N°:
									{{cmd.devis__id}}
									<small class="text-danger">
										inactif
										<i class="fas fa-times"></i>
									</small>
								</h5>
								{% else %}
								<h5 class="">Abonnement N°:
									{{cmd.devis__id}}</h5>
								{% endif %}
								<hr>
								<p class="lead">{{cmd.client__societe ~ " (" ~
									cmd.client__id ~ ")"}}
								</p>
								{{cmd.client__adr1}}<br>
								{{cmd.client__cp ~ " " ~ cmd.client__ville }}
								<br>
								Date anniversaire : <b>{{abn.ab__date_anniv}}</b>
								<br>
								Périodicité facturation : <b>{{abn.ab__fact_periode}} mois</b>
								<br>
								Total/mois : <b class="text-success"> {{total_ht}} €</b>
								<br>
								Total/période : <b class="text-success"> {{total_periodique}} €</b>
							</div>
						</div>
						<div class="form-row col-10">
							<div class="form-group col-md-10">
								<label for="inputState">Prestation</label>
								<select id="inputState" class="form-control"
									name="prestationAbn">
									{% for presta in prestaList %}

									{% if abn.ab__presta == presta.kw__value %}
									<option value="{{presta.kw__value}}" selected>{{
										presta.kw__lib}}</option>
									{% else %}
									<option value="{{presta.kw__value}}">{{
										presta.kw__lib}}</option>
									{% endif %}

									{% endfor %}
								</select>
							</div>
							<div class="form-group col-md-10">
								<label for="inputState">Actif</label>
								<select id="inputState" class="form-control"
									name="actifAbn">
									{% if abn.ab__actif == 0 %}
									<option value='0' selected>Non</option>
									<option value="1">Oui</option>

									{% else %}
									<option value="1" selected>Oui</option>
									<option value='0'>Non</option>
									{% endif %}

								</select>
							</div>
							<div class="form-group col-md-10">
								<label for="inputState">Engagement en mois</label>
								<select id="inputState" class="form-control"
									name="moisAbn">
									<option value="00">Non-défini</option>
									{% for mois in moisList %}
									{% if mois.kw__value > 00 %}
									{% if abn.ab__mois_engagement == mois.kw__value
									%}
									<option value="{{mois.kw__value}}" selected>{{
										mois.kw__lib}}</option>
									{% else %}
									<option value="{{mois.kw__value}}">{{
										mois.kw__lib}}</option>
									{% endif %}
									{% endif %}

									{% endfor %}
								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-12 mt-4">
								<textarea id="comAbn" name="comAbnG"
									placeholder="Commentaire abonnement....">{{abn.ab__note}}</textarea>
							</div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-success">Modifier</button>
					</form>
					<form action="printContrat" method="POST">
						<input type="hidden" value="{{cmd.devis__id}}" name="printContrat">
						<button type="submit" class="btn btn-warning">Imprimer</button>
					</form>
					<form action="printListe" method="POST">
						<input type="hidden" value="{{cmd.devis__id}}" name="printContrat">
						<button type="submit" class="btn btn-warning">Imprimer la liste du matériel</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!--carte liste de Devis -->
	<div class="col-6">
		<div class="card shadow mb-4">
			<!-- Card Body -->
			<div class="card-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col"></th>
							<th scope="col">Machine</th>
							<th scope="col">Date de début</th>
							<th scope="col">Numero de Série</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for ligne in lignes %}
						{% if ligne.abl__actif == 0 %}
						<tr class="text-muted">
							<th scope="col">{{ligne.abl__ligne}}</th>
							<th scope="col">{{ligne.abl__designation}}<br><small>{{ligne.famille
									~ " " ~ ligne.modele
									}}</small>
							</th>
							<th scope="col">{{ligne.abl__dt_debut}}<br>{{ligne.info_presta}}</th>
							<th scope="col">{{ligne.abl__sn}}
								<i class="text-danger fas fa-times"></i><br>
								{{ligne.abl__prix_mois}} € HT/mois
							</th>
							<th scope="col">
								<form action="adminMachine" method="POST">
									<input type="hidden"
										value="{{ligne.abl__cmd__id}}"
										name="idCMD">
									<input type="hidden"
										value="{{ligne.abl__ligne}}"
										name="numLigne">
									<button class="btn btn-link">
										<i class="fad fa-screwdriver"></i>
									</button>
								</form>
							</th>
						</tr>
						{% else %}
						<tr>
							<th scope="col">{{ligne.abl__ligne}}</th>
							<th scope="col">{{ligne.abl__designation}}<br><small>{{ligne.famille
									~ " " ~ ligne.modele ~
									" " ~ ligne.marque }}</small>
							</th>
							<th scope="col">{{ligne.abl__dt_debut}}<br>{{ligne.info_presta}}</th>
							<th scope="col">{{ligne.abl__sn}}
								<i class=" text-success fas fa-check"></i><br>
								{{ligne.abl__prix_mois}} € HT/mois
							</th>
							<th scope="col">
								<div class="d-flex">
									<form action="ajoutMachine" method="POST">
										<input type="hidden"
											value="{{ligne.abl__cmd__id}}"
											name="idCMD">
										<input type="hidden"
											value="{{ligne.abl__ligne}}"
											name="numLigne">
										<button class="btn btn-link"  data-toggle="tooltip" data-placement="top" title="Dupliquer">
											<i class="far fa-copy"></i>
										</button>
									</form>
									<form action="adminMachine" method="POST">
										<input type="hidden"
											value="{{ligne.abl__cmd__id}}"
											name="idCMD">
										<input type="hidden"
											value="{{ligne.abl__ligne}}"
											name="numLigne">
										<button class="btn btn-link" data-toggle="tooltip" data-placement="top" title="Modifier">
											<i class="fad fa-screwdriver"></i>
										</button>
									</form>
								</div>
							</th>
						</tr>
						{% endif %}
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<form action="ajoutMachine" method="POST">
					<input type="hidden" name="idCmd" value='{{cmd.devis__id}}'>
					<button type="" class="btn btn-success">Ajouter une machine</button>
				</form>
			</div>
		</div>
	</div>
	</div>
	</div>
</main>{% endblock %}{% block script %}
<!-- Optional JavaScript -->
<!-- jQuery first, then Bootstrap JS -->
<script type="text/javascript" src="public/datatable/datatables.min.js"> </script>
<script type="text/javascript" src="public/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="public/bootstrap/js/bootstrap-select.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.2.0/dist/jBox.all.min.js"></script>
<script type="text/javascript" src="public/ckE2/build/ckeditor.js"></script>
<script type="text/javascript" src="public/js/abonnementNouveau.js"></script>{% endblock %}