{% extends 'layoutMain.twig' %}


  {% block style %}
<link href="vendor/fontawesome/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="public/datatable/datatables.min.css" >
<link rel="stylesheet" href="public/bootstrap/css/bootstrap-select.min.css">
<link rel="stylesheet" type="text/css" href="public/datatable/datatables.min.css" >
<link rel="stylesheet" href="public/css/dashboard.css">
  {% endblock %}
 
 
     {% block main %}
     <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Abonnement <i class="far fa-calendar-alt"></i></h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
          </div>
        </div>
      </div>
       <!-- 1ere ligne -->
       <div class="d-flex flex-wrap flex-row justify-content-start">
        <input type="hidden" name="idUtilisateur" id="idUtilisateur" value="{{user.log_nec}}">
        <input type="hidden" id="minFact" value="{{minFact.cmd__id_facture}}">
    <!--carte liste de Devis -->
      <div class="col-6">
        <div class="card shadow mb-4">
          <!-- Card Header - -->
          <div class="my-2 mx-4"> 
            <h6 class="m-0 font-weight-bold text-primary">Selection Abonnement <i class="fas fa-tools"></i> 
            </h6>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <div class="chart-area">
              <table id="ficheTable" class=" display table " style="width:100%"> <thead class="thead-dark" > 
                <tr> 
                  <th>Numéro</th> 
                  <th>Date</th>
                  <th>N°/Date</th>
                  <th>Client</th>
                 
                 
              </tr>
              </thead> 
               <tbody id="">
                {% for devis in devisList %}
                <tr class="trClick">
                  <td>{{devis.devis__id}}</td>
                  <td> {{ devis.cmd__date_cmd}}</td>
                  <td > {{ "N°: " ~ devis.devis__id}} <br>  <div data-toggle="tooltip" data-placement="top" title="Date de commande"> <i class="far fa-check-circle"></i> {{ devis.devis__date_crea}} </div>
                  </td>
                  {% if devis.cmd__nom_devis %}
                  <td> 
                  <b>{{  devis.client__societe  }} </b> {{"(" ~ devis.client__id ~ ")" }} <br>{{ devis.client__cp ~ " " ~ " " ~  devis.client__ville }} <br> {{devis.cmd__nom_devis}} 
                 </td>
                  {% else  %}
                  <td> <b>{{  devis.client__societe  }} </b>{{"(" ~ devis.client__id ~ ")" }} <br>{{ devis.client__cp ~ " " ~ " " ~  devis.client__ville}} 
                    {% if devis.devis__etat == 'CMD' %}
                    <br><strong>{{ devis.kw__lib}}</strong> <i class="fas fa-tools"></i>
                     {% else %}
                    <br><strong>Expédiée</strong> <i class="fas fa-truck"></i>
                     {% endif %}</td>
                  {% endif %}

                 
                  
                  
                   
                  
                    
                </tr>
                {% endfor %}
               </tbody>
             </table>
               
            </div>  
          </div>
        </div>
      </div>
        <!--carte option -->
        <div class="col-4 cardVisio" >
          <div class="card shadow mb-4">
            <!-- Card Header - -->
            <div class="my-2 mx-4"> 
                <h6 class="m-0 font-weight-bold text-primary"> Administrer <i class="fas fa-file-export"></i>
                </h6>    
            </div>
            <!-- Card Body -->
            <div class="card-body" >
                <form action="abonnementAdmin" method="POST">
                    <h5 id="titreAdmin"> Abonnement commande N°:  </h5>
                    <input type="hidden" id="hiddenId" name="hiddenId">
                   
                    <div class="modal-footer mt-5">
                        <button class="btn btn-success">Administer</button>
                    </div >
                </form>
             </div>
      </div>
      </div>
    </div>

    </main>
     {% endblock %}
     
    
     {% block script %}
     <!-- Optional JavaScript -->

<!-- jQuery first, then Bootstrap JS -->
<script  type="text/javascript" src="public/datatable/datatables.min.js"></script>
<script  type="text/javascript" src="public/bootstrap/js/bootstrap.bundle.min.js"></script>
<script  type="text/javascript" src="public/bootstrap/js/bootstrap-select.min.js"></script>
<script  type="text/javascript" src="public/js/abonnement.js"></script>



     {% endblock %}