{% extends 'layoutMain.twig' %}


  {% block style %}
<link href="vendor/fontawesome/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="public/datatable/datatables.min.css" >
<link rel="stylesheet" href="public/bootstrap/css/bootstrap-select.min.css">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap-select.min.css">
<link rel="stylesheet" type="text/css" href="public/datatable/datatables.min.css" >
<link rel="stylesheet" href="public/css/dashboard.css">
  {% endblock %}
 
 
     {% block main %}
     <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Ajout de machine pour l'abonnement N°: {{cmd.devis__id}} <i class="fas fa-plus"></i></h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
          </div>
        </div>
        {% if alert %}
        <div class="alert alert-danger" role="alert">
          Une erreur est survenue! le numero de commande est incorrect ou un abonnement existe deja 
        </div>
        {% endif %}
      </div>
       <!-- 1ere ligne -->
       <div class="d-flex flex-wrap flex-row justify-content-start">
        <input type="hidden" name="idUtilisateur" id="idUtilisateur" value="{{user.log_nec}}">
    <!--carte liste de Devis -->
      <div class="col-12">
        <div class="card shadow mb-4">
         
          <!-- Card Body -->
          <div class="card-body">

  <form action="abonnementNouveau" method='post'>
  <div class="form-row">
    
    <div class="form-group col-md-4">
        <p >Famille-marque-modèle</p>
        <select id="inputStateFF" class="selectpicker" name="facturationAuto" data-width="85%" data-live-search="true" required>
         {% for model in modeleList %}
         <option value="{{model.afmm__id}}">{{model.famille ~ " " ~ model.afmm__modele ~ " " ~ model.Marque}}</option>
         {% endfor %}
        </select>
       
      </div>

    <div class="form-group col-md-4">
      <label for="inputEmail4">Désignation</label>
      <input type="text" name="numCmd" class="form-control" id="inputEmail4" placeholder="désignation" required>
    </div>

    <div class="form-group col-md-4">
        <label for="inputEmail4">Numéro de série</label>
        <input type="text" name="numCmd" class="form-control" id="inputEmail4" placeholder="N° de série" required>
      </div>
  </div>
    
 
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputState">Prestation</label>
      <select id="inputState" class="form-control" name="prestation">
        {% for presta in prestaList %}
        <option value="{{presta.kw__value}}">{{ presta.kw__lib}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group col-md-2">
        <label for="inputEmail4">Prix au mois H.T</label>
        <input type="text" name="numCmd" class="form-control" id="inputEmail4" placeholder="Prix" required>
      </div>
  </div>
  <div class="form-group">
    <div class="col-6 mt-4">
      <textarea  id="comAbn" name="comAbn" placeholder="Commentaire abonnement...." ></textarea>
    </div>
  </div>
  <div class="modal-footer">
  <button type="submit" class="btn btn-success">Valider</button>
  </div>
  
</form>
            
          </div>
        </div>
      </div>
        
       
    </div>

    </main>
     {% endblock %}
     
    
     {% block script %}
     <!-- Optional JavaScript -->

<!-- jQuery first, then Bootstrap JS -->
<script  type="text/javascript" src="public/datatable/datatables.min.js"></script>
<script  type="text/javascript" src="public/bootstrap/js/bootstrap.bundle.min.js"></script>
<script  type="text/javascript" src="public/bootstrap/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="public/ckE2/build/ckeditor.js"></script>
<script type="text/javascript" src="public/js/ajoutMachine.js"></script>




     {% endblock %}