{% extends 'new_layout.twig' %}
	{% block style %}
		<link href="vendor/fontawesome/css/all.min.css" rel="stylesheet">
		<link rel="stylesheet" href="public/bootstrap/css/bootstrap-select.min.css">
		<link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="public/datatable/datatables.min.css" >
		<link rel="stylesheet" href="public/mdb/css/mdb-file-upload.css"> <!-- File Upload -->
		<link rel="stylesheet" href="public/css/dashboard.css">
		<link rel="stylesheet" href="public/mdb/css/mdb-file-upload.css">
		
	
	{% endblock %}
{% block main %}


 {#""b8    db    888888    db    88      dP"Yb   dP""b8 88   88 888888     88""Yb 88b 88 
dP   `"   dPYb     88     dPYb   88     dP   Yb dP   `" 88   88 88__       88__dP 88Yb88 
Yb       dP__Yb    88    dP__Yb  88  .o Yb   dP Yb  "88 Y8   8P 88""       88"""  88 Y88 
 YboodP dP""""Yb   88   dP""""Yb 88ood8  YbodP   YboodP `YbodP' 888888     88     88  Y#}

<main role="main" class="container-fluid my-3 col-11 container-body">
{# Titre #}
	<div class="col-11 d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
		<div class="h2">Catalogue <i class="fad fa-box-full"></i></div>
		{# <a class="btn btn-outline-primary btn-sm ml-3" href="ArtCatalogueModele">Voir par Modèle.</a> #}
	</div>
{# Bloc Ombragé #}
	<div class="col-11">
		<div class="card shadow mb-4">
{# Barre de recherche et bouton #}
		<form role="form" method="GET" action="ArtCataloguePN">
			{% if results_model > 0 %}
				<h5 class="text-success my-3 mx-4">{{results_model}} Modèles trouvés <small>Sur {{total}} résultats</small></h5>
			{% else %}
				<h5 class="text-danger my-3 mx-4">Aucuns Modèle trouvés </h5>
			{% endif %}
			{% if results > 0  %}
				<h5 class="text-primary my-3 mx-4" >{{results}} Pn trouvés <small>Sur {{total}} résultats</small></h5>
			{% else %}
				<h5 class="text-danger my-3 mx-4" >Aucuns pn trouvés </h5>
			{% endif %}
				
			<div class="d-flex mx-5 my-2 col-8 justify-content-start">
				<h5 class="mt-2 mx-5">Rechercher dans:</h5>
				<div class="form-check form-check-inline">
					<input type="hidden" name="config_demande" value="ok">
					{% if config.model %}
					<input class="form-check-input" type="checkbox" name="config_model" id="inlineCheckbox1" value="true" checked>
					{% else %}
					<input class="form-check-input" type="checkbox" name="config_model" id="inlineCheckbox1" value="true">
					{% endif %}
			
					<label class="form-check-label" for="inlineCheckbox1">Modèles - </label>
				</div>
				<div class="form-check form-check-inline">
					{% if config.pn %}
						<input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="config_pn" value="true" checked>
					{% else %}
						<input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="config_pn" value="true">
					{% endif %}
					<label class="form-check-label" for="inlineCheckbox2">Pn - </label>
				</div>
				<div class="form-check form-check-inline">
					{% if config.neuf %}
						<input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="config_neuf" value="true" checked>
					{% else %}
						<input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="config_neuf" value="true">
					{% endif %}
					<label class="form-check-label" for="inlineCheckbox2">Neuf - </label>
				</div>
				<div class="form-check form-check-inline">
					{% if config.occasion %}
						<input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="config_occasion" value="true" checked>
					{% else %}
						<input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="config_occasion" value="true">
					{% endif %}
					<label class="form-check-label" for="inlineCheckbox2">Occasion - </label>
				</div>
				<div class="form-check form-check-inline">
					{% if config.hs %}
						<input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="config_hs" value="true" checked>
					{% else %}
						<input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="config_hs" value="true">
					{% endif %}
					<label class="form-check-label" for="inlineCheckbox2">Hs</label>
				</div>
			</div>
				
				
			<div class="card-header d-flex flex-row align-items-center justify-content-center">
				<div class="input-group input-group-lg">
					<input type="text" autofocus class="form-control" name="art_filtre" id="art_filtre" placeholder="Rechercher dans le catalogue" value="{{art_filtre}}">
					<div class="input-group-append ">
						<button class="btn btn-lg input-group-text" type="submit" name="art_btn_filtre" title="Rechercher un materiel"><i class="fad fa-bullseye-arrow fa-lg"></i></button>
					</div>
					<a class="btn btn-info btn-lg ml-3" href="ArtCreation">Création</a>
				</div>
			</div>
			
			
		</form> 
		<div class="d-flex flex-row">
			<div class="col-10">
				<div>
					<div class="my-2">
							<a class="btn btn-link " href="recherche-articles-familles">
								<i class="fas fa-search fa-fw"></i> Recherche assistée
							</a>
					</div>		
				</div>
				{% if query_resume %}
				<div class="alert alert-secondary  text-primary" role="alert">
					<small>Résultats pour les paramètres de recherche guidée suivants :</small> <b><i>{{query_resume}}</i></b>
				{% if recherche_precedente %}
				<form class=" my-2 d-flex" method="POST" action="recherche-articles-specs">
					<input type="hidden" name="rechercheJSON" value="{{recherche_precedente["json"]}}">
					<input type="hidden" name="famille" value="{{recherche_precedente["famille"]}}">
					<button class="btn btn-primary btn-sm">
						<i class="fas fa-edit"></i> Modifier la recherche 
					</button>
				</form>
				{% endif %}
				</div>
				{% endif %}
				
			</div>
			
		
		</div>
{# Tableau #}
		<div class="card-body">
			<div class="chart-area">
				<table class="table table-striped">
					
					<tbody>
						<tr>
							<th >
								<div class="d-flex justify-content-start">
									Modèle/Pn
								</div>
								
							</th>
							<th>
								<div class="d-flex justify-content-center">
									Caractéristiques
								</div>
							</th>
							<th>
								<div class="d-flex justify-content-center">
									Images
								</div>
							</th>
							<th>
								<div class="d-flex justify-content-center">
									Picto
								</div>
							</th>
						</tr>
						{% for model in model_list %}
						
							<tr>
								<th style="width: 290px">
									<b>
										<h4 class="text-success"><small>MODELE : </small> {{ model.afmm__modele }} </h4>
									</b>
									<span class="text-muted font-italic">
										{{ model.famille ~ " " ~ model.am__marque }}
										{% if model.count_relation == 1 %}
										<br>
										<a href="ArtCataloguePN?search={{model.pn}}&config_pn=true">
										{{ "PN: " ~    model.pn ~ "" }}
										</a>
										d
										{% elseif model.count_relation == 0 %}
										- Pas de pn rattachés
										{% else %}
										<br>
											{% for relation in model.relations %}
														<a href="ArtCataloguePN?search={{relation.apn__pn}}&config_model=true">{{ "  " ~ relation.apn__pn_long ~ "" }}</a> - 
											{% endfor %}
										{% endif %}
								
									</span>
								</th>
								<td>
									<div class="row justify-content-start px-auto  text-success">
										{% for spec in model.specs %}
											{% if spec.text_cle %}
												{{ spec.text_cle }} :
											{% else %}
									
											{% endif %}
												{% for value in spec.data %}
													{{value.valeur_txt}}
													{% if loop.last %}
														●
													{% else %}
														-
													{% endif %}
												{% endfor %}
								
										{% endfor %}
									</div>
								</td>
									<td>
										{% if model.afmm__image %}<figure class="image"><img src="data:image/jpeg;base64,{{ model.afmm__image|raw}}" width=110>
										</figure>{% endif %}
									</td>
									<td style="width: 270px">
										<div class="d-flex flex-wrap justify-content-start">
											<div class="d-flex col-2">
												{% if model.neuf %}
												<a href="http://intranet/locator_query.php?f_art={{model.afmm__modele}}" target="_blank" >
													<span class="fa-stack " style="vertical-align: top;"  data-toggle="tooltip" data-placement="top"
													title="Neuf" >
														<i class="fas fa-circle fa-stack-2x " style="color: #569500"> </i>
														<i class=" fa-stack-1x text-white">{{ model.neuf}}</i>
													</span>	
												</a>
												{% else %}
												<a href="http://intranet/locator_query.php?f_art={{model.afmm__modele}}" target="_blank" class="disabled" data-toggle="tooltip" data-placement="top"
												title="Neuf" >
													<button type="button" class="click-span btn btn-link disabled" data-toggle="tooltip" data-placement="top" title="Neuf">
														<i class="fas fa-circle fa-lg" style="color: #569500"></i>
													</button>
												</a>
												
												{% endif %}
												
											</div>
											<div class="d-flex col-2">
												{% if model.occasion  %}
												<a href="http://intranet/locator_query.php?f_art={{model.afmm__modele}}" target="_blank">
													<span class="fa-stack" style="vertical-align: top;"  data-toggle="tooltip" data-placement="top"
													title="Occasion">
														<i class="fas fa-circle fa-stack-2x " style="color: #E55500"> </i>
														<i class=" fa-stack-1x text-white">{{ model.occasion}}</i>
													</span>	
												</a>
												{% else %}
												<a href="http://intranet/locator_query.php?f_art={{model.afmm__modele}}" target="_blank">
													<button type="button" class="click-span btn btn-link disabled" data-toggle="tooltip" data-placement="top"
													title="Occasion">
													<i class="fas fa-circle fa-lg" style="color: #E55500"></i>
													</button>
												</a>	
												{% endif %}
												
											</div>
											<div class="d-flex col-2">
												{% if model.hs %}
												<a href="http://intranet/locator_query.php?f_art={{model.afmm__modele}}" target="_blank">
													<span class="fa-stack" style="vertical-align: top;"  data-toggle="tooltip" data-placement="top"
													title="Hs">
														<i class="fas fa-circle fa-stack-2x " style="color: #E74F4F"> </i>
														<i class=" fa-stack-1x text-white">{{ model.hs}}</i>
													</span>	
												</a>
													
												{% else %}
												<a href="http://intranet/locator_query.php?f_art={{model.afmm__modele}}" target="_blank">
													<button type="button" class="click-span btn btn-link disabled" data-toggle="tooltip" data-placement="top"
													title="Occasion">
													<i class="fas fa-circle fa-lg" style="color: #E74F4F"></i>
													</button>
												</a>	
													
												{% endif %}
											
												
											</div>
												<div class="d-flex col-2">
													<form action="http://www.google.com/search" method="get" target="_blank">
														<input type="hidden" name="q" value="{{model.afmm__modele}}">
														<button class="btn btn-link " data-toggle="tooltip" data-placement="top" title="Rechercher sur google">
															<i class="fab fa-google fa-lg"></i>
														</button>
													</form>
												</div>
											<div class="d-flex col-2">
												<button type="button" class="click-span btn btn-link" data-toggle="tooltip" data-placement="top"
													title="{{model.nom ~  " " ~ model.prenom }}">
													<i class="fas fa-user-tag fa-lg"></i>
												</button>
											</div>
											<div class="d-flex col-2">
											</div>
											<div class="d-flex col-2">
												<div data-toggle="tooltip" data-placement="top" title="Demande D'achat">
													<a href=" http://intranet/locator_catalogue.php?filtre={{model.afmm__modele}}" target="_blank">
														<button class="btn btn-link">
																<i class="fas fa-tag fa-lg"></i>
														</button>
													</a>
												</div>	
											</div>
											<div class="d-flex col-2">
												<div data-toggle="tooltip" data-placement="top" title="Demande de prix">
													<a href=" http://intranet/locator_catalogue.php?filtre={{model.afmm__modele}}" target="_blank">
														<button class="btn btn-link">
															<i class="fas fa-calculator fa-lg"></i>
														</button>
													</a>
												</div>
											</div>
											<div class="d-flex col-2">
													<div data-toggle="tooltip" data-placement="top" title="Modifier">
														<a href="ArtCreation?id_fmm={{model.afmm__id}}">
														<button class="btn btn-link ">
															<i class="fas fa-edit fa-lg"></i>
														</button>
														</a>
													</div>
											</div>				
										</div>
									</td>
							</tr>
						{% endfor %}
						{% for pn in pn_list %}	
						<tr>
							<th style="width: 290px"> 
								<b><h4 class="text-primary"><small >PN : </small> {{ pn.apn__pn_long  }} </h4></b>
								<span class="text-muted font-italic">
										{% if pn.apn__famille == "PID" or  pn.apn__famille == "ACC" %}
											{{pn.famille}} <br>
										{% else %}
											{{ pn.famille  ~ " " ~  pn.marque  }} 
										{% endif %}
								
									{% if pn.count_relation == 1  %}
									<a href="ArtCataloguePN?search={{pn.modele}}&config_model=true">{{ "  " ~ pn.modele ~ "" }}</a>
										
									{% elseif pn.count_relation == 0  %}
										 - Pas de modèle rattachés
									{% else  %}
											{% for relation in pn.relations %}
												{% if relation.afmm__id != '100' or  relation.afmm__id != '101'  %}
													<a href="ArtCataloguePN?search={{relation.afmm__famille}}&config_model=true">{{ "  " ~ relation.afmm__modele ~ "" }}</a> - 
												{% endif %}
											{% endfor %}
									{% endif %}
									
								</span> 
								<h6 class="text-muted">{{pn.apn__desc_short}}</h6>
							</th>
							
							<td>
								<div class="row justify-content-start px-auto  text-primary">
									{% for spec in pn.specs %}
										{% if spec.text_cle %}
											 {{ spec.text_cle }} :  
										{% else %}
									
										{% endif %}
										{% for value in spec.data %}
											 {{value.valeur_txt}} 
											{% if loop.last %}
												●
												{% else %}
												-
											{% endif %}
										{% endfor %}
								   {% endfor %}
								</div>
							</td>
							<td>
								{% if pn.apn__image  %}<figure class="image" ><img src="data:image/jpeg;base64,{{ pn.apn__image|raw}}" width=110></figure>{% endif %}
							</td>
						
							<td style="width: 270px">
								<div class="d-flex flex-wrap justify-content-start" >
									<div class="d-flex col-2">
										{% if pn.neuf %}
										<a href="http://intranet/locator_query.php?f_art={{pn.apn__pn}}" target="_blank" >
											<span class="fa-stack " style="vertical-align: top;"  data-toggle="tooltip" data-placement="top"
											title="Neuf" >
												<i class="fas fa-circle fa-stack-2x " style="color: #569500"> </i>
												<i class=" fa-stack-1x text-white">{{ pn.neuf}}</i>
											</span>	
										</a>
										{% else %}
										<a href="http://intranet/locator_query.php?f_art={{pn.apn__pn}}" target="_blank" class="disabled" data-toggle="tooltip" data-placement="top"
												title="Neuf" >
													<button type="button" class="click-span btn btn-link disabled" data-toggle="tooltip" data-placement="top" title="Neuf">
														<i class="fas fa-circle fa-lg" style="color: #569500"></i>
												</button>
										</a>
										{% endif %}
									</div>
									<div class="d-flex col-2">
										{% if pn.occasion %}
										
										<a href="http://intranet/locator_query.php?f_art={{pn.apn__pn}}" target="_blank" >
											<span class="fa-stack " style="vertical-align: top;"  data-toggle="tooltip" data-placement="top"
											title="Occasion" >
												<i class="fas fa-circle fa-stack-2x " style="color: #E55500"> </i>
												<i class=" fa-stack-1x text-white">{{pn.occasion}}</i>
											</span>	
										</a>
											
										{% else %}
										<a href="http://intranet/locator_query.php?f_art={{pn.apn__pn}}" target="_blank" class="disabled" data-toggle="tooltip" data-placement="top"
												title="Occasion" >
													<button type="button" class="click-span btn btn-link disabled" data-toggle="tooltip" data-placement="top" title="Occasion">
														<i class="fas fa-circle fa-lg" style="color: #E55500"></i>
												</button>
										</a>
										{% endif %}
									</div>
									<div class="d-flex col-2">
										{% if pn.hs %}
										<a href="http://intranet/locator_query.php?f_art={{pn.apn__pn}}" target="_blank" >
											<span class="fa-stack " style="vertical-align: top;"  data-toggle="tooltip" data-placement="top"
											title="Hs" >
												<i class="fas fa-circle fa-stack-2x " style="color: #E74F4F"> </i>
												<i class=" fa-stack-1x text-white">{{pn.hs}}</i>
											</span>	
										</a>
											
										{% else %}
										<a href="http://intranet/locator_query.php?f_art={{pn.apn__pn}}" target="_blank" class="disabled" data-toggle="tooltip" data-placement="top"
												title="Hs" >
													<button type="button" class="click-span btn btn-link disabled" data-toggle="tooltip" data-placement="top" title="Hs">
														<i class="fas fa-circle fa-lg" style="color: #E74F4F"></i>
												</button>
										</a>
											
										{% endif %}
										
									</div>
									
									<div class="d-flex col-2">
										<button type="button" class="click-span btn btn-link" data-toggle="tooltip" data-placement="top"
											title="{{pn.nom ~  " " ~ pn.prenom }}">
											<i class="fas fa-user-tag fa-lg"></i>
										</button>
									</div>
									<div class="d-flex col-2">
										{% if pn.apn__desc_long %}
											<button type="button" class="click-span btn btn-link " data-toggle="tooltip" data-placement="top"
												title="{{ pn.apn__desc_long|raw}}">
												<i class="fas fa-file-alt fa-lg"></i>
											</button>
										{% else %}
											<button type="button" class="click-span btn btn-link " data-toggle="tooltip" data-placement="top"
												title="pas de description longue" disabled>
												<i class="fas fa-file-alt fa-lg"></i>
											</button>
										{% endif %}
										
									</div>
									<div class="d-flex col-2">
										<div data-toggle="tooltip" data-placement="top" title="Demande D'achat">
											<a href=" http://intranet/locator_catalogue.php?filtre={{pn.apn__pn}}" target="_blank">
												<button class="btn btn-link">
													<i class="fas fa-tag fa-lg"></i>
												</button>
											</a>
										</div>
									</div>
									<div class="d-flex col-2">
										<div data-toggle="tooltip" data-placement="top" title="Demande de prix">
											<a href=" http://intranet/locator_catalogue.php?filtre={{pn.apn__pn}}" target="_blank">
												<button class="btn btn-link">
													<i class="fas fa-calculator fa-lg"></i>
												</button>
											</a>
										</div>
									</div>
									<div class="d-flex col-2">
										<form method="POST" action="create-pn-third" data-toggle="tooltip" data-placement="top" title="Modifier">
											<input type="hidden" name="id_pn" value="{{pn.apn__pn}}">
											<button class="btn btn-link " >
												<i class="fas fa-edit fa-lg"></i>
											</button>
										</form>
									</div>
									<div class="d-flex col-2">
										<form action="http://www.google.com/search" method="get" target="_blank">
											<input type="hidden" name="q" value="{{pn.apn__pn}}">
											<button class="btn btn-link " data-toggle="tooltip" data-placement="top" title="Rechercher sur google">
												<i class="fab fa-google fa-lg"></i>
											</button>
										</form>
									</div>
								</div>	
						    </td>
						  </tr>
						{% endfor %}
					</tbody>
				</table>

			</div>
		</div>

	</div>
</div>
</main>

{% endblock %}


{% block script %}
<!-- Optional JavaScript -->
<script  type="text/javascript" src="public/js/devisFunction.js"></script> 

<!-- jQuery first, then Bootstrap JS -->
<script  type="text/javascript" src="public/datatable/datatables.min.js"></script>
<script  type="text/javascript" src="public/bootstrap/js/bootstrap.bundle.min.js"></script>
<script  type="text/javascript" src="public/bootstrap/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="public/ckE2/build/ckeditor.js"></script>
<script  type="text/javascript" src="public/js/client.js"></script>
<script  type="text/javascript" src="public/js/client2.js"></script>
<script type="text/javascript" src="public/mdb/js/mdb.min.js"></script> <!-- MDB core JavaScript -->
<script type="text/javascript" src="public/mdb/js/mdb-file-upload.min.js"></script>

<script>

	$('.file_upload').file_upload();</script> {# pour le file_upload #}
  {% endblock %}
