{% extends 'new_layout.twig' %}
{% block style %}
	<link rel="stylesheet" type="text/css" href="vendor/fontawesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="public/bootstrap/css/bootstrap-select.min.css">
	<link rel="stylesheet" type="text/css" href="public/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="public/datatable/datatables.min.css" >
	<link rel="stylesheet" type="text/css" href="public/mdb/css/mdb-file-upload.css"> <!-- File Upload -->
	<link rel="stylesheet" type="text/css" href="public/css/dashboard.css">
	<link rel="stylesheet" type="text/css" href="public/mdb/css/mdb-file-upload.css">
{% endblock %}

{% block main %}
{# en paramettre je recupere action qui me donne Creat ou Modif, l'option par defaut est Creat. #}
{% set Modif = FALSE %}
{% if action == 'Modif' %}
	{% set Modif = TRUE %}
{% endif %}

{% set Creat = FALSE %}
{% if action == 'Creat' %}
	{% set Creat = TRUE %}
{% endif %}

{% set selected = ' selected' %}

{# valeur pour les champs remplie en cas de modif #}
{% if Modif %}
	{% set descom = ArtFmm.afmm__design_com %}
{% endif %}

{#8888 88 888888 88""Yb 888888
  88   88   88   88__dP 88__
  88   88   88   88"Yb  88""
  88   88   88   88  Yb 88888#}

<main role="main" class="container-fluid my-3 col-11 container-body">
	<div class="col-11 d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
	{% if Modif %}
		<h1 class="h2">Modification de Modèle <i class="fad fa-user-edit"></i></h1>
	{% endif %}
	{% if Creat %}
		<h1 class="h2">Création de Modèle <i class="fad fa-robot"></i></h1>
	{% endif %}
	</div>

{#""Yb 88      dP"Yb   dP""b8     .dP"Y8    db    88 .dP"Y8 88 888888 
88__dP 88     dP   Yb dP   `"     `Ybo."   dPYb   88 `Ybo." 88 88__   
88""Yb 88  .o Yb   dP Yb          o.`Y8b  dP__Yb  88 o.`Y8b 88 88""   
88oodP 88ood8  YbodP   YboodP     8bodP' dP""""Yb 88 8bodP' 88 88888#}
	<div class="col-11">
		<div class="card shadow mb-4">
			<div class="card-body">
				<form  enctype="multipart/form-data" method="POST" action="U_ArtUpdate">
					<input type="hidden" name={{action}}>
					{% if Modif %}
						<input type="hidden" name="id_fmm" value="{{id_fmm}}">
					{% endif %}

{# Famille #}
					<div class="form-group row">
						<div class="col-3">
							<div class="form-control-lg">
								<i class="fad fa-object-group fa-lg fa-fw"></i> Famille :
							</div>
						</div>
						<div class="col-9">
							<select class="selectpicker form-control" name="famille" multiple data-live-search="true" title="Choisir une famille" data-live-search-placeholder="Rechercher ici" data-max-options="1" required>
								{% for Famille in ArtFamille  %}
								<option value={{Famille.kw__value}}{% if Famille.kw__value == ArtFmm.afmm__famille %}{{selected}}{% endif %}>{{Famille.kw__lib}}</option>
								{% endfor %}
							</select>
						</div>
					</div>

{# Marque #}
					<div class="form-group row">
						<div class="col-3">
							<div class="form-control-lg">
								<i class="fad fa-trademark fa-lg fa-fw"></i> Marque :
							</div>
						</div>
						<div class="col-9">
							<select class="selectpicker form-control" name="marque" multiple data-live-search="true" title="Choisir une marque" data-live-search-placeholder="Rechercher ici" data-max-options="1" required>
								{% for Marque in ArtMarque  %}
								<option value={{Marque.am__id}}{% if Marque.am__id == ArtFmm.afmm__marque %}{{selected}}{% endif %}>{{Marque.am__marque}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
{# Modele #}
					<div class="form-group row">
						<div class="col-3">
							<div class="form-control-lg">
								<i class="fad fa-clipboard-check fa-lg fa-fw"></i> Modèle :
							</div>
						</div>
						<div class="col-9">
							<div class="input-group">
								<input type="text" class="form-control" name="modele" placeholder="Saisir votre nouveau modele" value="{{ArtFmm.afmm__modele}}" required>
							</div>
						</div>
					</div>

{# Dénomnation commercial #}
					<div class="form-group row">
						<div class="col-3">
							<div class="form-control-lg">
								<i class="fad fa-comment-smile fa-lg fa-fw"></i> Libellé commercial :
							</div>
						</div>
						<div class="col-9">
							<div class="input-group">
								<input type="text" class="form-control" name="descom" placeholder="Désignation pour les devis et factures (optionel)" value="{{ArtFmm.afmm__design_com}}">
							</div>
						</div>
					</div>

{# Image #}
					<div class="form-group row">
						<div class="col-3">
							<div class="form-control-lg">
								<i class="fad fa-image fa-lg fa-fw"></i> Photo :<br><br>
								{% if ArtFmm.afmm__image %}
								<div align=center><img src="data:image/jpeg;base64,{{ArtFmm.afmm__image|raw}}" width=110></div>
								{% else %}
								<div align=center><img src="public/img/nophoto.png" width=110></div>
								{% endif %}
							</div>
						</div>
						<div class="col-3">
							<div class="file-upload-wrapper">
									<input type="file" name="modele_image" id="modele_image" class="file_upload" 
									data-max-file-size="2M" data-height="250" defaultMsg="IMMAGE DU PRODUIT" />
							</div>
						</div>
{# Doc #}
						<div class="col-3">
							<div class="form-control-lg">
								<i class="fad fa-file-pdf fa-lg fa-fw"></i> Doc (PDF) :<br><br>
								{% if ArtFmm.afmm__doc %}
								<div align=center>DOC</div>
								{% else %}
								<div align=center><img src="public/img/nopdf.png" width=110></div>
								{% endif %}

							</div>
						</div>
						<div class="col-3">
							<div class="file-upload-wrapper">
								<div class="input-group">
									<input type="file" name="modele_doc" id="modele_doc" class="file_upload" data-max-file-size="3M" data-height="250"/>
								</div>
							</div>
						</div>
					</div>

{# Validation #}
					<div class="form-group row">
						<div class="col-12">
							<div class="card">
								<button type="submit" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Valider votre création"> Valider</button>
							</div>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
	</main>

{% endblock %}


{% block script %}
<!-- Optional JavaScript -->
<script type="text/javascript" src="public/js/devisFunction.js"></script> 

<!-- JavaScript divers (garder l'ordre) -->
<script type="text/javascript" src="public/datatable/datatables.min.js"></script> <!-- jquery -->
<script type="text/javascript" src="public/bootstrap/js/bootstrap.bundle.min.js"></script> <!-- bootstrp et addon -->
<script type="text/javascript" src="public/bootstrap/js/bootstrap-select.min.js"></script> <!-- addon bootstrap select  -->
<script type="text/javascript" src="public/ckE2/build/ckeditor.js"></script> <!-- editeur amelioré -->
<script type="text/javascript" src="public/mdb/js/mdb.min.js"></script> <!-- MDB core JavaScript -->
<script type="text/javascript" src="public/mdb/js/mdb-file-upload.min.js"></script> <!-- addon MDB pour upload -->
<script>$('.file_upload').file_upload();</script> <!-- Pour le file_upload -->

{% endblock %}