{% extends 'new_layout.twig' %}


  {% block style %}
<link href="vendor/fontawesome/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap-select.min.css">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="public/css/dashboard.css">
  {% endblock %}
 
 
{% block main %}
        <main role="main" class="container my-3 col-11 container-body"> 
              {% if client_list %}
              <div class="col-12">

                      <table  class="table table-striped col-9">
                        <thead>
                                <tr>
                                        <th scope="col"><h5>(ID)Société</h5></th>
                                        <th scope="col" class="text-center"><h5>Vendeur</h5></th>
                                        <th scope="col" class="text-center"><h5>Téléphone</h5></th>
                                        <th scope="col" class="text-center"><h5>Dernière modif</h5></th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for client in client_list %}
                                        <tr>
                                                <th > <custom-form-button-mini method='POST' url='search_switch' name='search' value='{{client.client__id}}'
                                                        logo='
                                                        <div class="d-flex flex-row ">({{client.client__id}}) <b>{{client.client__societe}} {{  client.client__adr1 ~ " " ~ client.client__cp ~ " " ~ client.client__ville}} </b>        
                                                        </div>'>
                                                        </custom-form-button-mini></th>
                                                <td class="text-center align-middle">{{client.nom_vendeur ~ " " ~ client.prenom_vendeur}}</td>
                                                <td class="text-center align-middle">{{client.client__tel}}</td>
                                                <td class="text-center align-middle">{{client.client__dt_last_modif}}</td>
                                        </tr>
                                {% endfor %}
                              </tbody>
                      </table>
              </div>
              {% elseif commande_list %}
              <div class="d-flex justify-content-center">
                        <table  class="table table-striped col-8">
                                <thead>
                                        <tr>
                                          <th scope="col" class="text-center"><h5>N°/Client/CP/Ville</h5></th>
                                          <th scope="col" class="text-center"><h5>Titre</h5></th>
                                          <th scope="col" class="text-center"><h5>Date Devis</h5></th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        {% for commande in commande_list %}
                                                <tr>
                                                        <td class="text-center align-middle"> 
                                                                <div class="d-flex text-center align-middle">
                                                                        <custom-form-button-mini method='POST' url='search_switch' name='search' value='{{commande.cmd__id}}'
                                                                        logo='
                                                                        <div class="d-flex flex-row "><i class="fas fa-search-plus fa-2x"></i></b>         
                                                                        </div>'>
                                                                        </custom-form-button-mini>
                                                                        <h4>{{commande.cmd__id}}</h4>
                                                                        <h5 class="mx-3 text-muted ">
                                                                                {{     " ("  ~ commande.client__id ~ ")  " ~ commande.client__societe ~ " -  " ~  commande.client__cp ~ " - " ~ commande.client__ville  }}
                                                                        </h5>
                                                                </div>
                                                               
                                                        </td>
                                                        <td class="text-center align-middle">{{commande.cmd__nom_devis}}</td>
                                                        <td class="text-center align-middle">{{commande.cmd__date_devis}}</td>
                                                </tr>
                                        {% endfor %}
                                      </tbody>
                              </table>
              </div>
                
              {% else %}
              <div class="alert alert-danger" role="alert">
                Aucuns résultat pour cette recherche : 
              </div>
              {% endif %}
        </main>
{% endblock %}
     
    
{% block script %}
<!-- Optional JavaScript -->
<script  type="text/javascript" src="public/js/devisFunction.js"></script> 
<!-- jQuery first, then Bootstrap JS -->
<script  type="text/javascript" src="public/datatable/datatables.min.js"></script>
<script  type="text/javascript" src="public/bootstrap/js/bootstrap.bundle.min.js"></script>
<script  type="text/javascript" src="public/bootstrap/js/bootstrap-select.min.js"></script>
{% endblock %}