{% extends 'layoutMain.twig' %}


  {% block style %}
  <link href="vendor/fontawesome/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap-select.min.css">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="public/css/dashboard.css">
  {% endblock %}
 
 
{% block main %}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4"> 
              {% if client_list %}
              <div class="col-12">
                <ul class="list-group list-group-flush">
                        
                        {% for client in client_list %}
                                <li class="list-group-item d-flex justify-content-start align-items-center">
                                        <span class="mx-3">
                                                <custom-form-button-mini method='POST' url='search_switch' name='search' value='{{client.client__id}}'
                                                logo='
                                                <div class="d-flex flex-row ">({{client.client__id}}) <b>{{client.client__societe}} {{client.client__cp ~ " " ~ client.client__ville}} </b> <div class="d-flex flex-row ">
                                                        {% if client.nom_vendeur %}
                                                                <div class="mx-3">
                                                                        <small><i>vendeur: </i></small> {{client.nom_vendeur ~ " " ~ client.prenom_vendeur}}
                                                                </div>
                                                        {% endif %}
                                                        {% if client.client__tel %}
                                                                <div class="mx-3">
                                                                        <small><i>tel:</i></small> {{client.client__tel}}
                                                                </div>   
                                                        {% endif %}
                                                        {% if client.client__dt_last_modif %}
                                                                <div class="mx-3">
                                                                        <small><i>dernière modif:</i></small> {{client.client__dt_last_modif}}
                                                                </div>   
                                                        {% endif %}
                                                </div></div>'>
                                                </custom-form-button-mini>      
                                        </span>  
                                       
                                </li>
                              
                        {% endfor %} 
                </ul>
              </div>
              {% elseif commande_list %}
              <div class="col-12">
                <ul class="list-group list-group-flush">
                        
                        {% for commande in commande_list %}
                                <li class="list-group-item d-flex justify-content-start align-items-center">
                                       <span class="mx-3">
                                        <custom-form-button-mini method='POST' url='search_switch' name='search' value='{{commande.cmd__id}}'
                                        logo='
                                        <div class="d-flex flex-row ">N°{{commande.cmd__id}} -  <b>  {{ commande.client__societe}} {{commande.client__cp ~ " " ~ commande.client__ville}} </b> <div class="d-flex flex-row ">
                                               
                                                        <div class="mx-3">
                                                                 {{commande.cmd__nom_devis}}
                                                        </div>
                                                        <div class="mx-3">
                                                                <b>{{commande.cmd__date_devis}}</b>
                                                       </div>
                                               
                                        </div></div>'>
                                        </custom-form-button-mini>      
                                </span>  
                                       
                                </li>
                              
                        {% endfor %} 
                </ul>
              </div>
                
              {% else %}
              <div class="alert alert-danger" role="alert">
                Aucuns résultat pour cette recherche : 
              </div>
              {% endif %}
        </main>
{% endblock %}
     
    
{% block script %}
<!-- Optional JavaScript -->
<script  type="text/javascript" src="public/js/devisFunction.js"></script> 
<!-- jQuery first, then Bootstrap JS -->
<script  type="text/javascript" src="public/datatable/datatables.min.js"></script>
<script  type="text/javascript" src="public/bootstrap/js/bootstrap.bundle.min.js"></script>
<script  type="text/javascript" src="public/bootstrap/js/bootstrap-select.min.js"></script>
{% endblock %}