{% extends 'new_layout.twig' %}
{% block style %}
<link href="vendor/fontawesome/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap-select.min.css">
<link rel="stylesheet" type="text/css" href="public/datatable/datatables.min.css">
<link rel="stylesheet" href="public/css/dashboard.css">
<link rel="stylesheet" href="public/css/forms.css">
<link rel="stylesheet" href="public/css/cards.css">
<link rel="stylesheet" href="public/css/font-family.css">
{% endblock %}
{% block main %}
<main role="main" class=" container-body background-recode ">
  <div class="container pt-2 ">
    <div class=" pt-2 ">
        <div  class="col-12 col-sm-9 mx-auto">
          <div class="d-flex justify-content-center">
              <div class="col-4 text-white display-logo">
				{{ include('display/display_logo_ticket.html.twig')}}
              </div>
              <div class="card-recode d-flex flex-column col-12 col-lg-8">
                	<h2 class="recode-orange-title"> Ticket {{ticket.tk__id}}</h2>
					<p class="recode-p">{{ticket.tk__memo}}<br> 
						<span class="text-dark font-weight-bold text-uppercase">En cours chez {{ ticket.last.user__prenom ~ " " ~ ticket.last.user__nom }}</span>
					</p>
              </div>
          </div>
          <div class="form-group pt-2">
            {% for ligne in ticket.lignes %}
              {{ include('display/display_ticket_lignes_myrecode.html.twig')}}
            {% endfor %}
			<div class="d-flex flex-column align-items-center my-4">
				{% if ticket.tk__lu != 2 %}
				{% if next_action %}
						{% for group in user_groups %}
								{% if group.id_groupe  == 1012  and ticket.tk__motif =='DP' %}
									<form action="tickets-handle-forms" method="POST" id="action_directe_DCOM">
												<input type="hidden" name="tickets" value="{{ticket.tk__id}}">
												<input type="hidden"  name="scenario" value="137">
									</form>
									<button type="button" id="action_directe_DCOM_button" class="btn btn-recode-yellow-custom my-2 col-12 col-md-6 col-lg-4">Répondre au demandeur</button>
								{% endif %}
						{% endfor %}
					{% endif %}
					{% if next_action %}
						<button type="button" class="btn btn-recode my-2 col-12 col-md-6 col-lg-4" data-toggle="modal"
							data-target=".modal-validation-ticket">Modifier le ticket</button>
					{% endif %}
					
					{% if ticket.tk__lu != 0 %}
						<a href="/SoftRecode/tickets-display-list?nonLu={{ticket.tk__id}}" class="btn btn-recode-primary my-2 col-12 col-md-6 col-lg-4" >Repasser le ticket en non lu</a>
					{% endif %}
					<button type="button" class="btn btn-recode-danger col-12  my-2 col-md-6 col-lg-4" data-toggle="modal" data-target="#modalCloture">Cloturer le ticket</button>
				{% endif %}
			</div>
          </div>
		  {#modal #}
          <div class="modal fade modal-validation-ticket" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered  modal-lg  ">
			  <div class="modal-content modal-recode ">
				  <form action="tickets-handle-forms" method="POST">
					  	<div class="d-flex flex-column my-5 justify-content-center">
							<div class="d-flex justify-content-center text-center">
								<h1 class="font-weight-bold">Que voulez-vous faire ? </h1>
								<input type="hidden" name="tickets" value="{{ticket.tk__id}}">
							</div>
							<div class=" col-12 d-flex justify-content-center my-5">
								<select class=" col-11 col-md-10 col-lg-7 custom-select form-control-lg input-recode" name="scenario" required>
									{% for action in next_action %}
											<option value="{{action.tks__id}}">{{action.tks__lib}}</option>
									{% endfor %}
								</select>
							</div>
							<div class=" col-12 d-flex justify-content-center my-5">
								<button type="submit" class="btn btn-recode my-2 col-xs-7 col-md-4">Valider</button>
							</div>
						</div>	
				  </form>
			  </div>
			</div>
		  </div>
		  {# modal de cloture  #}
		  <div class="modal fade modal-cloture-ticket" id="modalCloture" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered  modal-lg  ">
			  <div class="modal-content modal-recode ">
				  <form action="tickets-display-list" method="POST">
					  	<div class="d-flex flex-column my-5 justify-content-center align-items-center">
							<div class="d-flex justify-content-center text-center">
								<h1 class="font-weight-bold">Confirmation de cloture du ticket  </h1>
								<input type="hidden" name="ticketsCloture" value="{{ticket.tk__id}}">
							</div>
							{# <div class=" col-12 col-lg-9 d-flex justify-content-center my-5">
								<textarea class="form-control  form-control-lg input-recode" name="commentaire"  placeholder="Laisser un commentaire"  rows="3" required></textarea>
							</div> #}
							<div class=" col-12 d-flex justify-content-center my-5">
								<button type="submit" class="btn btn-recode-danger my-2 col-xs-7 col-md-4">Cloturer</button>
							</div>
						</div>	
				  </form>
			  </div>
			</div>
		  </div>
        </div>
    </div>
       
  </div>
</main>
{% endblock %}
{% block script %}
<!-- jQuery first, then Bootstrap JS -->
<script type="text/javascript" src="public/datatable/datatables.min.js"></script>
<script type="text/javascript" src="public/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="public/bootstrap/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="public/js/display_ticket.js"></script>

{% endblock %}