{% extends 'new_layout.twig' %}
{% block style %}
<link href="vendor/fontawesome/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap-select.min.css">
<link rel="stylesheet" type="text/css" href="public/datatable/datatables.min.css">
<link rel="stylesheet" href="public/css/dashboard.css">
<link rel="stylesheet" href="public/css/forms.css">
<link rel="stylesheet" href="public/css/cards.css">
<link rel="stylesheet" href="public/css/font-family.css">
{% endblock %}
{% block main %}
<main role="main" class=" container-body background-recode ">
  <div class="container pt-2 ">
    <div class=" pt-2 ">
        <div  class="col-12 col-sm-9 mx-auto">
          <div class="d-flex justify-content-center">
              <div class="col-4 text-white display-logo">
				{{ include('display/display_logo_ticket.html.twig')}}
              </div>
              <div class="card-recode d-flex flex-column col-12 col-lg-8">
                	<h2 class="recode-orange-title"> Ticket {{ticket.tk__id}}</h2>
					<p class="recode-p">{{ticket.tk__memo}}<br> 
						<span class="text-dark font-weight-bold text-uppercase">En cours chez {{ ticket.last.user__prenom ~ " " ~ ticket.last.user__nom }}</span>
					</p>
              </div>
          </div>
          <div class="form-group pt-2">
            {% for ligne in ticket.lignes %}
              {{ include('display/display_ticket_lignes_myrecode.html.twig')}}
            {% endfor %}
            <form action="myRecode-ticket" method="post">
                <input type="hidden" name="ticket" value="{{ticket.tk__id}}">
                {{ include('forms/forms_myrecode.html.twig')}}
                <div class="d-flex flex-row align-items-center my-4">
                    {% if ticket.tk__lu != 2 %}
                        {% if ticket.tk__lu != 0 %}
                            <a href="/SoftRecode/tickets-display-list?nonLu={{ticket.tk__id}}" class="btn btn-recode-primary mx-1 col-12 col-md-6 col-lg-4" >Repasser en non lu</a>
                        {% endif %}
                        <button type="submit" class="btn btn-recode-important col-12  mx-1 col-md-6 col-lg-4" >Envoyer </button>
                    {% endif %}
                </div>
            </form>
          </div>
        </div>
    </div>
       
  </div>
  {{include('display/display_file_upload.html.twig')}}
</main>
{% endblock %}
{% block script %}
<!-- jQuery first, then Bootstrap JS -->
<script type="text/javascript" src="public/datatable/datatables.min.js"></script>
<script type="text/javascript" src="public/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="public/bootstrap/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="public/js/display_ticket.js"></script>
<script type="text/javascript" src="public/js/file_upload.js"></script>

{% endblock %}