{% extends 'new_layout.twig' %}

{% block style %}
<link href="vendor/fontawesome/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="public/datatable/datatables.min.css">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap-select.min.css">
<link rel="stylesheet" type="text/css" href="public/datatable/datatables.min.css">
<link rel="stylesheet" href="public/css/dashboard.css">
<link rel="stylesheet" href="public/css/forms-myrecode.css">
<link rel="stylesheet" href="public/css/cards-myrecode.css">
<link rel="stylesheet" href="public/css/font-family.css">
<style type="text/css">
    .past_purple {
        background-color: #A7BFE3;
        float: left;
        padding: 3px 5px 3px 5px;
        border-radius: 5px;
    }

    .past_pink {
        background-color: #F9D7E7;
        float: left;
        padding: 3px 5px 3px 5px;
        border-radius: 5px;
    }

    .past_greeen {
        background-color: #CBE5BE;
        float: left;
        padding: 3px 5px 3px 5px;
        border-radius: 5px;
    }
    .past_yellow {
        background-color: #FFF681;
        float: left;
        padding: 3px 5px 3px 5px;
        border-radius: 5px;
    }
    .past_blue {
        background-color: #90A4C3;
        float: left;
        padding: 3px 5px 3px 5px;
        border-radius: 5px;
    }
    .past_pastel {
        background-color: #FBDEDA;
        float: left;
        padding: 3px 5px 3px 5px;
        border-radius: 5px;
    }
    .past_orange {
        background-color: #F1CB9D;
        float: left;
        padding: 3px 5px 3px 5px;
        border-radius: 5px;
    }
    .past_red {
        background-color: #2D2B76;
        float: left;
        color: antiquewhite;
        padding: 3px 5px 3px 5px;
        border-radius: 5px;
    }
    .text-calm{
        font-family: 'Times New Roman', Times, serif !important;
        font-weight: 300 !important;
        box-shadow: none !important;
    }
    .link-reco{
        text-decoration: none;
        color: black;
    }
</style>
{% endblock %}
{% block main %}
<main role="main" class="container-fluid my-3 col-11 container-body">
    <h3 class="recode-p"><i class="fad fa-building"></i></i>Administration MyRecode.fr </h3>
    <p><i class="far fa-question-circle"></i> Société/Utilisateurs/Machines</p>
    <div class="d-flex justify-content-start flex-wrap mt-4">
            <div class="col-4 card-recode">
                <h4 class="recode-p"><i class="fas fa-building"></i> ({{client.cli__id}}) {{client.cli__nom}}</h4>
                <p>
                    {{client.cli__adr1 ~ " " ~ client.cli__adr2 ~ " " ~  client.cli__cp ~ " " ~ client.cli__ville }}
                </p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><div class="past_pastel">
                        <i class="fas fa-users"></i>  {{client.users|length}} utilisateurs
                    </div></li>
                    <li class="list-group-item">
                        <div class="past_orange">
                            <i class="fas fa-layer-group"></i> {{ client.materiels|length  ~ " Machines" }}
                        </div>
                    </li>
                        {% if client.tickets|length > 0 %}
                            <li class="list-group-item">
                                <div class="past_greeen">
                                    <a href="myRecode?search={{client.cli__nom}}&tk__id=&tk__groupe=&TypeFilter=TKM" class="link-reco"><i class="fas fa-ticket"></i> {{ client.tickets|length ~ " tickets en cours" }}</a>
                                </div>
                            </li>
                        {% endif %}
                    <li class="list-group-item">
                        <div class="past_blue">
                            <a href="societe_crea" class="link-reco"><i class="fas fa-pen"></i> Editer dans Soft-Recode</a>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <p><i class="far fa-question-circle"></i> Les changements effectués sur Soft-Recode sont directement mis à jour sur myrecode.fr</p>
                    </li>
                </ul>
            </div>
            <div class="col-7 card-recode mx-4">
                <h4 class="recode-p"><i class="fas fa-users"></i> Utilisateurs</h4>
                <i class="far fa-question-circle"></i> Dans myrecode.fr les e-mails sont uniques et doivent etre confirmés par l'utilisateur.
                <table id="table_id" class="display mt-3">
                    <div class="my-2 float-right">
                        <button class="btn btn-recode-important" data-toggle="modal" data-target="#modalUser">Ajouter</button>
                    </div>
                    <thead>
                        <tr >
                            <th>Nom</th>
                            <th>E-mail</th>
                            <th>Fonction</th>
                            <th>Roles</th>
                            <th>Sociétés</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in client.users %}
                        <tr data-toggle="modal" data-target="#modalUserEdit" >
                            <td> {% if user.user__confirm == 1  %}
                                        <div class="past_greeen mx-2">
                                            <i class="fas fa-user"></i> {{ " " ~ user.user__nom ~ " " ~ user.user__prenom}}
                                        </div> 
                                    {% else %}
                                        <div class="past_orange mx-2">
                                            <i class="fas fa-user"></i> {{ " " ~ user.user__nom ~ " " ~ user.user__prenom}}
                                        </div>
                                {% endif %} 
                            </td>
                            <td>{{user.user__mail}}</td>
                            <td>{{user.user__fonction}}</td>
                            <td>
                                {% if user.roles|length == 0 %}
                                    <div class="past_orange mx-2">
                                        Aucun Roles
                                    </div>
                                {% else %}
                                    {% for row in user.roles %}
                                        {% if row == 'ADUSR' %}
                                            <div class="past_blue mx-2 my-1">
                                                Administrateur d autres utilisateurs
                                            </div><br>
                                        {% elseif row == 'ACHAT' %}
                                            <div class="past_pink mx-2 my-1">
                                                Peut passer des commandes
                                            </div><br>
                                        {% elseif row == 'SUMYR' %}
                                            <div class="past_yellow mx-2 my-1">
                                                Super administrateur RECODE
                                            </div><br>
                                        {% elseif row == 'USER' %}
                                            <div class="past_blue mx-2 my-1">
                                                Utilisateurs
                                            </div><br>
                                        {% elseif row == 'CMAIL' %}
                                            <div class="past_pink mx-2 my-1">
                                                Recevoir commandes par email
                                            </div><br>
                                        {% elseif row == 'ACHPX' %}
                                            <div class="past_yellow mx-2 my-1">
                                                Visu des prix dans commandes
                                            </div><br>
                                        {% elseif row == 'USRAC' %}
                                            <div class="past_orange mx-2 my-1">
                                                Utilisateur Actif
                                            </div><br>
                                        {% elseif row == 'VUBLS' %}
                                            <div class="past_pink mx-2 my-1">
                                                Voir les Bons de Livraisons
                                            </div><br>
                                        {% elseif row == 'VUFAC' %}
                                            <div class="past_yellow mx-2 my-1">
                                                Voir les Factures
                                            </div><br>
                                        {% elseif row == 'VUREF' %}
                                            <div class="past_orange mx-2 my-1">
                                                Voir les ref constructeur (dans catalogue)
                                            </div><br>
                                        {% elseif row == 'VUREF' %}
                                            <div class="past_pink mx-2 my-1">
                                                Voir les ref constructeur (dans catalogue)
                                            </div><br>
                                        {% elseif row == 'VUSOC' %}
                                            <div class="past_blue mx-2 my-1">
                                                Voir les Doc sur la socitété 
                                            </div><br>
                                        {% elseif row == 'VUTEC' %}
                                            <div class="past_orange mx-2 my-1">
                                                Voir les Infos technique
                                            </div><br>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}    
                            </td>
                            <td> 
                                {% set count = 0 %}
                                {% for row in user.clients %}
                                    {% if row.cli__id != client.cli__id %}
                                            {% set count = 1 %}
                                            <a href="displaySocieteMyRecode?cli__id={{row.cli__id}}">{{row.cli__nom}}</a><br>
                                    {% endif %}
                                {% endfor %}
                                {% if count == 0 %}
                                    Aucune autre société 
                                {% endif %}
                            </td>
                            <td>{{user|json_encode() }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
        <div class="d-flex justify-content-start flex-wrap mt-4">

            <div class="col-4 card-recode">
                <h4 class="recode-p"><i class="fas fa-file-signature"></i> Conditions de ventes en ligne</h4>
                <i class="far fa-question-circle"></i> Conditions de vente en ligne 
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="past_pastel" id="sco__type_port_d">
                        <i class="fas fa-fighter-jet"></i> Type de port : 
                    </div></li>
                    <li class="list-group-item">
                            <div class="past_greeen"  id="sco__prix_port_d">
                                <i class="fas fa-euro-sign"></i> prix port : 
                            </div>
                    </li>
                    <li class="list-group-item">
                        <div class="past_blue"  id="sco__vue_ref_d">
                            <i class="fas fa-eye"></i> Vue sur les ref : 
                        </div>
                    </li>
                    <li class="list-group-item">
                        <button class="btn btn-recode-important" data-toggle="modal" data-target="#modalConditionEdit"  type="button" id="button_condition_modal">Modifier</button>
                    </li>
                </ul>
            </div>

            <div class="col-7 card-recode mx-4">
                <h4 class="recode-p"><i class="fas fa-shopping-cart"></i> Boutique en ligne</h4>
                <i class="far fa-question-circle"></i> liste des articles présent dans la boutique MyRecode pour le client 
                <table id="table_bot" class="display mt-3">
                    <div class="my-2 float-right">
                        <button class="btn btn-recode-important"  data-toggle="modal" data-target="#modalSav">Ajouter</button>
                    </div>
                    <thead>
                        <tr>
                            
                        </tr>
                    </thead>
                    <tbody>
                       
                    </tbody>
                </table>
            </div>
        </div>  
        <div class="d-flex justify-content-start flex-wrap mt-4">
            <div class="col-9 card-recode ">
                <h4 class="recode-p"><i class="fas fa-layer-group"></i> Parc Matériel</h4>
                <i class="far fa-question-circle"></i> Vous pouvez directement remplacer un matériel en renseignant un nouveau numéro de série
                <table id="table_mat" class="display mt-3">
                    <div class="my-2 float-right">
                        <button class="btn btn-recode-important"  data-toggle="modal" data-target="#modalmatosAjout">Ajouter</button>
                    </div>
                    <thead>
                        <tr>
                            <th></th>
                            <th>ID</th>
                            <th>Type/Model</th>
                            <th>SN/PN</th>
                            <th>Memo</th>
                            <th>Commande/Contrat</th>
                            <th>Garantie</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in client.materiels %}
                            {% if row.mat__actif == 1  %}
                                <tr>
                            {% else %}
                                <tr >
                            {% endif %}
                                <td>{{row|json_encode()}}</td>
                                <td>{{row.mat__id}}</td>
                                <td>
                                   {% if row.mat__type %}
                                        {% if row.mat__actif == 1  %}
                                            <div class="past_greeen mx-2 my-1">
                                                <b>{{row.mat__type ~ " " ~ row.mat__marque}}<br>{{row.mat__model}}</b>
                                            </div>
                                        {% else %}
                                            <div class="past_yellow mx-2 my-1">
                                                <b>{{row.mat__type ~ " " ~ row.mat__marque}}<br>{{row.mat__model}}</b> <span class="text-danger">INACTIF</span>
                                            </div>
                                        {% endif %}
                                    {% else %}
                                    {% if row.mat__actif == 1  %}
                                            <div class="past_greeen mx-2 my-1">
                                                <b>Non renseigné</b>
                                            </div>
                                        {% else %}
                                            <div class="past_yellow mx-2 my-1">
                                                <b>Non renseigné</b> <span class="text-danger">INACTIF</span>
                                            </div>
                                        {% endif %}
                                   {% endif %}
                                </td>
                                <td>S/N: <b>{{row.mat__sn}}</b><br>
                                    P/N: <b>{{row.mat__pn}}</b><br>
                                </td>
                                <td>
                                   {{row.mat__memo}}
                                </td>
                                <td>
                                    {% if row.mat__ident %}
                                        Commande N°: <b>{{row.mat__ident}}</b><br>
                                    {% else %}
                                        Commande non renseignée
                                    {% endif %}
                                    {% if row.mat__contrat_id %}
                                        Contrat N°:  <b>{{row.mat__contrat_id}}</b>
                                    {% else %}
                                        Contrat non renseigné
                                    {% endif %}
                                </td>
                                <td>
                                    {% if row.mat__kw_tg == "MNT" %}
                                        <div class="past_yellow mx-2 my-1">
                                            Maintenance {{row.mat__date_offg}}
                                        </div>
                                    {% elseif  row.mat__kw_tg == "GRE"  %}
                                        <div class="past_orange mx-2 my-1">
                                            Garantie RECODE {{row.mat__date_offg}}
                                        </div>
                                        
                                    {% elseif  row.mat__kw_tg == "GCO"   %}
                                        <div class="past_pink mx-2 my-1">
                                            Garantie constructeur {{row.mat__date_offg}}
                                        </div>
                                       
                                    {% elseif  row.mat__kw_tg == "LOC"  %}
                                        <div class="past_pink mx-2 my-1">
                                            Location Recode {{row.mat__date_offg}}
                                        </div>
                                    {% else %}
                                        Aucune garantie {{row.mat__date_offg}}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
</main>

<!-- Modal  Utilisateur création-->
<div class="modal fade" id="modalUser" tabindex="-1" role="dialog" aria-labelledby="modalUser"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <form action="displaySocieteMyRecode?cli__id={{client.cli__id}}" method="post" id="forms_user_crea">
                <input type="hidden" id="cli__id" value="{{client.cli__id}}">
                <div class="modal-header">
                    <div>
                        <h5 class="modal-title">Ajout d'un nouvel utilisateur</h5>
                        <p class="my-2"><i class="far fa-question-circle"></i> Un e-mail sera envoyé a l'utilisateur afin qu'il puisse confirmer son
                            adresse e-mail et définir son mot de passe</p>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                    <div class="col-11 d-flex justify-content-start">
                        <div class="col-8">
                            <input class="form-control my-2 input-recode" type="email" name="user__mail" id="user__mail" placeholder="Email" rows="2" ></input>
                        </div>
                    </div>
                    <div class="col-11 d-flex justify-content-start">
                        <div class="col-6">
                            <input class="form-control my-2 input-recode" name="user__nom" id="user__nom" placeholder="Nom" rows="2" ></input>
                        </div>
                        <div class="col-6">
                            <input class="form-control my-2 input-recode" name="user__prenom" id="user__prenom" placeholder="Prénom" rows="2" ></input>
                        </div>
                    </div>
                    <div class="col-11 d-flex justify-content-start">
                        <div class="col-6">
                            <input class="form-control my-2 input-recode" name="user__service" id="user__service" placeholder="Service" rows="2" ></input>
                        </div>
                        <div class="col-6">
                            <input class="form-control my-2 input-recode" name="user__fonction" id="user__fonction" placeholder="Fonction" rows="2" ></input>
                        </div>
                    </div>
                    <div class="col-11 d-flex justify-content-start">
                        <div class="col-6">
                            <input class="form-control my-2 input-recode" name="user__gsm" id="user__gsm" placeholder="Téléphone" rows="2" ></input>
                        </div>
                        <div class="col-6">
                            <select class="form-control my-2 form-control input-recode selectpicker text-calm text-muted" multiple  name="user__role" id="user__role"  >
                                <option value="ADUSR" selected>Administrateur d autres utilisateurs</option>
                                <option value="ACHAT" >Peut passer des commandes</option>
                                <option value="SUMYR">Super administrateur RECODE</option>
                                <option value="CMAIL" >Recevoir commandes par email</option>
                                <option value="TMAIL" >Recevoir les infos tickets par email</option>
                                <option value="USRAC">Utilisateur Actif</option>
                                <option value="VUBLS">Voir les Bons de Livraisons</option>
                                <option value="VUFAC" >Voir les Factures</option>
                                <option value="VUREF" >Voir les ref constructeur (dans catalogue)</option>
                                <option value="VUSOC">Voir les Doc sur la socitété </option>
                                <option value="VUTEC">Voir les Infos technique </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="alert alert-secondary past_pastel" id="alert_user" role="alert">  
                    </div>
                    <button class="btn btn-recode-important"  type="button" id="button_user_crea">Ajouter</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal  Utilisateur Edit-->
<div class="modal fade" id="modalUserEdit" tabindex="-1" role="dialog" aria-labelledby="modalUser"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <form action="displaySocieteMyRecode?cli__id={{client.cli__id}}" method="post" id="forms_user_edit">
                <div class="modal-header">
                    <div>
                        <h5 class="modal-title">Edition de l'utilisateur</h5>
                        <p class="my-2"><i class="far fa-question-circle"></i> L' email n'est pas administrable / Le changement des droits d'utilisation affecte directement l'experience de l'utilisateur</p>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="user__id_edit">
                    <div class="col-11 d-flex justify-content-start">
                        <div class="col-8">
                            <input class="form-control my-2 input-recode" type="email" name="user__mail" id="user__mail_edit" placeholder="Email" rows="2" disabled ></input>
                        </div>
                    </div>
                    <div class="col-11 d-flex justify-content-start">
                        <div class="col-6">
                            <input class="form-control my-2 input-recode" name="user__nom" id="user__nom_edit" placeholder="Nom" rows="2" ></input>
                        </div>
                        <div class="col-6">
                            <input class="form-control my-2 input-recode" name="user__prenom" id="user__prenom_edit" placeholder="Prénom" rows="2" ></input>
                        </div>
                    </div>
                    <div class="col-11 d-flex justify-content-start">
                        <div class="col-6">
                            <input class="form-control my-2 input-recode" name="user__service" id="user__service_edit" placeholder="Service" rows="2" ></input>
                        </div>
                        <div class="col-6">
                            <input class="form-control my-2 input-recode" name="user__fonction" id="user__fonction_edit" placeholder="Fonction" rows="2" ></input>
                        </div>
                    </div>
                    <div class="col-11 d-flex justify-content-start">
                        <div class="col-6">
                            <input class="form-control my-2 input-recode" name="user__gsm" id="user__gsm_edit" placeholder="Téléphone" rows="2" ></input>
                        </div>
                        <div class="col-6">
                            <select class="form-control my-2 form-control input-recode selectpicker text-calm text-muted" multiple  name="user__role" id="user__role_edit"  >
                                <option value="ADUSR" >Administrateur</option>
                                <option value="ACHAT" >Peut passer des commandes</option>
                                <option value="SUMYR">Super administrateur RECODE</option>
                                <option value="CMAIL" >Recevoir commandes par email</option>
                                <option value="TMAIL" >Recevoir les infos tickets par email</option>
                                <option value="USRAC">Utilisateur Actif</option>
                                <option value="VUBLS">Voir les Bons de Livraisons</option>
                                <option value="VUFAC" >Voir les Factures</option>
                                <option value="VUREF" >Voir les ref constructeur (dans catalogue)</option>
                                <option value="VUSOC">Voir les Doc sur la socitété </option>
                                <option value="VUTEC">Voir les Infos technique </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="alert alert-secondary past_pastel" id="alert_user_edit" role="alert">
                        
                    </div>
                    <button class="btn btn-recode-important"  type="button" id="button_user_edit">Editer</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal  Matos ajout-->
<div class="modal fade" id="modalmatosAjout" tabindex="-1" role="dialog" aria-labelledby="modalmatosAjout"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <form  method="post" >
                <div class="modal-header">
                    <div>
                        <h5 class="modal-title">Ajout de matériel</h5>
                        <p class="my-2"><i class="far fa-question-circle"></i> Le S/N est obligatoire et doit etre unique</p>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-11 d-flex justify-content-start">
                        <div class="col-12">
                            <select class="form-control my-2 form-control input-recode selectpicker text-calm text-muted" data-live-search="true" id="mat__model">
                                   {% for pn in pn_list %}
                                        <option value="{{pn|json_encode()}}" >{{pn.famille ~ " " ~  pn.Marque ~ " " ~ pn.afmm__modele }}   </option>
                                   {% endfor %}
                            </select> 
                        </div>
                    </div>
                    <div class="col-11 mb-2 d-flex justify-content-start">
                        <div class="col-6">
                            <small class="form-text text-muted"> Doit etre unique</small>
                            <input class="form-control my-2 input-recode" id="mat__sn" placeholder="S/N" rows="2" required ></input>
                        </div>
                        <div class="col-6">
                            <small class="form-text text-muted"> Optionnel</small>
                            <input class="form-control my-2 input-recode" id="mat__pn" placeholder="P/N" rows="2" required ></input>
                        </div>
                    </div>
                    <div class="col-11 mb-2 d-flex justify-content-start">
                        <div class="col-6 mb-1">
                            <small class="form-text text-muted"> Numero de la commande recode </small>
                            <input class="form-control my-2 input-recode" id="mat__idnec" placeholder="Numéro fiche Eurocomputeur" rows="2"  ></input>
                            
                        </div>
                        <div class="col-6  mb-1">
                            <small class="form-text text-muted"> Complément d'information diverses</small>
                            <input class="form-control my-2 input-recode" id="mat__memo" placeholder="Mémo" rows="2" ></input>
                            
                        </div>
                    </div>
                    <div class="col-11 mb-2 d-flex justify-content-start">
                        <div class="col-6">
                            <small class="form-text text-muted"> Si un abonnement existe pour cette machine</small>
                            <input class="form-control my-2 input-recode" id="mat__contrat_id" placeholder="Numéro du contrat chez Recode" rows="2"  ></input>
                            
                        </div>
                        <div class="col-6">
                            <small class="form-text text-muted"> Correspond Numero du client</small>
                            <input class="form-control my-2 input-recode" id="mat__ident" placeholder="Numéro identification du client" rows="2" ></input>
                            
                        </div>
                    </div>
                    <div class="col-11 mb-2 d-flex justify-content-start">
                        <div class="col-6">
                            <small class="form-text text-muted">Type de garantie/préciser la date de fin </small>
                            <select class="form-control my-2 form-control input-recode selectpicker text-calm text-muted" id="mat__kw_tg">
                                <option value="GNO">Pas de garantie</option>
                                <option value="GCO">Garantie constructeur</option>
                                <option value="LOC">Location Recode</option>
                                <option value="GRE">Garantie Recode</option>
                                <option value="MNT">Maintenance Recode</option>
                         </select>
                         
                        </div>
                        <div class="col-6">
                            <small class="form-text text-muted"> La date sera prise en compte si une garantie est présente </small>
                            <input class="form-control my-2 input-recode" type="date" id="mat__date_offg" ></input>
                           
                        </div>
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="alert alert-secondary past_pastel" id="alert_matos_crea" role="alert">
                        
                    </div>
                    <button class="btn btn-recode-important"  type="button" id="button_matos_crea">Ajouter</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal  Matos edit-->
<div class="modal fade" id="modalmatosEdit" tabindex="-1" role="dialog" aria-labelledby="modalmatosAjout"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <form  method="post" >
                <div class="modal-header">
                    <div>
                        <h5 class="modal-title">Modification de matériel</h5>
                        <p class="my-2"><i class="far fa-question-circle"></i> Le S/N est obligatoire et doit etre unique</p>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-11 d-flex justify-content-start">
                        <div class="col-12">
                            <input type="hidden" id="mat__id_edit">
                            <select class="form-control my-2 form-control input-recode selectpicker text-calm text-muted" data-live-search="true" id="mat__model_edit" >
                                   {% for pn in pn_list %}
                                        <option value="{{pn|json_encode()}}" >{{pn.famille ~ " " ~  pn.Marque ~ " " ~ pn.afmm__modele }}</option>
                                   {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-11 mb-2 d-flex justify-content-start">
                        <div class="col-6">
                            <small class="form-text text-muted"> Doit etre unique</small>
                            <input class="form-control my-2 input-recode" id="mat__sn_edit" placeholder="S/N" rows="2" required readonly></input>     
                        </div>
                        <div class="col-6">
                            <small class="form-text text-muted"> Optionnel</small>
                            <input class="form-control my-2 input-recode" id="mat__pn_edit" placeholder="P/N" rows="2" required ></input>
                            
                        </div>
                    </div>
                    <div class="col-11 mb-2 d-flex justify-content-start">
                        <div class="col-6 mb-1">
                            <small class="form-text text-muted"> Numero de la commande recode </small>
                            <input class="form-control my-2 input-recode" id="mat__idnec_edit" placeholder="Numéro fiche Eurocomputeur" rows="2"  ></input>
                            
                        </div>
                        <div class="col-6  mb-1">
                            <small class="form-text text-muted"> Complément d'information diverses</small>
                            <input class="form-control my-2 input-recode" id="mat__memo_edit" placeholder="Mémo" rows="2" ></input>
                            
                        </div>
                    </div>
                    <div class="col-11 mb-2 d-flex justify-content-start">
                        <div class="col-6">
                            <small class="form-text text-muted"> Si un abonnement existe pour cette machine</small>
                            <input class="form-control my-2 input-recode" id="mat__contrat_id_edit" placeholder="Numéro du contrat chez Recode" rows="2"  ></input>
                            
                        </div>
                        <div class="col-6">
                            <small class="form-text text-muted"> Correspond Numero du client</small>
                            <input class="form-control my-2 input-recode" id="mat__ident_edit" placeholder="Numéro identification du client" rows="2" ></input>
                            
                        </div>
                    </div>
                    <div class="col-11 mb-2 d-flex justify-content-start">
                        <div class="col-6">
                            <small class="form-text text-muted"> préciser la date si un contrat existe</small>
                        <select class="form-control my-2 form-control input-recode selectpicker text-calm text-muted" id="mat__kw_tg_edit">
                                <option value="GNO">Pas de garantie</option>
                                <option value="GCO">Garantie constructeur</option>
                                <option value="LOC">Location Recode</option>
                                <option value="GRE">Garantie Recode</option>
                                <option value="MNT">Maintenance Recode</option>
                         </select>
                        </div>
                        <div class="col-6">
                            <small class="form-text text-muted"> La date sera prise en compte si une garantie est présente </small>
                            <input class="form-control my-2 input-recode" type="date" id="mat__date_offg_edit" ></input>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="alert alert-secondary past_pastel" id="alert_matos_edit" role="alert">
                        
                    </div>
                    <button class="btn btn-recode-danger"  type="button" value="" id="button_matos_actif">Désactiver</button>
                    {# <button class="btn btn-recode-warning"  type="button" id="button_matos_delete">Remplacer</button> #}
                    <button class="btn btn-recode-important"  type="button" id="button_matos_edit">Modifier</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal  condition Edit-->
<div class="modal fade" id="modalConditionEdit" tabindex="-1" role="dialog" aria-labelledby="modalUser"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <form action="" >
                <div class="modal-header">
                    <div>
                        <h5 class="modal-title">Conditions de ventes en ligne </h5>
                        <p class="my-2"><i class="far fa-question-circle"></i> Conditons de ventes sur la boutique en ligne MyRecode.fr</p>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-11 d-flex justify-content-start">
                        <div class="col-6">
                            <small class="form-text text-muted">A modifier uniquement si différent</small>
                            <input class="form-control my-2 input-recode" id="sco__cli_id_fact" placeholder="ID du client facturé" rows="2" ></input>
                            
                        </div>
                        <div class="col-6">
                            <small class="form-text text-muted">Type de port</small>
                            <select class="form-control my-2 form-control input-recode selectpicker text-calm text-muted" id="sco__type_port"  >
                                <option value="FRCOA" >Franco à </option>
                                <option value="FRNCO" >Franco de port</option>
                                <option value="NOFRC">Pas de franco (toujours du port)</option>
                            </select>
                           
                        </div>
                    </div>
                    <div class="col-11 d-flex justify-content-start " id="wrapperFrancoa">
                        <div class="col-6">
                            <small class="form-text text-muted">Franco à partir de ( prix )</small>
                            <input class="form-control my-2 input-recode" id="sco__francoa" placeholder="" rows="2" ></input>
                            
                        </div>
                        <div class="col-6">
                            <small class="form-text text-muted">Prix du port</small>
                            <input class="form-control my-2 input-recode" id="sco__prix_port" placeholder="" rows="2" ></input>
                            
                        </div>
                    </div>
                   
                    <div class="col-11 d-flex justify-content-start">
                        <div class="col-6">
                            <small class="form-text text-muted">Vue sur les références</small>
                            <select class="form-control my-2 form-control input-recode selectpicker text-calm text-muted" id="sco__vue_ref"  >
                                <option value="NON" >NON</option>
                                <option value="OUI" >OUI</option>
                            </select>
                           
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="alert alert-secondary past_pastel" id="alert_condition" role="alert">  
                    </div>
                    <button class="btn btn-recode-important"  type="button" id="boutton_condition">Editer</button>
                </div>
            </form>
        </div>
    </div>
</div>



<!-- Modal  Boutique ajout Edit-->
<div class="modal fade" id="modalSav" tabindex="-1" role="dialog" aria-labelledby="modalUser"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <form action="" >
                <div class="modal-header">
                    <div>
                        <h5 class="modal-title">Ajout d article à la boutique en ligne pour le client </h5>
                        <p class="my-2"><i class="far fa-question-circle"></i> Présent dans le catalogue </p>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-11 d-flex justify-content-start">
                        <div class="col-12">
                            <small class="form-text text-muted">Article à ajouter</small>
                            <select class="form-control my-2 form-control input-recode selectpicker text-calm text-muted" data-live-search="true" id="sav__ref_id"  >
                                {% for row in avendre_list %}
                                    <option value="{{row.sar__ref_id}}"> {{row.famille ~ "  " ~  row.sar__marque ~ " " ~ row.sar__model  ~ " " ~ row.sar__ref_constructeur }}
                                    
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-11 d-flex justify-content-start " >
                        <div class="col-6">
                            <small class="form-text text-muted">Etat</small>
                            <select class="form-control my-2 form-control input-recode selectpicker text-calm text-muted" id="sav__etat">
                                <option value="NEU" >Neuf </option>
                                <option value="OCC" >Reconditionné </option>
                            </select>
                        </div>
                        <div class="col-6">
                            <small class="form-text text-muted">Garantie de base</small>
                            <select class="form-control my-2 form-control input-recode selectpicker text-calm text-muted" id="sav__gar_std">
                                <option value="0" >Aucune</option>
                                <option value="6" >6</option>
                                <option value="12" >12</option>
                                <option value="24" >24</option>
                                <option value="36" >36</option>
                                <option value="60" >60</option>
                            </select>
                        </div>
                       
                    </div>
                   
                    <div class="col-11 d-flex justify-content-start">
                        <div class="col-5">
                            <small class="form-text text-muted">Memo Recode </small>
                            <input class="form-control my-2 input-recode" id="sav__memo_recode" placeholder="" rows="2" ></input>
                        </div>
                        <div class="col-4">
                            <small class="form-text text-muted">Prix </small>
                            <input class="form-control my-2 input-recode" id="sav__prix" placeholder="" rows="2" ></input>
                        </div>
                        
                        <div class="col-3">
                            <small class="form-text text-muted">Date de fin de vente</small>
                            <input class="form-control my-2 input-recode" type="date" id="sav__dlv" placeholder="" rows="2" ></input>
                        </div>
                       
                    </div>
                    <div class="col-11 d-flex justify-content-start">
                       
                        <div class="col-6">
                            <small class="form-text text-muted">Extension de Garantie</small>
                            <select class="form-control my-2 form-control input-recode selectpicker text-calm text-muted" id="sav__gar1_mois">
                                <option value="0" >Aucune</option>
                                <option value="12" >12</option>
                                <option value="24" >24</option>
                                <option value="36" >36</option>
                                <option value="60" >60</option>
                            </select>
                            <input class="form-control my-2 input-recode" id="sav__gar1_prix" placeholder="Prix" rows="2" ></input>
                        </div>
                        <div class="col-6">
                            <small class="form-text text-muted">Extension de Garantie</small>
                            <select class="form-control my-2 form-control input-recode selectpicker text-calm text-muted" id="sav__gar2_mois">
                                <option value="0" >Aucune</option>
                                <option value="12" >12</option>
                                <option value="24" >24</option>
                                <option value="36" >36</option>
                                <option value="60" >60</option>
                            </select>
                            <input class="form-control my-2 input-recode" id="sav__gar2_prix" placeholder="Prix" rows="2" ></input>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="alert alert-secondary past_pastel" id="alert_sav" role="alert">  
                    </div>
                    <button class="btn btn-recode-important"  type="button" id="boutton_sav">Ajouter</button>
                </div>
            </form>
        </div>
    </div>
</div>





<!-- Modal  Boutique  Edit-->
<div class="modal fade" id="modalSavEdit" tabindex="-1" role="dialog" aria-labelledby="modalUser" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <form action="">
                <div class="modal-header">
                    <div>
                        <h5 class="modal-title">Modification d article à la boutique en ligne pour le client </h5>
                        <p class="my-2"><i class="far fa-question-circle"></i> Présent dans le catalogue </p>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-11 d-flex justify-content-start">
                        <div class="col-12">
                            <small class="form-text text-muted">Article à ajouter</small>
                            <select
                                class="form-control my-2 form-control input-recode selectpicker text-calm text-muted"
                                data-live-search="true" id="sav__ref_id_r">
                                {% for row in avendre_list %}
                                <option value="{{row.sar__ref_id}}"> {{row.famille ~ " " ~ row.sar__marque ~ " " ~
                                    row.sar__model ~ " " ~ row.sar__ref_constructeur }}

                                    {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-11 d-flex justify-content-start ">
                        <div class="col-6">
                            <small class="form-text text-muted">Etat</small>
                            <select
                                class="form-control my-2 form-control input-recode selectpicker text-calm text-muted"
                                id="sav__etat_r">
                                <option value="NEU">Neuf </option>
                                <option value="OCC">Reconditionné </option>
                            </select>
                        </div>
                        <div class="col-6">
                            <small class="form-text text-muted">Garantie de base</small>
                            <select
                                class="form-control my-2 form-control input-recode selectpicker text-calm text-muted"
                                id="sav__gar_std_r">
                                <option value="0">Aucune</option>
                                <option value="6">6</option>
                                <option value="12">12</option>
                                <option value="24">24</option>
                                <option value="36">36</option>
                                <option value="60">60</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-11 d-flex justify-content-start">
                        <div class="col-5">
                            <small class="form-text text-muted">Memo Recode </small>
                            <input class="form-control my-2 input-recode" id="sav__memo_recode_r" placeholder=""
                                rows="2"></input>
                        </div>
                        <div class="col-4">
                            <small class="form-text text-muted">Prix </small>
                            <input class="form-control my-2 input-recode" id="sav__prix_r" placeholder=""
                                rows="2"></input>
                        </div>

                        <div class="col-3">
                            <small class="form-text text-muted">Date de fin de vente</small>
                            <input class="form-control my-2 input-recode" type="date" id="sav__dlv_r" placeholder=""
                                rows="2"></input>
                        </div>

                    </div>
                    <div class="col-11 d-flex justify-content-start">

                        <div class="col-6">
                            <small class="form-text text-muted">Extension de Garantie</small>
                            <select
                                class="form-control my-2 form-control input-recode selectpicker text-calm text-muted"
                                id="sav__gar1_mois_r">
                                <option value="0">Aucune</option>
                                <option value="12">12</option>
                                <option value="24">24</option>
                                <option value="36">36</option>
                                <option value="60">60</option>
                            </select>
                            <input class="form-control my-2 input-recode" id="sav__gar1_prix_r" placeholder="Prix"
                                rows="2"></input>
                        </div>
                        <div class="col-6">
                            <small class="form-text text-muted">Extension de Garantie</small>
                            <select
                                class="form-control my-2 form-control input-recode selectpicker text-calm text-muted"
                                id="sav__gar2_mois_r">
                                <option value="0">Aucune</option>
                                <option value="12">12</option>
                                <option value="24">24</option>
                                <option value="36">36</option>
                                <option value="60">60</option>
                            </select>
                            <input class="form-control my-2 input-recode" id="sav__gar2_prix_r" placeholder="Prix"
                                rows="2"></input>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="alert alert-secondary past_pastel" id="alert_sav_r" role="alert">
                    </div>
                    <button class="btn btn-recode-important" type="button" id="boutton_sav_r">Editer</button>
                </div>
                <input type="hidden" id="sav__id_r">
            </form>
        </div>
    </div>
</div>


{% endblock %}
{% block script %}
<script type="text/javascript" src="public/datatable/datatables.min.js"></script>
<script type="text/javascript" src="public/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="public/bootstrap/js/bootstrap-select.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){

       var userTable =  $('#table_id').DataTable({
            paging: true,
            lengthMenu: [4],
            bLengthChange : false ,
            columns: [
                null,
                null,
                null,
                null,
                null,
                { "visible": false }
            ],
            createdRow: function (row, data, index) {
                $(row).attr('data-toggle' , "modal");
                $(row).attr('data-target' , "#modalUserEdit");
                $(row).css('cursor', 'pointer');
                $(row).on('click' , function(){
                    functionUserTableModal($(data));
                })
            },
            language: {
                lengthMenu: "Voir _MENU_ utilisateurs par page",
                zeroRecords: "Aucuns résultats",
                info: "Page: _PAGE_ sur _PAGES_ au total",
                infoEmpty: "Aucuns résultats",
                infoFiltered: "(résultats sur _MAX_ utilisateurs disponibles)",
                search: "Rechercher"
            }
        });


        var matosTable =  $('#table_mat').DataTable({
            paging: true,
            lengthMenu: [ 10 , 25 , 50 , 75],
            order: [[1, 'desc']],
            columns: [
                { "visible": false },
                null,
                null,
                null,
                null,
                null, 
                null
            ],
            createdRow: function (row, data, index) {
                $(row).attr('data-toggle' , "modal");
                $(row).attr('data-target' , "#modalmatosEdit");
                $(row).css('cursor', 'pointer');
                datax = JSON.parse($(data)[0]);
                $(row).on('click' , function(){   
                    functionMatosTableModal($(data)); 
                })
            },
            language: {
                lengthMenu: "Voir _MENU_ machines par page",
                zeroRecords: "Aucuns résultats",
                info: "Page: _PAGE_ sur _PAGES_ au total",
                infoEmpty: "Aucuns résultats",
                infoFiltered: "(résultats sur _MAX_ machines disponibles)",
                search: "Rechercher"
            }
        }); 

        $("#table_id tr").css('cursor', 'pointer');

        let functionUserTableModal = function (data){
            
            data = JSON.parse(data[5]);
            
            $('#user__role_edit').selectpicker('deselectAll');
            $('#user__id_edit').val(data.user__id);
            $('#user__mail_edit').val(data.user__mail);
            $('#user__nom_edit').val(data.user__nom);
            $('#user__prenom_edit').val(data.user__prenom);
            $('#user__service_edit').val(data.user__service);
            $('#user__fonction_edit').val(data.user__fonction);
            $('#user__gsm_edit').val(data.user__gsm);
            var arraySelect = [];
            $("#user__role_edit > option").each(function(){
                for(i = 0 ; i < data.roles.length; i ++ ){
                    if(this.value === data.roles[i]){
                        arraySelect.push(this.value);
                    }
                }
            });
            $('#user__role_edit').selectpicker('val', arraySelect);
            $('#user__role_edit').selectpicker('refresh');
        }


        let functionMatosTableModal = function (data){
           
            data = JSON.parse(data[0]);
            if(data.mat__actif == 0){
                $("#button_matos_actif").removeClass("btn-recode-danger");
                $("#button_matos_actif").addClass("btn-recode-important");
                $("#button_matos_actif").text('Réactiver');
                  
            }else{
                $("#button_matos_actif").removeClass("btn-recode-important");
                $("#button_matos_actif").addClass("btn-recode-danger");
                $("#button_matos_actif").text('Désactiver');
            }
            let fmm = JSON.stringify({
                'famille': data.mat__type,
                'Marque': data.mat__marque,
                'afmm__modele' : data.mat__model, 
            })
           
            $('#mat__model_edit').selectpicker('deselectAll');
            $('#mat__kw_tg_edit').selectpicker('deselectAll');
            $('#button_matos_actif').val(data.mat__actif);
            $('#mat__id_edit').val(data.mat__id);
            $('#mat__sn_edit').val(data.mat__sn);
            $('#mat__memo_edit').val(data.mat__memo);
            $('#mat__idnec_edit').val(data.mat__idnec);
            $('#mat__ident_edit').val(data.mat__ident);
            $('#mat__date_offg_edit').val(data.mat__date_offg);
            $('#mat__contrat_id_edit').val(data.mat__contrat_id);
            $('#mat__model_edit').selectpicker('val', fmm);
            $('#mat__kw_tg_edit').selectpicker('val', data.mat__kw_tg);
            $('#mat__model_edit').selectpicker('refresh');
            $('#mat__kw_tg_edit').selectpicker('refresh');
        }

        $('user__role').selectpicker();

         $('#button_user_crea').on('click' , function(){
            let verification = PostUser();
            if(verification) {
                $('#alert_user').text(verification);
            }else {
                
            
            }
        })

        $('#button_user_edit').on('click' , function(){
            let verification = updateUser();
            if(verification){
                $('#alert_user_edit').text(verification);
            }else {
                
            }
        });

       


        let UpdateMatos = function(){

        }

         $('#button_matos_actif').on('click', function () {
            let actif = 0;
            if($('#button_matos_actif').val() == 0 ){
                actif = 1;
            }
            let body = {
                'mat__actif' : actif,
                'mat__id' : $('#mat__id_edit').val(),
                'secret' : 'heAzqxwcrTTTuyzegva^5646478§§uifzi77..!yegezytaa9143ww98314528'
            }
            ActifMatos(body);
        });

        let PostUser = function(){
            let body = returnBodyUser()
            let verif = handleFormsUser(body)

            if(verif) {return verif}
            $.ajax(prod + '/verifymail', {
                type: 'POST',
                method: "POST",
                dataType: "text",
                data: JSON.stringify(body),
                success: function (data, status, xhttp) {
                    $('#alert_user').html('cette adresse email est deja utilisée pour un autre compte utilisateur ! <button>Attribuer</button>');
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    let randomPassword = Math.random().toString(36).slice(-8);
                    randomPassword += 'A8';
                    body['user__password'] = randomPassword;
                    let post = postUserRequest(body)
                    let role = returnRole();
                    if (role.length > 0) {
                        for (let i = 0; i < role.length; i++) {
                            let roles = {
                                'user__id': post,
                                'role': role[i],
                                'secret': 'heAzqxwcrTTTuyzegva^5646478§§uifzi77..!yegezytaa9143ww98314528'
                            }
                            postRoleRequest(roles);
                        }
                    }
                    let relation_data = {
                        "secret": 'heAzqxwcrTTTuyzegva^5646478§§uifzi77..!yegezytaa9143ww98314528',
                        "luc__cli__id": $('#cli__id').val(),
                        "luc__user__id": post,
                        "luc__order": 1
                    }
                    let relation = postUserRelation(relation_data);
                    verif = false;
                }
            });
            return verif;
        }

        let updateUser = function(){
            let body = returnBodyUpdateUser()
            
            let verif = handleFormsUserEdit(body)
            if(verif) {return verif}
            //met a jour les données de l utilisateur :
            let put = updateUserRequest(body);

            let deleteBody = { 
                '_METHOD' : 'DELETE' ,
                'user__id': $('#user__id_edit').val() ,
                'secret': 'heAzqxwcrTTTuyzegva^5646478§§uifzi77..!yegezytaa9143ww98314528' 
            };
            deleteRole(deleteBody);
            let role = $('#user__role_edit').val();
            if (role.length > 0) {
                    for (let i = 0; i < role.length; i++) {
                        let roles = {
                            'user__id': $('#user__id_edit').val(),
                            'role': role[i],
                            'secret': 'heAzqxwcrTTTuyzegva^5646478§§uifzi77..!yegezytaa9143ww98314528'
                        }
                        postRoleRequest(roles);
                    }
                }
            return false ;
        }

        let returnBodyUser = function(){
            let body = {
                'secret' : 'heAzqxwcrTTTuyzegva^5646478§§uifzi77..!yegezytaa9143ww98314528', 
                'user__mail' : $('#user__mail').val() , 
                'user__nom' : $('#user__nom').val(), 
                'user__prenom' : $('#user__prenom').val(), 
                'user__service' : $('#user__service').val(),
                'user__fonction' : $('#user__fonction').val(), 
                'user__gsm' : $('#user__gsm').val()
            } 
            return body;
        }

        let returnBodyUpdateUser = function (){
            let body = {
                '_METHOD':'PUT' ,
                'secret' : 'heAzqxwcrTTTuyzegva^5646478§§uifzi77..!yegezytaa9143ww98314528', 
                'user__id' : $('#user__id_edit').val() ,
                'user__nom' : $('#user__nom_edit').val(), 
                'user__prenom' : $('#user__prenom_edit').val(), 
                'user__service' : $('#user__service_edit').val(),
                'user__fonction' : $('#user__fonction_edit').val(), 
                'user__gsm' : $('#user__gsm_edit').val()
            } 
            return body;
        }
        let returnRole = function(){
           return  $('#user__role').val();
        }
 
        const prod = "http://192.168.1.105/api" ; 
        const local = "http://localhost/RESTapi/";
        //si faux je ne peux pas continuer sinon je peux afficher le message :
        let  verifyMailRequest = function (body) {
            let results = false ; 
            $.ajax( prod + '/verifymail', {
                type: 'POST',  
                method : "POST" ,
                async: false,
                data: JSON.stringify(body), 
                success: function (data, status, xhttp) {
                    console.log(data.data)
                    results = data.data
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    results = jqXhr.responseJSON.msg;
                    
                }
            });
            return results;
        }

        let postUserRequest = function(body){
            let results = false ; 
            $.ajax( prod +  '/usersossuke', {
                type: 'POST', 
                method : "POST" ,
                crossDomain: true , 
                async: false,
                data: JSON.stringify(body), 
                success: function (data, status, xhttp) { 
                    results = data.data
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    results = jqXhr.responseJSON.msg;
                }
            });
            return results;
        }

        let updateUserRequest = function(body){
            let results = false ; 
            $.ajax( prod +  '/usersossuke', {
                type: 'POST',  
                crossDomain: true ,
                async: false,
                data: JSON.stringify(body), 
                success: function (data, status, xhttp) {
                    results = data.data
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    results = jqXhr;
                }
            });
          
            return results;
        }

        let getUserSossukeRequest = function(){
            let results = false ; 
            let body = {
                'secret' : 'heAzqxwcrTTTuyzegva^5646478§§uifzi77..!yegezytaa9143ww98314528', 
                'one': $('#cli__id').val(),
            };
            $.ajax( prod +  '/sossuke', {
                type: 'POST',  
                crossDomain: true ,
                async: false,
                data: JSON.stringify(body), 
                success: function (data, status, xhttp) {
                    results = data.data
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    results = jqXhr;
                }
            });
            results = results.users;
            return results;
        }

        let postUserRelation = function (body) {
            let results = false;
            $.ajax(prod + '/usersitessossuke', {
                type: 'POST',
                method : "POST" ,
                crossDomain: true ,
                data: JSON.stringify(body),
                success: function (data, status, xhttp){
                    results = data.data
                },
                error: function (jqXhr, textStatus, errorMessage){
                    results = jqXhr.responseJSON.msg;
                }
            });
            return results;
        }

        let deleteRole = function(body){
            let results = false;

            $.ajax(prod + '/rolesossuke', {
                type: 'POST',
                crossDomain: true ,
                async: false,
                data: JSON.stringify(body),
                success: function (data, status, xhttp) {
                    results = data.data
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    results = jqXhr;
                }
            });
            return results;
        }

        let postRoleRequest = function(body){
            let results = false ; 
            $.ajax( prod +  '/rolesossuke', {
                type: 'POST',  
                crossDomain: true ,
                data: JSON.stringify(body), 
                success: function (data, status, xhttp) {
                    results = data.data
                    renderUserTable()
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    results = jqXhr;
                }
            });
            return results;
        }

        let handleFormsUser = function($forms){
            if(!ValideEmail($forms['user__mail'])){
                return 'L email saisie est invalide  ';
            }
            if(!valideNom($forms['user__nom'])){
                return 'Le nom est incorrect ';
            }
            if(!valideNom($forms['user__prenom'])){
                return 'Le prénom est incorrect ';
            }
            if(!valideNom($forms['user__fonction'])){
                return 'La fonction est obligatoire  ';
            }
            return false;
        }

        let handleFormsUserEdit = function($forms){ 
            if(!valideNom($forms['user__nom'])){
                return 'Le nom est incorrect ';
            }
            if(!valideNom($forms['user__prenom'])){
                return 'Le prénom est incorrect ';
            }
            if(!valideNom($forms['user__fonction'])){
                return 'La fonction est obligatoire  ';
            }
            return false;
        }
        
        let removeforms = function(){

        }
        let postForms = function(id){
            $(id).submit();
        }

        let ValideEmail = function (mail){
        if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail)){
            return (true)
        }
            return (false)
        }

        let valideNom = function($nom){
            if($nom.length < 2 || $nom.length > 50){
                return (false)
            }
            return (true)
        }

        let closeAndCleanModalsUsers =function(){
            $('.modal').modal('hide');
            $('#user__mail').val("") , 
            $('#user__nom').val(""), 
            $('#user__prenom').val(""), 
            $('#user__service').val(""),
            $('#user__fonction').val(""), 
            $('#user__gsm').val("")
        }

        let renderUserTable = function(){
            //recup les users :
            let user = getUserSossukeRequest();
            //vide la table : 
            userTable.clear().draw();
            //insere la data :
            for(i =0 ; i<user.length; i++ ){
                //nom et prenom :
                let nameText = "";
                let role = '';
                let societe = '';
                if(user[i].user__confirm == 1){
                     nameText = '<div class="past_greeen mx-2"><i class="fas fa-user"></i> ' + user[i].user__nom + ' ' + user[i].user__prenom +'</div>' ;
                }else{
                    nameText = '<div class="past_orange mx-2"><i class="fas fa-user"></i> ' + user[i].user__nom + ' ' + user[i].user__prenom +'</div>' ;
                }
                //role : 
                if(user[i].roles.length > 0){
                    for(y=0; y<user[i].roles.length; y++ ){
                        if(user[i].roles[y] == "SUMYR"){
                            role += '<div class="past_yellow mx-2 my-1"> Administrateur Recode</div><br>';
                        }else if(user[i].roles[y] == "ADUSR"){
                            role += '<div class="past_blue mx-2 my-1"> Administrateur</div><br>';
                        }else if(user[i].roles[y] == "ACHAT"){
                            role += '<div class="past_pink mx-2 my-1"> Achat</div><br>';
                        }else if(user[i].roles[y] == "USER"){
                            role += '<div class="past_blue mx-2 my-1"> Utilisateur</div><br>';
                        }
                    }

                }else{
                    role = '<div class="past_orange mx-2"><i class="fas fa-user"></i> Aucun roles</div>' ;
                }
                if(user[i].clients.length > 0){
                    let count = 0 ;
                    for(y=0; y<user[i].clients.length; y++ ){
                        if(user[i].clients[y].cli__id != $('#cli__id').val() ){
                            societe += '<a href="displaySocieteMyRecode?cli__id='+ user[i].clients[y].cli__id +'">'+ user[i].clients[y].cli__nom +'</a><br>';
                            count ++ ;
                        }
                       
                    }
                    if(count ==  0 ){
                        societe = "Aucune autre société ";
                    }
                }          
                userTable.row.add([
                    nameText , 
                    user[i].user__mail , 
                    user[i].user__fonction , 
                    role , 
                    societe , 
                    JSON.stringify(user[i])
                ]
                )
            }
            userTable.draw();
            closeAndCleanModalsUsers();
        }

        let renderMatosTable = function (){
            let matos = getParcSossukeRequest();
          
            matosTable.clear().draw();
           
            for(i = 0 ; i < matos.length; i ++){
                
                let fmm =  matos[i].mat__type + " " + matos[i].mat__marque + '<br>' + matos[i].mat__model ;
                let PN = 'S/N: <b>' +  matos[i].mat__sn + '</b><br>' + 'P/N: <b>' +  matos[i].mat__pn + '</b>'; 
                let cmd = 'Commande N°: <b>' +  matos[i].mat__ident +  '</b><br>' + 'Contrat N°: ' +  matos[i].mat__contrat_id  + '</b>'; 
                let garantie = 'Aucune garantie';
                if(matos[i].mat__kw_tg == "GRE"){
                    garantie = 'garantie RECODE';
                }else if(matos[i].mat__kw_tg == "GCO"){
                    garantie = 'garantie constructeur';
                }else if(matos[i].mat__kw_tg == "LOC"){
                    garantie = 'LOCATION RECODE';
                }
                matosTable.row.add([
                    JSON.stringify(matos[i]), 
                    matos[i].mat__id, 
                    fmm ,
                    PN, 
                    matos[i].mat__memo,
                    cmd , 
                    garantie
                ])
            }
            matosTable.draw();
            closeAndCleanModalsMatos();
        }


        $('#button_matos_crea').on('click' , function(){
           let verification =  handleFmm()
           if(verification){
            $('#alert_matos_crea').text(verification);
           }
          
        })

        let handleFmm =function() {
            let value = JSON.parse($('#mat__model').val());
            
            let results = {
                'mat__pn' : $('#mat__pn').val() , 
                'mat__marque': value.Marque ,
                'mat__type': value.famille , 
                'mat__model' : value.afmm__modele, 
                'mat__sn' : $('#mat__sn').val(), 
                'mat__cli__id' : $('#cli__id').val(),
                'mat__memo' : $('#mat__memo').val(),
                'mat__kw_tg': $('#mat__kw_tg').val(),
                'mat__date_offg': $('#mat__date_offg').val() , 
                'mat__contrat_id' : $('#mat__contrat_id').val(), 
                "mat__ident" : $('#mat__ident').val(),
                'mat__idnec' : $('#mat__idnec').val() , 
                'secret' : 'heAzqxwcrTTTuyzegva^5646478§§uifzi77..!yegezytaa9143ww98314528'
            };
            let verif = handleMatosForms(results)
            if(verif) {return verif}
            postMatosRequest(results)
            
        }

        let postMatosRequest = function(body){
            let results = false ; 
            $.ajax( prod +  '/materiel', {
                type: 'POST',  
                crossDomain: true ,
                async: true ,
                data: JSON.stringify(body), 
                success: function (data, status, xhttp) {
                    results = data.data
                    renderMatosTable()   
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    results = jqXhr;
                }
            });
            return results;
        }

        let ActifMatos = function(body){
            let results = false;
            $.ajax(prod + '/materielSossuke', {
                type: 'POST',
                crossDomain: true,
                async: true,
                data: JSON.stringify(body),
                success: function (data, status, xhttp) {
                    results = data.data
                    renderMatosTable()
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    results = jqXhr;
                }
            });
            return results; 
        }

        let handleMatosForms = function($forms){
            if(!valideNom($forms['mat__sn'])){
                return 'Merci de renseigner le numéro de S/N';
            }
            if(!valideNom($forms['mat__idnec'])){
                return 'Merci de renseigner le numéro de commande recode';
            }
            return false ;
        }

        let closeAndCleanModalsMatos =function(){
            $('.modal').modal('hide');
            $('#mat__sn').val("") , 
            $('#mat__kw_tg').val("GARVEN"), 
            $('#mat__date_offg').val(""), 
            $('#mat__contrat_id').val(""),
            $('#mat__idnec').val(""), 
            $('#user__gsm').val(""),
            $('#mat__ident').val(""), 
            $('#mat__memo').val("")
        }

        let getParcSossukeRequest = function(){
            let results = false ; 
            let query = {  
                'cli__id': $('#cli__id').val(),
                'RECODE__PASS' : 'testtfvgz4564564**zatyf§§/tettavapouuzvcaQQZAcvrtestdetestrapondre'
            };
            $.ajax( prod +  '/materiel', {
                type: 'GET',  
                crossDomain: true ,
                async: false,
                data: query, 
                success: function (data, status, xhttp) {
                    results = data.data
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    results = jqXhr;
                }
            });
            return results;
        }
    });

</script>
<script type="text/javascript" src="public/js/boutique.js"></script>
{% endblock %}