{% extends 'new_layout.twig' %}
{% block style %}
<link href="vendor/fontawesome/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap-select.min.css">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="public/datatable/datatables.min.css">
<link rel="stylesheet" href="public/css/dashboard.css">
{% endblock %}
{% block main %}

<main role="main" class="container-fluid my-3 col-11 container-body">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2"> Demande d'étiquettes</b></h1>
    </div>
    {% if alert %}
    <div class="alert alert-success" role="alert">
      {{alert}}
    </div>
    {% endif %}
    

    <div class="container">
        <form action="etiquettes" method="POST">
            <div class="my-3">
                
                    <label for="client"><b>Client *</b></label>
                    <select class="border selectpicker"  data-live-search="true"  data-width="100%" name="client" id='client' required>
                        {% for client in client_list %}
                        
                        <option class="optionSelect modelSelect" value={{client.client__id}}>{{client.client__id ~ " " ~  client.client__societe ~ " " ~ client.client__ville ~ " "
                            ~ client.client__cp }}</option>
                        {% endfor %}
                    </select>
            </div>
            <div class="my-3">
            
                <label for="model"><b>Modele *</b></label>
                <select class="border selectpicker" data-live-search="true" data-width="100%" name="modele" id='modele' required>
                    {% for article in article_list %}
                    
                    <option class="optionSelect modelSelect" value={{article.afmm__id}}>{{article.afmm__modele ~ " " ~ article.famille ~ " "
                        ~ article.Marque }}
                    </option>
                   
                    {% endfor %}
                </select>
            </div>
            <div class="my-3">
            
                <label for="Thermique"><b>Thermique *</b></label>
                <select class="border selectpicker" data-live-search="true" data-width="100%" name="Thermique" id='Thermique' required>
                    
                    <option class="optionSelect modelSelect" value="transfert-thermique">
                        Transfert Thermique 
                    </option>
                    <option class="optionSelect modelSelect" value="direct-thermique">
                        Direct Thermique
                    </option>
            
                    
                </select>
            </div>
            <div class="my-3">
                <label for="matiere"><b>Matière *</b></label>
                <select class="border selectpicker" data-live-search="true" data-width="100%" name="matiere" id='matiere' required>
            
                    <option class="optionSelect modelSelect" value="Papier">
                        Papier
                    </option>
                    <option class="optionSelect modelSelect" value="Synthétique">
                        Synthétique
                    </option>
                </select>
            </div>
            <div class="my-3">
                <label for="type" ><b>Type *</b></label>
                <select class="border selectpicker" data-live-search="true" data-width="100%" name="type" id='type' required>
            
                    <option class="optionSelect modelSelect" value="discontinu" selected>
                        Papier discontinu (étiquette)
                    </option>
                    <option class="optionSelect modelSelect" value="continu">
                        Papier continu
                    </option>
                </select>
            </div>
            <div class="my-3">
                <div class="d-flex my-3">
                    <div class="col-6 my-3">
                        <label for="Thermique"><b>Largeur en millimètre *</b></label>
                        <input type="number" class="form-control" step="0.01" name="longueur" required>
                    </div>
                    <div class="col-6 my-3">
                        <label for="Thermique"  id="label_hauteur"><b>Hauteur en millimètre *</b></label>
                        <input type="number" class="form-control" step="0.01" name="hauteur" id="hauteur" required>
                    </div>
                </div>
            </div>
          
            <div class="my-3 d-flex">
                <div class="col-6 my-3">
                    <label for="matiere-ruban"><b>Matière Ruban *</b></label>
                    <select class="border selectpicker" data-live-search="true" data-width="100%" name="matiere-ruban" id='matiere-ruban' required>
                    
                        <option class="optionSelect modelSelect" value="Cire">
                            Cire
                        </option>
                        <option class="optionSelect modelSelect" value="Cire-Résine">
                            Cire Resine
                        </option>
                        <option class="optionSelect modelSelect" value="Résine">
                            Résine
                        </option>
                        <option class="optionSelect modelSelect" value="Sans">
                            Sans
                        </option>
                    </select>
                </div>
                <div class="col-6 my-3">
                    <label for="Colle"><b>Colle *</b></label>
                    <select class="border selectpicker" data-live-search="true" data-width="100%" name="colle" id='colle' required>
                
                        <option class="optionSelect modelSelect" value="permanent">
                            Permanent
                        </option>
                        <option class="optionSelect modelSelect" value="Repositionnable">
                            Repositionnable
                        </option>
                        <option class="optionSelect modelSelect" value="Sans">
                            Sans
                        </option>
                    </select>
                </div>
                
            </div>
            <div class="my-3 d-flex">
                
                <div class="col-12 my-3">
                    <div class="alert alert-info" role="alert">
                        <i class="fas fa-info"></i> Le champs de texte doit etre utilisé pour spécifier : <br>
                        Les utilisations spécifiques ou les spécification de forme - couleur ou autres en cas d'exeptions
                    
                    </div>
                    <label for="Text"><b>Utilisation/Specifications</b></label>
                    <textarea class="editor"  rows="2" name="text" id="text">

                    </textarea>
                </div>
            </div>
            <div class="my-3 d-flex">
                <div class="col-12 my-3">
                    <div class="alert alert-warning" role="alert">
                        <i class="far fa-exclamation-triangle"></i> Aprés la validation la demande est automatiquement envoyée par
                        e-mail et ne sera plus modifiable
                    </div>
                    <button class="btn btn-block btn-success">
                        Envoyer
                    </button>
                
                
                </div>
            </div>
        </form>

    </div>
    
   
</main>


{% endblock %}
{% block script %}
<!-- jQuery first, then Bootstrap JS -->
<script type="text/javascript" src="public/datatable/datatables.min.js"></script>
<script type="text/javascript" src="public/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="public/bootstrap/js/bootstrap-select.min.js"></script>^
<script type="text/javascript" src="public/ckeditor/ckeditor.js"></script>
<script>
    $('.editor').each(function () {
            CKEDITOR.replace(this.id,
                {
                    language: 'fr',
                    removePlugins: 'image,justify,pastefromgdocs,pastefromword,about,table,tableselection,tabletools,Source,uicolor',
                    removeButtons: 'PasteText,Paste,Cut,Copy,Blockquote,Source,Subscript,Superscript,Undo,Redo,Maximize,Outdent,Indent,Format,SpecialChar,HorizontalRule,Styles,Strike'
                });
        })

        $("#type").on('change', function()
        {
            var type_papier = $(this).children("option:selected").val();

            
           
            if(type_papier == 'continu')
            {
                $('#hauteur').removeAttr('required');
                 $('#hauteur').attr('disabled', true);
                $('#label_hauteur').text('Hauteur en millimètre ')
            }
            else 
            {
                $('#hauteur').removeAttr('disabled');
                $('#label_hauteur').html('Hauteur en millimètre *')
                $('#hauteur').attr('required' , true );
            }
        })
</script>

{% endblock %}