{% extends 'new_layout.twig' %}


  {% block style %}
<link href="vendor/fontawesome/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="public/datatable/datatables.min.css" >
<link rel="stylesheet" href="public/bootstrap/css/bootstrap-select.min.css">
<link rel="stylesheet" type="text/css" href="public/datatable/datatables.min.css" >
<link rel="stylesheet" href="public/css/dashboard.css">
  {% endblock %}
 
 
     {% block main %}
     <main role="main" class="container-fluid my-3 col-11 container-body">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Facturation Automatique des abonnemennts <i class="fas fa-scroll"></i> {{ date}}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
          </div>
        </div>
      </div>
       <!-- 1ere ligne -->
       <div class="d-flex flex-wrap flex-row justify-content-start">
        <input type="hidden" name="idUtilisateur" id="idUtilisateur" value="{{user.log_nec}}">
        <input type="hidden" id="minFact" value="{{minFact.cmd__id_facture}}">
    <!--carte liste de Devis -->
      <div class="col-8">
        <div class="card shadow mb-4">
          <!-- Card Header - -->
         
          <!-- Card Body -->
          <div class="card-body">
            <div class="chart-area">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col" style="width: 15%;">Client</th>
                    <th scope="col" style="width: 35%;">Commande/Prestation/Commentaires</th>
                    
                   
                  </tr>
                </thead>
                {% for abn in ABNList %}

                    {% if abn.array != null  %}
                   
                   
                      <tbody>
                       <tr>
                          <td scope="col"><b>{{abn.client.client__societe ~ '(' ~ abn.client.client__id  ~ ')'}}<br>
                          {{ abn.client.client__adr1 }}<br>
                          {{ abn.client.client__cp  ~ " " ~ abn.client.client__ville}}</b><br>
                          <p class="text-primary">{{abn.nbMachine}} machine(s) actives</p> <b>{{abn.total}} € H.T</b><br>
                          <form method="POST" action="abonnementAdmin">
                            <input type="hidden" name="hiddenId" value="{{abn.ab__cmd__id}}">
                            <button class="btn btn-link btn-sm">modifier</button>
                          </form>
                          </td>
                          <td scope="col">N° : <b>{{ abn.ab__cmd__id}}</b><br>{{abn.prestaLib}}<br>
                          Date anniversaire:  <b>{{abn.ab__date_anniv}}</b><br>
                          Périodicité facturation: <b>{{abn.ab__fact_periode}}</b> mois
                          <br>
                         
                          </td>
                        </tr>
                       
                      </tbody>
                
              {% endif %}
                {% endfor %}
              </table>

            </div>  
            
          </div>
          <div class="modal-footer">
            <form action="printABN" method="POST">
              <input type="hidden" name="hiddenABN" value="{{arrayfacturable}}">
              <button class="btn btn-success">Facturer</button>
            </form>
          </div>
        </div>
      </div>
      
      
    </div>

    </main>
     {% endblock %}
     
    
     {% block script %}
     <!-- Optional JavaScript -->

<!-- jQuery first, then Bootstrap JS -->
<script  type="text/javascript" src="public/datatable/datatables.min.js"></script>
<script  type="text/javascript" src="public/bootstrap/js/bootstrap.bundle.min.js"></script>
<script  type="text/javascript" src="public/bootstrap/js/bootstrap-select.min.js"></script>




     {% endblock %}