{% extends 'responsive_layout.twig' %}
{% block style %}
<link href="vendor/fontawesome/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap-select.min.css">
<link rel="stylesheet" type="text/css" href="public/datatable/datatables.min.css">
<link rel="stylesheet" type="text/css" href="public/chosen/chosen.min.css">
<link rel="stylesheet" href="public/css/forms.css">
{% endblock %}
{% block main %}
<main role="main" class="col-12 container-body background-extranet text-monospace">
  <div class="container pt-5 ">
      <form action="tickets-post-data" method="POST" class="col-12 col-sm-9 mx-auto">
        <h2 class="text-white">{{libelle}}</h2>
        <input type="hidden" name="motif" value="{{motif}}">
        <input type="hidden" name="libelle" value="{{libelle}}">
        <input type="hidden" name="creaForms" value="{{crea_forms}}">
        <input type="hidden" name="type" value="{{type_tickets}}">
        <div class="form-group pt-5">
            {% if  subject_list %}
                <select class="custom-select form-control-lg input-recode" name="idSubject"  required>
                    {% for subject in subject_list %}
                        <option value="{{subject.id}}" >{{subject.lib}}</option>
                    {% endfor %}
                </select>
            {% endif %}
        </div>
        {% for form in forms %}
               {{ include('forms/forms_tickets_fields.html.twig')}}
        {% endfor %}
        <div class="form-group d-flex justify-content-end">
            <button class="btn btn-recode" >Valider</button>
        </div>
      </form>
  </div>
</main>
{% endblock %}
{% block script %}
<!-- jQuery first, then Bootstrap JS -->
<script type="text/javascript" src="public/datatable/datatables.min.js"></script>
<script type="text/javascript" src="public/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="public/bootstrap/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="public/js/client_module.js"></script>
{% endblock %}