{% extends 'layoutMain.twig' %}


  {% block style %}
<link href="vendor/fontawesome/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="public/datatable/datatables.min.css" >
<link rel="stylesheet" href="public/bootstrap/css/bootstrap-select.min.css">
<link rel="stylesheet" type="text/css" href="public/datatable/datatables.min.css" >
<link rel="stylesheet" href="public/css/dashboard.css">
  {% endblock %}
 
 
     {% block main %}
     <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Fiche de garantie <i class="far fa-tools"></i></h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
          </div>
        </div>
      </div>
       <!-- 1ere ligne -->
       <div class="d-flex flex-wrap flex-row justify-content-between">
        <!--carte option -->
        <div class="col-10 cardVisio" >
          <div class="card shadow mb-4">
            <!-- Card Header - -->
           
            <!-- Card Body -->
            <div class="card-body" >
              <div  class="d-flex justify-content-between">
                <div>
                     {% if retour.client__id %}
                      <div class="my-2 mx-4"> 
                            <h6 class="m-0 font-weight-bold text-primary"> Commande d'origine <i class="fas fa-file-export"></i>
                            </h6>  
                        </div>
                        <h4>{{retour.cmd__code_cmd_client}}</h4>
                       {% else %}
                    
                    <form action='garantieCreation' method='POST'>
                    <div class="card-body ">
                    <div class="my-2">
                        <input class="form-control" type="text" name='creaNumCommande' placeholder="N° commande origine" required>
                    </div> 
                    <div class="my-2">
                     <select class="custom-select" name='typeRetour'>
                            <option value="02" selected>Garantie</option>
                            <option value='03'>Maintenance</option>
                        </select >
                    <div class='mt-2'>
                    <h6 class="m-0 font-weight-bold text-secondary" id="PreSelected"> </h6>
                    </div>
                    </div>
                       

                    </div>
                    <div class="modal-footer">
                    <input type='hidden' name='creaLivraison' id='creaLivraison' required></input>
                   
                     
                      <button type="button" class="btn btn-success mt-2" id="targetModal"><i class="far fa-truck"></i></input></button>
                   
                    
                    <button class="btn btn-success mt-2" id="validCrea" disabled>Pousuivre <i class="far fa-share-square"></i></button>
                        
                    </div>
                    </form>
                       
                      
                  
                    
                   
                       
                     {% endif %}
              
              </div>
                   

        
        <div>
                <div class="my-2 mx-4"> 
                  <h6 class="m-0 font-weight-bold text-primary"> Fiche de Garantie <i class="fal fa-layer-plus"></i>
                  </h6>    
              </div>
               {% if retour.client__id %}
                      <h4> 
                    {% if retour.client__id == 02 %}
                      Garantie : {{retour.devis__id}} 
                      {% else %}
                      Maintenance : {{retour.devis__id}} 
                      {% endif %}
                      </h4>
                      <h5 class="card-title"> Expédition : {{retour.client__livraison_societe ~ '(' ~ retour.devis__id_client_livraison ~ ')'}}</h5>
                        <p class="card-text">{{ retour.client__livraison__adr1 ~ " " ~ retour.client__livraison_cp ~ ' ' ~  retour.client__livraison_ville }}</p> 
                        {% if retour.devis__contact_livraison %}
                        <p class="card-text"> Contact:  <strong>{{  retour.prenom__livraison ~ " " ~ retour.nom__livraison  }}</strong></p> 
                        {% endif %}
                {% else %}
                        <div class="alert alert-warning" role="alert">
                            <p>1-Renseigner le Numero de commande d'origine</p>
                            <p>2-Renseigner le type Garantie/Maintenance</p>
                            <p>3-Choisir une adresse de Livraison <i class="far fa-truck"></i></input></p>
                            <p>4-Poursuivre</p>
                        </div>
                {% endif %}

              
              
                    
              </div>
              </div>
              
            </div>
            <div class="modal-footer">
                {% if retour.client__id %}
                 <button type="button" class="btn btn-primary"  id="targetAddLines" ><i class="fas fa-plus"></i></button>
                 <button type="button" class="btn btn-primary" id="targetContact" value="{{retour.devis__id_client_livraison}}" ><i class="far fa-user"></i></button>
                {% else %}
                {% endif %}
             

            </div>
           
      </div>
     
      </div>
    </div>
    <!--2 eme Ligne-->

    <div class="col-10 cardVisio d-flex justify-content-between" >



      <div class="card shadow mb-4 col-6">
        <!-- Card Header - -->
        <div class="my-2 mx-4"> 
            <h6 class="m-0 font-weight-bold text-primary">Articles  <i class="fal fa-list-ol"></i>
            </h6>    
        </div>
        {% if alert %}
        <div class="alert alert-danger" role="alert">
         Les quantités sont incorrectes
        </div>
        {% endif %}
        <!-- Card Body -->
        <div class="card-body" >
         
          <input type='hidden' id="idRetour" name='idRetour' value='{{retour.devis__id}}'>
         
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Prestation</th>
                <th scope="col">Désignation</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for ligne in lignes %}
                {% if  ligne.devl__type !=  'PRT'%}
              <tr class="text-secondary">
                <th scope="col">{{ligne.prestaLib}}<br>{{ligne.kw__lib}}</th>
                <th scope="col">{{  ligne.devl_quantite ~ " X " ~ ligne.famille__lib ~ " " ~ ligne.modele ~  " " ~ ligne.marque ~  " "  ~  ligne.devl__modele }}</th>
                <th>
                  <form action="garantieCreation" method="POST">
                    <input type="hidden" value="{{retour.devis__id}}" name="deleteLineRetour">
                    <input type="hidden" value="{{ligne.devl__id}}" name="deleteLine">
                    <button class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button>
                  </form>
                </th>
              </tr>
              {% endif %}
              {% endfor %}
             
            </tbody>
          </table>

          
       
         </div>
  </div>







  <div class="card shadow mb-4 col-5">
    <!-- Card Header - -->
    <div class="my-2 mx-4"> 
        <h6 class="m-0 font-weight-bold text-primary">Fiches Info <i class="fal fa-list-ol"></i>
        </h6>    
    </div>
    <!-- Card Body -->
    <div >
    <div class="card-body" >
      <div class=" mt-2">
      </div>
      <div>
        <hr>
        <div class="text-success my-2">
        <i class="far fa-truck"></i></i> : Mettre à jour l'adresse de livraison 
        </div>
        <div class="text-success my-2">
          <i class="fas fa-plus"></i> : Ajouter un element à la fiche de garantie
        </div>
      </div>
     </div>
    <div/>
    <div class="modal-footer mt-2">
      {% if lignes %}

      <form action="garantieCreation" method="POST">
       
        <div class="my-4">
          <label for="inputEmail4">Commentaire</label>
          <textarea class="form-control" id="comInterne" name="comInterne" rows="2" cols="40"></textarea>
        </div>
    
        
        <input type="hidden" name="PrintFicheCreation" value="{{retour.devis__id}}">
        <div class="d-flex">
        <div class="text-danger mx-2">
          <i class="fas fa-engine-warning"></i> Vérifier avant d' imprimer !
        </div>
       
        <button class="btn btn-success">Imprimer <i class="fas fa-print"></i></button>
        
        
      </div>
      </form>
      {% endif %}
      
    </div>
  </div>



  
 </div>

  



  <div class="modal fade" id="ModalEditor" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="garantiesFiches" method="POST">
        <div class="modal-header">
          <h6 class="modal-title" id="titreComLigne">Commentaire Interne</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="hiddenLigne" id="hiddenLigne" >
          <textarea  id="ComInt" name="ComInt" placeholder="Commentaire interne...." ></textarea>
        </div>
        <div class="modal-footer">
          <button  class="btn btn-success">Modifier</button>
        </div>
      </form>
      </div>
    </div>
  </div>






  <!-- Modal -->
<div class="modal fade" id="modalLivraison" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Changer l'adresse de livraison</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class='mx-2'>

          <table id="ClientTable" class="table  display " style="width:100%"> 
                      <thead>
                      <tr><th>Id</th><th>Nom</th><th>CP</th><th>Ville</th></tr>
                      </thead>
                       
                      <tbody class="trClick">
                      </tbody>
          </table>
        
        </div>
      
      </div>
      
      <div class="modal-footer">
        
        <button type="button" class="btn btn-success" id="buttonPost" disabled>valider</button>
        
      </div>
    
    </div>
  </div>
</div>



 <!-- Modal contact -->
<div class="modal fade" id="modalContact" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Choisir un contact</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class='mx-2'>

          <table id="ContactTable" class="table  display " style="width:100%"> 
                      <thead>
                      <tr><th>Id</th><th>Nom</th><th>FOnction</th></tr>
                      </thead>
                       
                      <tbody class="trClick">
                      </tbody>
          </table>
        
        </div>
      
      </div>
      
      <div class="modal-footer">
        <form action="garantieCreation" method="POST">
          <input type="hidden" id="ChangeContact" name="ChangeContact">
          {% if retour.devis__id %}
          <input type='hidden'  name='idRetourChangeContact' value='{{retour.devis__id}}'>
          {% else %}
          <input type='hidden' id="contactIdRetour" name='idRetourChangeContact' value=''>
          {% endif %}
        <button type="" class="btn btn-success" id="btnContact" disabled>valider</button>
         </form>
      </div>
    
    </div>
  </div>
</div>



<div class="modal fade bd-example-modal-lg" id="modalAddLines" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Ajout Ligne</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form action="garantieCreation" method="POST">
      {% if  retour.devis__id %}
       <input type="hidden" name="hiddenAddLines" value="{{ retour.devis__id}}">
      {% else %}
       <input type="hidden" name="hiddenAddLines" value="">
      {% endif %}
       
       
        <div class="d-flex flex-row form-group m-3 justify-content-around">
          <div class="col-6 form-group">
            <label for="validationCustom04">Article</label>
              <select class="selectpicker col-12" id="choixDesignation" name="choixDesignation" data-live-search="true">
                {% for article in articleList %} 
                  <option class="optionSelect modelSelect " value={{article.afmm__id}}>{{article.afmm__modele   ~ " " ~ article.famille ~ " " ~ article.Marque }}</option>
                  {% endfor %}
              </select> 
            </div>
            <div class="form-group col-3">
              <label for="validationCustom04">Quantité</label>
              <input type="number" class="form-control" value="1" min="1" id="quantiteLigne" name="quantiteLigne" required >
            </div>
          </div>
          <div class="d-flex flex-row form-group m-2 justify-content-around">
            <div class="form-group col-7">
              <label for="validationCustom04">Désignation</label>
              <input type="text" class="form-control" id="designationArticle" name="designationArticle" required >
            </div>
            <div class="col-md-3 ">
              <label for="prestationChoix">Type de retour</label>
              <select class="form-control" name="typeLigne" required>
                  <option class="" value="ECH">Echange</option>
                  <option class="" value="RTE" >Retour</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-success">Valider</button>
          </div>
        </form>
        </div>

      



      
    </div>
  </div>
</div>

    </main>
     {% endblock %}
     
    
     {% block script %}
     <!-- Optional JavaScript -->

<!-- jQuery first, then Bootstrap JS -->
<script  type="text/javascript" src="public/datatable/datatables.min.js"></script>
<script  type="text/javascript" src="public/bootstrap/js/bootstrap.bundle.min.js"></script>
<script  type="text/javascript" src="public/bootstrap/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="public/ckE2/build/ckeditor.js"></script>
<script type="text/javascript" src="public/js/garantieCreation.js"></script>





     {% endblock %}