{% extends 'layoutMain.twig' %}


  {% block style %}
<link href="vendor/fontawesome/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="public/datatable/datatables.min.css" >
<link rel="stylesheet" href="public/bootstrap/css/bootstrap-select.min.css">
<link rel="stylesheet" type="text/css" href="public/datatable/datatables.min.css" >
<link rel="stylesheet" href="public/css/dashboard.css">
  {% endblock %}
 
 
     {% block main %}
     <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Fiche de garantie <i class="far fa-tools"></i></h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
          </div>
        </div>
      </div>
       <!-- 1ere ligne -->
       <div class="d-flex flex-wrap flex-row justify-content-start">
        <!--carte option -->
        <div class="col-9 cardVisio" >
          <div class="card shadow mb-4">
            <!-- Card Header - -->
            <div class="my-2 mx-4"> 
                <h6 class="m-0 font-weight-bold text-primary"> Détails Commande <i class="fas fa-file-export"></i>
                </h6>    
            </div>
            <!-- Card Body -->
            <div class="card-body" >
              <div class="card-body">
                <h4> commande N°: {{cmd.devis__id}}</h4>
                <h5 class="card-title"> Facturation : {{cmd.client__societe ~ '(' ~ cmd.client__id ~ ')'}}</h5>
                <p class="card-text">{{ cmd.client__adr1 ~ " " ~ cmd.client__cp ~ ' ' ~  cmd.client__ville }}</p> 
              </div>
            </div>
      </div>
      </div>
    </div>
    <!--2 eme Ligne-->

    <div class="col-9 cardVisio" >
      <div class="card shadow mb-4">
        <!-- Card Header - -->
        <div class="my-2 mx-4"> 
            <h6 class="m-0 font-weight-bold text-primary">Articles  <i class="fal fa-list-ol"></i>
            </h6>    
        </div>
        {% if alert %}
        <div class="alert alert-danger" role="alert">
         Les quantités sont incorrectes
        </div>
        {% endif %}
        <!-- Card Body -->
        <div class="card-body" >
          <form action="garantiesFiches" method="POST">
          <input type='hidden' name='idRetour' value='{{cmd.devis__id}}'>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Etat/Prestation</th>
                <th scope="col">Désignation</th>
                <th scope="col">Commentaire</th>
                <th scope="col">Quantité/Type</th>
              </tr>
            </thead>
            <tbody>
              {% for ligne in lignes %}
                {% if  ligne.devl__type !=  'PRT'%}
              <tr class="text-secondary">
                <th scope="col">{{ligne.prestaLib}}<br>{{ligne.kw__lib}}</th>
                <th scope="col">{{  ligne.devl_quantite ~ " X " ~ ligne.famille__lib ~ " " ~ ligne.modele ~  " " ~ ligne.marque ~  " "  ~  ligne.devl__modele }}</th>
                <th scope="col">
                  {% if  ligne.devl__note_interne %}
                  <div class="d-flex">
                    <div>
                      {{ ligne.devl__note_interne|raw }}
                    </div>
                    <div>
                      <button type="button" class="btn btn-success btn-sm clickTech mx-4" value="{{ligne.devl__id}}"><i class="far fa-money-check-edit"></i></button>
                    </div>
                    
                  </div>
                  {% else %}
                  Pas de Commentaire
                  <button type="button" class="btn btn-success btn-sm clickTech mx-4" value="{{ligne.devl__id}}"><i class="far fa-money-check-edit"></i></button>
                  {% endif %}
                </th>
               
                <th>
                  <div class="form-group" style="width:100px;"> 
                    <input type="number" value="00" max="{{ligne.devl_quantite}}" min="00" class="form-control" id="number" name="qteArray[]"> 
                    <input type='hidden' value='{{ligne.devl__id}}' name='idArray[]'>
                    </div> 
                  <select class="custom-select" name="typeArray[]" id="">
                    <option value="ECH">Echange</option>
                    <option value="RTE">Retour</option>
                  </select>
                </th>
              </tr>
              {% endif %}
              {% endfor %}
             
            </tbody>
          </table>

          <div class="modal-footer mt-2">
            <div class="card-body col-3">
              <select class="custom-select" name='typeRetour'>
                <option value="Garantie">Garantie</option>
                <option value='Maintenance'>Maintenance</option>
              </select >
             
            </div>
            <button class="btn btn-success mt-2">Valider <i class="far fa-share-square"></i></button>

          </div>
        </form>  
         </div>
  </div>
  </div>



  <div class="modal fade" id="ModalEditor" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="garantiesFiches" method="POST">
        <div class="modal-header">
          <h6 class="modal-title" id="titreComLigne">Commentaire Interne</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="hiddenLigne" id="hiddenLigne" >
          <textarea  id="ComInt" name="ComInt" placeholder="Commentaire interne...." ></textarea>
        </div>
        <div class="modal-footer">
          <button  class="btn btn-success">Modifier</button>
        </div>
      </form>
      </div>
    </div>
  </div>

    </main>
     {% endblock %}
     
    
     {% block script %}
     <!-- Optional JavaScript -->

<!-- jQuery first, then Bootstrap JS -->
<script  type="text/javascript" src="public/datatable/datatables.min.js"></script>
<script  type="text/javascript" src="public/bootstrap/js/bootstrap.bundle.min.js"></script>
<script  type="text/javascript" src="public/bootstrap/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="public/ckE2/build/ckeditor.js"></script>
<script type="text/javascript" src="public/js/fichesGarantie.js"></script>




     {% endblock %}