{% extends 'layoutMain.twig' %}
 
 
     {% block main %}
     <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Mes Devis <i class="fal fa-file-search"></i></h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
          </div>
        </div>
      </div>
       <!-- 1ere ligne -->
       <div class="d-flex flex-wrap flex-row justify-content-start">



        <!--carte liste de Devis -->
      <div class="col-8">
        <div class="card shadow mb-4">
          <!-- Card Header - -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary"><i class="far fa-ellipsis-v"></i></h6>
            <div class="dropdown no-arrow">
              <form class="form-inline">
                <input class="form-control mr-2" type="search" placeholder="Recherche" aria-label="Search">
                <button class="btn btn-outline-primary my-2 " type="submit"><i class="fal fa-bullseye-arrow"></i></button>
              </form>
            </div>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <div class="chart-area">
              <table id="MyDevis" class=" display table " style="width:100%"> <thead class="thead-dark"> <tr> <th>Numéro</th> <th>Date</th><th>Editeur</th><th>Client</th></tr>
              </thead> 
               <tbody id="DevisBody">
                {% for devis in devisList %}
                <tr class="trClick"><td>{{devis.devis__id}}</td><td>{{ devis.devis__date_crea}}</td><td>{{ devis.log_nec}}</td><td>{{ devis.client__societe }} <br>{{ devis.client__ville ~ " " ~ devis.client__cp}}</td></tr>
                {% endfor %}
               </tbody>
             </table>
           </div>
          </div>
        </div>
      </div>


        <!--carte option -->
        <div class="col-3">
          <div class="card shadow mb-4">
            <!-- Card Header - -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Options <i class="fal fa-tools"></i></h6>
              <div class="dropdown no-arrow">
              </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
              <div class="d-flex flex-column  justify-content-around px-5">
                <form class="py-1" action="nouveauDevis" method="POST">
                  <input type="hidden" name="ValiderDevis" id="ValiderDevis" value="">
                <button type="submit" class="btn btn-outline-success btn-lg btn-block multiButton" disabled>Valider</button>
                </form>
                <form  class="py-1" action="nouveauDevis" method="POST">
                  <input type="hidden" name="RefuserDevis" id="RefuserDevis" value="">
                <button type="submit" class="btn btn-outline-danger btn-lg btn-block multiButton" disabled>Refuser</button>
                </form>
                <form class="py-1" action="nouveauDevis" method="POST">
                  <input type="hidden" name="VoirDevis" id="VoirDevis" value="">
                <button type="submit" class="btn btn-outline-secondary btn-lg btn-block multiButton" disabled>Voir</button>
                 </form>
                <form class="py-1" action="nouveauDevis" method="POST">
                  <input type="hidden" name="ModifierDevis" id="ModifierDevis" value="">
                <button type="submit" class="btn btn-outline-primary btn-lg btn-block multiButton" disabled>Modifier</button>
                </form>
                <form class="py-1" action="nouveauDevis" method="POST">
                  <input type="hidden" name="DupliquerDevis" id="DupliquerDevis" value="">
                <button type="submit" class="btn btn-outline-warning btn-lg btn-block multiButton" disabled>Dupliquer</button>
                </form>
             
            </div>
          </div>
        </div>


      </div>
    </main>
     {% endblock %}
     
    
  