{% extends 'new_layout.twig' %}

{% block style %}
<link href="vendor/fontawesome/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap-select.min.css">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="public/datatable/datatables.min.css" >
<link rel="stylesheet" href="public/mdb/css/mdb-file-upload.css"> <!-- File Upload -->
<link rel="stylesheet" href="public/css/dashboard.css">
<link rel="stylesheet" href="public/mdb/css/mdb-file-upload.css">
{% endblock %}

{% block main %}

	 <!-- 1ere ligne -->
	 <main role="main" class="container-fluid my-3 col-11 container-body">

		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
				<h1 class="h2">Modification {{ sujet.nom ~ " " ~ sujet.prenom }} <i class="fas fa-user-plus"></i></h1>
				<div class="btn-toolbar mb-2 mb-md-0">
					<div class="btn-group mr-2">
					
					</div>
				</div>
			</div>
	 <div class="d-flex flex-wrap flex-row justify-content-start ">



		<div class="">
				<div class="card shadow mb-4">
					<!-- Card Header - -->
					<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
						<h6 class="m-0 font-weight-bold text-primary"><i class="far fa-ellipsis-v"></i></h6>
						<div class="dropdown no-arrow">
						
						</div>
					</div>
					<!-- Card Body -->
					<div class="card-body">
						<div class="chart-area d-flex justify-content-center">
								<form class="d-flex flex-column" method="POST" action="modifyForms">
										<div class="d-flex justify-content-start">
												<div class="input-group mb-3 mx-2">
														<div class="input-group-prepend ">
															<span class="input-group-text" >ID*</span>
														</div>
														<input type="text"class="form-control" name="idUser" value="{{ sujet.id_utilisateur}}" required>
													</div>
													<div class="input-group mb-3 mx-2">
														<div class="input-group-prepend">
															<span class="input-group-text">Login*</span>
														</div>
														<input type="text" class="form-control" name="loginUser" value="{{ sujet.login }}" required>
													</div>
													<div class="input-group mb-3 mx-2">
														<div class="input-group-prepend">
															<span class="input-group-text">Date</span>
														</div>
														<input class="form-control" type="datetime-local" name="dateUser">
													</div>
		
												</div>


										<div class="d-flex justify-content-start">

										<div class="input-group mb-3 mx-2">
												<div class="input-group-prepend ">
													<span class="input-group-text" >Nom*</span>
												</div>
												<input type="text" class="form-control" name="nameUser" value="{{ sujet.nom }}">
											</div>

											<div class="input-group mb-3 mx-2">
												<div class="input-group-prepend">
													<span class="input-group-text">Prenom</span>
												</div>
												<input type="text" class="form-control" name="prenomUser" value="{{ sujet.prenom }}">
											</div>

											<div class="input-group mb-3 mx-2">
												<div class="input-group-prepend">
													<span class="input-group-text">Fonction</span>
												</div>
												<input type="text" class="form-control" name="fonctionUser" value="{{ sujet.fonction }}">
											</div>

										</div>
										<div class="d-flex justify-content-start">

											<div class="input-group mb-3 mx-2">
												<div class="input-group-prepend">
													<span class="input-group-text">email</span>
												</div>
												<input type="email" class="form-control" name="emailUser" value="{{ sujet.email }}">
											</div>

											<div class="input-group mb-3 mx-2">
												<div class="input-group-prepend">
													<span class="input-group-text">GSM</span>
												</div>
												<input type="text" class="form-control" name="gsmUser" value="{{ sujet.gsmperso }}">
											</div>

										

										

											<div class="input-group mb-3 mx-2">
												<div class="input-group-prepend">
													<span class="input-group-text">N° Poste</span>
												</div>
												<input type="text" class="form-control" name="posteUser" value="{{ sujet.postefix }}">
											</div>
										</div>

										<div class="d-flex justify-content-start ">
										<div class="input-group mb-3 mx-2">
											<div class="input-group-prepend">
												<label class="input-group-text" >PO_VALID</label>
											</div>
											<select class="custom-select" name="poUser">
												<option value="0" >Pas d'accès</option>
												<option value="1">Accès</option>
												<option value="2">Accès Supérieur</option>
												<option value="3">Administrateur</option>
												<option value="4">Super Administrateur</option>
											</select>
										</div>
											<div class="input-group mb-3 mx-2">
												<div class="input-group-prepend">
													<label class="input-group-text" >CrmUser</label>
												</div>
												<select class="custom-select" name="crmUser">
													<option value="0" >Pas d'accès</option>
													<option value="1">Accès</option>
													<option value="2">Accès Supérieur</option>
													<option value="3">Administrateur</option>
													<option value="4">Super Administrateur</option>
												</select>
											</div>


											<div class="input-group mb-3 mx-2">
												<div class="input-group-prepend">
													<span class="input-group-text">LogNec*</span>
												</div>
												<input type="text" class="form-control" name="lognecUser" value="{{ sujet.log_nec }}" required>
											</div>

									 

											

										</div>


										<div class="d-flex justify-content-start ">



										<div class="input-group mb-3 mx-2">
												<div class="input-group-prepend">
													<label class="input-group-text" >Devis</label>
												</div>
												<select class="custom-select" name="devisUser">
													<option value="0" >Pas d'accès</option>
													<option value="10">Accès</option>
													<option value="20">Accès Supérieur</option>
													<option value="30">Administrateur</option>
													<option value="40">Super Administrateur</option>
												</select>
											</div>

											<div class="input-group mb-3 mx-2">
												<div class="input-group-prepend">
													<label class="input-group-text" >Commandes</label>
												</div>
												<select class="custom-select" name="cmdUser">
													<option value="0" >Pas d'accès</option>
													<option value="10">Accès</option>
													<option value="20">Accès Supérieur</option>
													<option value="30">Administrateur</option>
													<option value="40">Super Administrateur</option>
												</select>
											</div>

											<div class="input-group mb-3 mx-2">
												<div class="input-group-prepend">
													<label class="input-group-text" >Saisie</label>
												</div>
												<select class="custom-select" name="sasieUser">
													<option value="0" >Pas d'accès</option>
													<option value="10">Accès</option>
													<option value="20">Accès Supérieur</option>
													<option value="30">Administrateur</option>
													<option value="40">Super Administrateur</option>
												</select>
											</div>

										</div>


										<div class="d-flex justify-content-start ">
											<div class="input-group mb-3 mx-2">
												<div class="input-group-prepend">
													<label class="input-group-text" >Facture</label>
												</div>
												<select class="custom-select" name="factureUser">
													<option value="0" >Pas d'accès</option>
													<option value="10">Accès</option>
													<option value="20">Accès Supérieur</option>
													<option value="30">Administrateur</option>
													<option value="40">Super Administrateur</option>
												</select>
											</div>

											<div class="input-group mb-3 mx-2">
												<div class="input-group-prepend">
													<label class="input-group-text" >Administration</label>
												</div>
												<select class="custom-select" name="adminUser">
													<option value="0" >Pas d'accès</option>
													<option value="10">Accès</option>
													<option value="20">Accès Supérieur</option>
													<option value="30">Administrateur</option>
													<option value="40">Super Administrateur</option>
												</select>
											</div>


											<div class="input-group mb-3 mx-2">
												<div class="input-group-prepend">
													<span class="input-group-text">Mot de Passe</span>
												</div>
												<input type="password" class="form-control" name="passwordUser" value="">
											</div>
										</div>

										
								
										

											<div class=" card input-group mb-3 mx-2">
											 
												<button type="submit" class="btn btn-success "> Valider</button>
											</div>
										 

								</form>
						
					 </div>
					</div>
				</div>
			</div>
















		</div>
		</main>

			 {% endblock %}


{% block script %}
<!-- Optional JavaScript -->
<script  type="text/javascript" src="public/js/devisFunction.js"></script> 

<!-- jQuery first, then Bootstrap JS -->
<script  type="text/javascript" src="public/datatable/datatables.min.js"></script>
<script  type="text/javascript" src="public/bootstrap/js/bootstrap.bundle.min.js"></script>
<script  type="text/javascript" src="public/bootstrap/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="public/ckE2/build/ckeditor.js"></script>
<script  type="text/javascript" src="public/js/client.js"></script>
<script  type="text/javascript" src="public/js/client2.js"></script>
<script type="text/javascript" src="public/mdb/js/mdb.min.js"></script> <!-- MDB core JavaScript -->
<script type="text/javascript" src="public/mdb/js/mdb-file-upload.min.js"></script>

<script>$('.file_upload').file_upload();</script> {# pour le file_upload #}
{% endblock %}