{% extends 'layoutLight.twig' %}


{% block style %}
<link href="vendor/fontawesome/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap-select.min.css">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
<link href="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.2.0/dist/jBox.all.min.css" rel="stylesheet">
<link rel="stylesheet" href="public/css/dashboard.css">
{% endblock %}
{% block main %}
<main  role="main" class=" pt-3 px-4"> 
    {# <div id="loading">
        <div class="lds-hourglass">
        </div>
    </div>                                                                                  #}
    <div class="d-flex justify-content-start flex-column mb-5 border-bottom">
        <form class="d-flex align-items-center" action="DevisV2" method="POST">
            <div class="mr-4">
            <input type="hidden" value="{{devis.devis__id}}" name="modif">
            <button class="btn btn-warning btn-sm "><i class="fas fa-arrow-left"></i> Retour</button>
            </div>
            <div class="mx-4">
            {% if modif %}
                <h2 >Mofication : {{modif.cmdl__designation}}  <i class="fal fa-file-edit"></i></h2>
            {% else %}
                <h2 >Lignes Devis N° {{devis.devis__id}}  <i class="fal fa-file-edit"></i></h2>
            {% endif %}
            </div>
        </form>
    </div>
        <!-- 1ere ligne -->
    <div class="d-flex flex-wrap flex-row justify-content-between col-12">
        {% if modif %}
        <div class="card col-7 border border-success" >
        {% else %}
        <div class="card col-7" >
        {% endif %} 
            <div class="card-body">
                    <form action="ligneDevisV2" method="POST">
                    <input type="hidden" value="{{devis.devis__id}}" name="devis">
                        <div class="d-flex flex-row justify-content-between col-12 my-4">
                            <div class="col-1">
                                <label for="prestationChoix"><b>Prestation:</b></label>
                                <select class="border selectpicker" data-width="auto" name="presta" id='presta' required>
                                {% for presta in prestaList %}
                                    {% if modif.cmdl__prestation == presta.kw__value %}
                                        <option class=""  value={{presta.kw__value}} selected>{{presta.kw__lib}}</option>
                                    {% else %}
                                        <option class=""  value={{presta.kw__value}}>{{presta.kw__lib}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-8 ">
                                <label for="choixDesignation"><b>Modèle:</b></label>
                                    <select class=" border selectpicker col-12"  data-live-search="true" data-size="10" data-width="100%" name="fmm" id="fmm" required>
                                        <option class="  optionSelect modelSelect" value="">..</option>
                                        {% for article in articleList %} 
                                            {% if modif.cmdl__id__fmm == article.afmm__id %}
                                                <option class="optionSelect modelSelect" value={{article.afmm__id}} selected>{{article.afmm__modele   ~ " " ~ article.famille ~ " " ~ article.Marque }}</option>
                                            {% else  %}
                                                <option class="optionSelect modelSelect" value={{article.afmm__id}}>{{article.afmm__modele   ~ " " ~ article.famille ~ " " ~ article.Marque }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select> 
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-between col-12 my-4">
                            <div class="col-12 ">
                                    <label for="referenceS"><b>Désignation sur le devis/facture:</b></label>
                                    {% if modif.cmdl__designation %}
                                      <input type="text" class="form-control" name="designation" id="designation" value="{{modif.cmdl__designation}}"  text="{{modif.cmdl__designation}}" required>
                                    {% else %}
                                      <input type="text" class="form-control" name="designation" id="designation" required>
                                    {% endif %}     
                            </div>
                        </div>
                    <div class="d-flex justify-content-between col-12 my-4">
                        <div class="col-3">
                            <label  for="etatRow"><b>Etat</b></label>
                            <select class="form-control" id="etatRow" name="etat" data-size="10">
                            {% for etat in etatList %}
                                {% if modif.cmdl__etat == etat.kw__value %}
                                    <option   value="{{etat.kw__value}}"  selected>{{etat.kw__lib}}</option>
                                {% else %}
                                    <option   value="{{etat.kw__value}}" >{{etat.kw__lib}}</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                        </div>
                        <div class="col-3">
                            <label for="validationCustom04"><b>Garantie/mois</b></label>
                            <select class="form-control" id="garantieRow" name="garantie">
                            {% for garantie in garanties %}
                                {% if garantie.kw__value == modif.cmdl__garantie_base %}
                                    <option value="{{garantie.kw__value}}" selected>{{garantie.kw__lib}}</option>
                                {% else %}
                                    <option value="{{garantie.kw__value}}" >{{garantie.kw__lib}}</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                        </div>
                        <div class="col-2">
                            <label for="validationCustom04"><b>Quantité</b></label>
                                {% if modif.cmdl__qte_cmd %}
                                    <input type="number" class="form-control" value="{{modif.cmdl__qte_cmd}}" name="quantite">
                                {% else %}
                                    <input type="number" class="form-control" value="1" name="quantite">
                                {% endif %}  
                        </div> 
                    </div>
                     <div class="d-flex justify-content-between col-12 my-4">
                        <div class="col-3">
                            <label for="validationCustom04"><strike><b>Promotion H.T</b></strike></label>
                            {% if modif.cmdl__prix_barre  and  modif.cmdl__prix_barre > 0 %}
                                <input class="form-control" type="text" value="{{modif.cmdl__prix_barre}}"  name="promo">
                            {% else %}
                                <input class="form-control" type="text"  name="promo">
                            {% endif %}
                            
                        </div>
                        <div class="col-3">
                            <label for="validationCustom04"><b>Prix € H.T</b></label>
                            {% if modif.cmdl__puht %}
                                <input class="form-control" type="text" name="prix" value='{{modif.cmdl__puht }}' required>
                            {% else %}
                                <input class="form-control" type="text" name="prix" required>
                            {% endif %}
                            
                        </div>
                        <div class="col-2">
                        {% if modif.cmdl__etat_masque > 0 %}
                            <div class="custom-control custom-checkbox ">
                                <input type="checkbox" class="custom-control-input" id="checkEtat" name="checkEtat" value='ok' checked>
                                <label class="custom-control-label" for="checkEtat">Masquer Etat</label>
                            </div>
                        {% else %}
                            <div class="custom-control custom-checkbox ">
                                <input type="checkbox" class="custom-control-input" id="checkEtat" name="checkEtat" value='ok'>
                                <label class="custom-control-label" for="checkEtat">Masquer Etat</label>
                            </div>
                        {% endif %}
                        {% if modif.cmdl__image > 0 %}
                            <div class="custom-control custom-checkbox ">
                                <input type="checkbox" class="custom-control-input" id="checkImage" name='checkImage' value='ok' checked>
                                <label class="custom-control-label" for="checkImage">Inclure image</label>
                            </div>
                        {% else %}
                            <div class="custom-control custom-checkbox ">
                                <input type="checkbox" class="custom-control-input" id="checkImage" name='checkImage' value='ok'>
                                <label class="custom-control-label" for="checkImage">Inclure image</label>
                            </div>
                        {% endif %}
                        {% if modif.cmdl__actif <  1 and modif  %}
                            <div class="custom-control custom-checkbox ">
                                <input type="checkbox" class="custom-control-input" id="checkactif" name='checkactif' value='ok' checked>
                                <label class="custom-control-label" for="checkactif" >Inactif</label>
                            </div>
                        {% else %}
                            <div class="custom-control custom-checkbox ">
                                <input type="checkbox" class="custom-control-input" id="checkactif" name='checkactif' value='ok'>
                                <label class="custom-control-label" for="checkactif" >Inactif</label>
                            </div>
                        {% endif %}      
                        </div> 
                    </div>
                    <div id="accordion">
                        <div class="d-flex" id="extensions"   data-parent="#accordion">
                                
                                <div class="col-12"  >
                                    <div class="col-12 my-3 d-flex flex-row flex-wrap justify-content-around">
                                        <div class="col-6 mb-4">
                                            <label for="comClient"><b>Commentaire Client</b></label>
                                            {% if modif.cmdl__note_client %}
                                                <textarea class="ck-content" id="comClient" placeholder="Commentaire client...." rows="4" name="commentaire">{{modif.cmdl__note_client}}</textarea>
                                            {% else %}
                                                <textarea class="ck-content" id="comClient" placeholder="Commentaire client...." rows="4" name="commentaire"></textarea>
                                            {% endif %}    
                                        </div>
                                        <div class="col-6 mb-4 ">
                                            <label for="comInterne"><b>Commentaire Interne</b></label>
                                            {% if modif.cmdl__note_interne %}
                                                <textarea class="CKE" id="comInterne" placeholder="Commentaire interne...." rows="4" name="interne">{{modif.cmdl__note_interne}}</textarea>
                                            {% else %}
                                                <textarea class="CKE" id="comInterne" placeholder="Commentaire interne...." rows="4" name="interne"></textarea>
                                            {% endif %} 
                                        </div>
                                       
                                    </div>
                                </div>
                                
                            </div>
                           
                            
                    </div>
                    <div class="col-12 mt-3 mb-2 d-flex  justify-content-between">
                                    <div class="d-flex col-6 flex-row flex-wrap justify-content-start">
                                        <div class="input-group-text bg-light border-0 col-10 mx-2">
                                            <div>
                                                <div class="text-center">
                                                    <label ><b>Extension</b></label>
                                                </div>
                                            </div>
                                            <div class="col-10 d-flex justify-content-around">
                                                <div class="col-6 text-center">
                                                    <label ><b><strike>Promo</strike></b></label>
                                                        
                                                </div>
                                                <div class="col-6 text-center">
                                                
                                                    <label ><b>P.U.HT</b></label>   
                                                </div>  
                                            </div> 
                                        </div>
                                        
                                            {% for garantie in garanties %}
                                                {% if garantie.kw__value != 00 %}
                                                    <div class="input-group-text bg-light border-0 col-12 mx-1">
                                                        <div>
                                                            <div >
                                                                <label ><b>{{garantie.kw__lib}} mois</b></label>
                                                            </div>
                                                        </div>
                                                        <div class="col-10 d-flex  justify-content-around">
                                                            <div class="col-6">
                                                                
                                                                    {% if  garantie.xtend.cmdg__type == garantie.kw__value and garantie.xtend.cmdg__prix_barre  %}
                                                                        <input type="text" class="form-control controlOption" value="{{ garantie.xtend.cmdg__prix_barre}}"   name="xtendB[{{garantie.kw__value}}][]">
                                                                    {% else %}
                                                                        <input type="text" class="form-control controlOption"  name="xtendB[{{garantie.kw__value}}][]">
                                                                    {% endif %}       
                                                            </div>
                                                            <div class="col-6">
                                                            
                                                                    {% if  garantie.xtend.cmdg__type == garantie.kw__value and garantie.xtend.cmdg__prix  %}
                                                                        <input type="text" class="form-control controlOption" value="{{ garantie.xtend.cmdg__prix}}"   name="xtendP[{{garantie.kw__value}}][]">
                                                                    {% else %}
                                                                        <input type="text" class="form-control controlOption"  name="xtendP[{{garantie.kw__value}}][]">
                                                                    {% endif %}        
                                                            </div>  
                                                        </div> 
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                           
                                    </div>
                                    <div class="col-6 my-4 d-flex flex-column justify-content-start" >
                                                {% if modif.modif and not duplicate %}
                                                    <input type='hidden' name='boolModif' value='{{modif.cmdl__id}}'>
                                                    <input type='hidden' name='boolIdCmd' value='{{modif.cmdl__cmd__id}}'>
                                                    <button class="btn btn-outline-primary  " type="submit" data-toggle="collapse" data-target="#xtendGarantie" aria-expanded="false" aria-controls="xtendGarantie">modifier <i class="far fa-bullseye-pointer"></i></button>
                                                {% else %}
                                                    <input type='hidden' name='boolModif' value=''>
                                                    <button class="btn btn-outline-primary  " type="submit" data-toggle="collapse" data-target="#xtendGarantie" aria-expanded="false" aria-controls="xtendGarantie">Valider <i class="far fa-bullseye-pointer"></i></button>
                                                {% endif %}
                                </div>
                               
                                </div>
                                
                </form> 
                                
                                 
              
            </div>
                
        </div>


        <div class=" col-5" >
        
            {% for ligne in devisLignes %}
            <div class="card my-1 shadow col-12">
            <div class='card-body'>

            <div class="d-flex ">
              
                <div class="col-9">
                   
                     
                    <h5 class="card-subtitle  text-muted mb-1"> 
                    {% if ligne.cmdl__actif %}
                         <span style='color: LimeGreen;' >
                            <i class="fas fa-toggle-on"></i>
                        </span>
                    {% else %}
                        <span style='color: IndianRed;' >
                            <i class="fas fa-toggle-off"></i>
                        </span>
                    {% endif %}
                   
                    
                        <span class="badge badge-secondary">{{ligne.prestaLib}}</span> <b>{{ligne.devl_quantite}}</b>{{  "x " ~ ligne.devl__designation}} 
                    </h5>
                    <div class="d-flex flex-row">
                     {% if ligne.devl__note_client %}
                        <div class=" mx-1">
                            <button  type="button" value="{{ligne.devl__id}}" id="c{{ligne.devl__id}}" class="btn btn-sm btn-primary jBoxModalClient"><i class="far fa-comment-edit"></i></button>
                        </div>
                     {% endif %}
                     {% if ligne.devl__note_interne %}
                        <div class="mx-1">
                            <button  type="button" value="{{ligne.devl__id}}" id="{{ligne.devl__id}}" class="btn btn-sm btn-success jBoxModal"><i class="fas fa-tools"></i></button>
                        </div>
                     {% endif %}
                      {% if ligne.cmdl__image %}
                        <div class="mx-1">
                            <button  type="button" value="{{ligne.devl__id}}"  class="btn btn-sm btn-info"><i class="far fa-camera-alt"></i></button>
                        </div>
                     {% endif %}
                     <form class="mx-1" action="ligneDevisV2" method="POST">
                        <input type="hidden" name="modifyIdCmd" value="{{ligne.cmdl__cmd__id}}"/>
                        <input type="hidden" name="modifyId" value="{{ligne.devl__id}}"/>
                        <button type="submit" class="btn btn-outline-primary btn-sm"><i class="fal fa-file-edit"></i></button>
                    </form>
                    <div class='mx-1'>
                        <form class="mx-1" action="ligneDevisV2" method="POST">
                            <input type="hidden" name="modifyIdCmd" value="{{ligne.cmdl__cmd__id}}"/>
                            <input type="hidden" name="modifyId" value="{{ligne.devl__id}}"/>
                            <input type="hidden" name="duplicate" value="{{ligne.devl__id}}">
                            <button type="submit" class="btn btn-outline-secondary btn-sm"><i class="far fa-copy"></i></button>
                        </form>
                    </div>
                    <div class='mx-1'>
                        <button type="button" class="btn btn-outline-success btn-sm open_modal"  value="{{ligne.devl__id}}" ><i class="far fa-arrow-circle-down"></i></button>
                    </div>
                    </div>
                    <div class="">
                        <p class="card-text">
                            <b>{{ligne.kw__lib ~ " " }}</b>
                            {% if ligne.cmdl__etat_masque > 0 %}
                            <i class="fas fa-eye-slash"></i> 
                            {% endif %} : 
                               
                           
                            {% if ligne.devl__prix_barre and ligne.devl__prix_barre > 0  %}
                                <strike>
                                    {{" " ~ ligne.devl__prix_barre ~ "  "}}
                                </strike>
                            {% endif %}
                            <b>
                            {{ "  " ~ ligne.devl_puht ~ " €"}}
                            </b>
                        </p>
                        
                    </div>
                    <div class="">
                        <p>
                            {% if ligne.xtend %}
                            Extensions de garantie : <br>
                                {% for xtend in ligne.xtend %}
                                   
                                        {{xtend.cmdg__type ~ " mois "}}
                                            {% if xtend.cmdg__prix_barre and xtend.cmdg__prix_barre > 0 %}
                                            <strike class="text-muted">{{xtend.cmdg__prix_barre ~ " € "}}</strike>
                                            {% endif %}
                                        {{ xtend.cmdg__prix ~ " € "}}
                                        <br>
                                {% endfor %}
                            {% else %}
                            Pas d'extensions de garanties
                            {% endif %}
                        </p>
                    </div>  
                </div>
                
                <div class="col-3 d-flex flex-column justify-content-between">
                    <div class="d-flex justify-content-end ">
                        {% if loop.first %}
                        <div class="align-content-end my-1">
                            <form action="ligneDevisV2" method="POST">
                                <input type="hidden" name="up[]" value="{{ligne.devl__ordre}}"/>
                                <input type="hidden" name="upId" value="{{ligne.cmdl__cmd__id}}"/>
                                <input type="hidden" name="upLigne" value="{{ligne.devl__id}}"/>
                                <button type="submit" class="btn btn-outline-success btn-sm" disabled><i class="far fa-arrow-to-top"></i></button>
                            </form>
                        </div> 
                        {% else %}
                        <div class="align-content-end my-1">
                            <form action="ligneDevisV2" method="POST">
                                <input type="hidden" name="up[]" value="{{ligne.devl__ordre}}"/>
                                <input type="hidden" name="upId" value="{{ligne.cmdl__cmd__id}}"/>
                                <input type="hidden" name="upLigne" value="{{ligne.devl__id}}"/>
                                <button type="submit" class="btn btn-outline-success btn-sm"><i class="far fa-arrow-to-top"></i></button>
                            </form>
                        </div> 
                        {% endif %}
                        
                    </div>
                    <div class="d-flex justify-content-end">
                        <form action="ligneDevisV2" method="POST">
                            <input type="hidden" name="deleteIdCmd" value="{{ligne.cmdl__cmd__id}}"/>
                            <input type="hidden" name="deleteId" value="{{ligne.devl__id}}"/>
                            <button type="submit" class="btn btn-outline-danger btn-sm"><i class="far fa-trash-alt"></i></button>
                        </form>
                    </div> 
                    {% if loop.last %}
                    <div class="d-flex justify-content-end ">
                        <div class="align-content-end my-1">
                            <form action="ligneDevisV2" method="POST">
                                <input type="hidden" name="down[]" value="{{ligne.devl__ordre}}"/>
                                <input type="hidden" name="downId" value="{{ligne.cmdl__cmd__id}}"/>
                                <input type="hidden" name="downLigne" value="{{ligne.devl__id}}"/>
                            <button type="submit" class="btn btn-outline-success btn-sm" disabled><i class="far fa-arrow-to-bottom"></i></button>
                            </form>
                        </div> 
                    </div>  
                    {% else %}
                    <div class="d-flex justify-content-end ">
                        <div class="align-content-end my-1">
                            <form action="ligneDevisV2" method="POST">
                                <input type="hidden" name="down[]" value="{{ligne.devl__ordre}}"/>
                                <input type="hidden" name="downId" value="{{ligne.cmdl__cmd__id}}"/>
                                <input type="hidden" name="downLigne" value="{{ligne.devl__id}}"/>
                                <button type="submit" class="btn btn-outline-success btn-sm"><i class="far fa-arrow-to-bottom"></i></button>
                            </form>
                        </div> 
                    </div>  
                    {% endif %}
                    
                </div>
                
                </div>                 
            </div>
            </div>
            
            {% if ligne.sous_ref %}
                {% for sous_ref in ligne.sous_ref %}
               
                <div class=" my-1 shadow col-12 sous_ref_card">
                    <div class='card-body'>
                        <div class="d-flex ">
                            <div class="col-9">
                                <h5 class="card-subtitle  text-muted mb-1">   
                                    <span class="badge badge-secondary">{{sous_ref.prestaLib}}</span> <b>{{sous_ref.devl_quantite}}</b>{{  "x " ~ sous_ref.devl__designation}} 
                                </h5>
                                <div class="d-flex flex-row">
                                    <div class="mx-1 text-primary">
                                        <button value="{{sous_ref.devl__id}}" type="button" class="btn btn-outline-primary btn-sm click_sous_ref"><i class="fal fa-file-edit"></i></button>
                                     </div> 
                                    {% if sous_ref.devl__note_interne %}
                                        <div class="mx-1">
                                            <button  type="button" value="{{sous_ref.devl__id}}" id="{{sous_ref.devl__id}}" class="btn btn-sm btn-success jBoxModal"><i class="fas fa-tools"></i></button>
                                        </div>
                                    {% endif %}
                                    {% if sous_ref.cmdl__sous_garantie == 1 %}
                                    <div class="mx-1 text-primary">
                                       <span><i>garantie étendue</i></span>
                                    </div>
                                    {% endif %}
                                </div>
                                
                            </div>
                            <div class="col-3 d-flex flex-column justify-content-center">
                                <div class="d-flex justify-content-end ">    
                                </div>
                                <div class="d-flex justify-content-end">
                                    <form action="ligneDevisV2" method="POST">
                                        <input type="hidden" name="deleteIdCmd" value="{{sous_ref.cmdl__cmd__id}}"/>
                                        <input type="hidden" name="deleteId" value="{{sous_ref.devl__id}}"/>
                                        <button type="submit" class="btn btn-outline-danger btn-sm"><i class="far fa-trash-alt"></i></button>
                                    </form>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}

            {% endfor %} 
            
            {% if devisLignes  %}
            <div class="card my-1 shadow col-12">
                <div class='card-body'>
                <p class="h4 text-center">Totaux hors extensions</p>
                   <div class="table-responsive-md">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th >Total remise</th>
                                    <th >TVA taux</th>
                                    <th >TVA montant</th>
                                    <th >Total h.t</th>
                                    <th >Total ttc</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="text-center" >{{remise_total}} €</th>
                                    <th class="text-center">{{totaux[1]}} %</th>
                                    <th class="text-center">{{totaux[2]}} €</th>
                                    <th class="text-center">{{totaux[0]}} €</th>
                                    <th class="text-center">{{totaux[3]}} €</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                {% if alert_intracom == true  %}
                    <div class="alert alert-danger" role="alert">
                        <b>Impossible de valider le devis !</b><br>
                        Merci de renseigner les numeros de TVA intracom du client.
                    </div>
             
                {% endif %}
                

                <form action="printDevis2" method="POST">
                    <input type="hidden" name="idDevis" value="{{devis.devis__id}}">
                <div class="d-flex justify-content-around flex-wrap my-3 ">
                    
                    <div class="custom-control custom-checkbox col-4">
                        {% if devis.cmd__mode_remise %}
                            <input type="checkbox" class="custom-control-input" id="checkremise" name="checkremise" value='ok' checked>
                            <label class="custom-control-label" for="checkremise">Mode remise</label>
                        {% else %}
                            <input type="checkbox" class="custom-control-input" id="checkremise" name="checkremise" value='ok'>
                            <label class="custom-control-label" for="checkremise">Mode remise</label>
                        {% endif %}
                        
                    </div>
                    <div class="custom-control custom-checkbox col-4">
                        {% if devis.cmd__report_xtend %}
                            <input type="checkbox" class="custom-control-input" id="checkExtend" name="checkExtend" value='ok' checked>
                            <label class="custom-control-label" for="checkExtend">Reporter les extensions</label>
                        {% else %}
                            <input type="checkbox" class="custom-control-input" id="checkExtend" name="checkExtend" value='ok'>
                            <label class="custom-control-label" for="checkExtend">Reporter les extensions</label>
                        {% endif %}
                        
                    </div>
                    <div class="custom-control custom-checkbox col-4">
                            {% if devis.cmd__modele_devis == 'STX' %}
                                <input type="checkbox" class="custom-control-input" id="check_total" name="check_total" value='ok' checked>
                                <label class="custom-control-label" for="check_total">Masquer le total</label>
                            {% else %}
                                <input type="checkbox" class="custom-control-input" id="check_total" name="check_total" value='ok'>
                                <label class="custom-control-label" for="check_total">Masquer le total</label>
                            {% endif %}
                            
                    </div>
                    <div class="custom-control custom-checkbox col-4">
                        {% if devis.cmd__modele_devis == 'TVT' %}
                            <input type="checkbox" class="custom-control-input" id="check_tva" name="check_tva" value='ok' checked>
                            <label class="custom-control-label" for="check_tva">Masquer la tva</label>
                        {% else %}
                            <input type="checkbox" class="custom-control-input" id="check_tva" name="check_tva" value='ok'>
                            <label class="custom-control-label" for="check_tva">Masquer la tva</label>
                        {% endif %}
                           
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Valider le Devis</button>
                </div>     
            </form>
            </div>
            {% else %}
             <div class="card my-1 shadow col-12">
                <div class='card-body'>
                    <div class="alert alert-warning text-center" role="alert">
                        Aucun article présent ! 
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <!--modal de creation de sous ref-->
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="modal_sous_ref">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <form action="ligneDevisV2" method="POST">
            <div class="modal-header">
                <h5 class="modal-title" >Sous référence</h5>
                <button type="button" class="close"  aria-label="Close" id="close_modal_sous_ref">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden"  id="input_id_ref" name="input_id_ref" required>
                    </div>
                        <div class="form-group ">
                            <label><b>Modèle:</b></label>
                            <select class=" border selectpicker col-12"  data-live-search="true" data-size="10" data-width="100%" id="select_sous_ref" name="select_sous_ref" required>
                                <option class="" value="">..</option>
                                {% for article in articleList %} 
                                        <option class="optionSelect modelSelect" value={{article.afmm__id}}>{{article.afmm__modele   ~ " " ~ article.famille ~ " " ~ article.Marque }}</option>
                                {% endfor %}
                            </select> 
                        </div>
                        <div class="form-group">
                            <label><b>Désignation sur le devis/facture:</b></label>
                              <input type="text" class="form-control"  id="designation_sous_ref" name="designation_sous_ref" required>
                        </div> 
                        <div class="form-row">
                                <div class="form-group col-2">
                                    <label for="validationCustom04"><b>Quantité</b></label>
                                    <input type="number" class="form-control" min="1" max="1000000" value="1" id="quantite_sous_ref" name="quantite_sous_ref" required>
                                </div>     
                        </div>

                        <div class="form-group">
                            <label for="comInterne"><b>Commentaire Interne</b></label>
                            <textarea class="CKE"  placeholder="Commentaire interne...." rows="4" id="com_sous_ref" name="com_sous_ref"></textarea>
                        </div>
                            
                       <div class="custom-control custom-checkbox col-4">
                            <input type="checkbox" class="custom-control-input" id="sous_ref_garantie" name="sous_ref_garantie" value='ok'>
                            <label class="custom-control-label" for="sous_ref_garantie">Etendre la garantie</label>
                        </div>     
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Valider</button>
                  </div>
              </form>
          </div>
        </div>
    </div>


    <!--modal de modif de sous ref-->
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="modal_modif_sous_ref">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <form action="ligneDevisV2" method="POST">
            <div class="modal-header">
                <h5 class="modal-title" >Modification</h5>
                <button type="button" class="close"  aria-label="Close" id="close_modal_modif_sous_ref">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden"  id="input_modif_sous_ref" name="input_modif_sous_ref" required>
                        <input type="hidden"  id="input_modif_sous_ref_cmd" name="input_modif_sous_ref_cmd" required>
                    </div>
                        <div class="form-group ">
                            <label><b>Modèle:</b></label>
                            <select class=" border selectpicker col-12"  data-live-search="true" data-size="10" data-width="100%" id="select_modif_sous_ref" name="select_modif_sous_ref" required>
                                <option class="" value="">..</option>
                                {% for article in articleList %} 
                                        <option class="optionSelect modelSelect" value={{article.afmm__id}}>{{article.afmm__modele   ~ " " ~ article.famille ~ " " ~ article.Marque }}</option>
                                {% endfor %}
                            </select> 
                        </div>
                        <div class="form-group">
                            <label><b>Désignation sur le devis/facture:</b></label>
                              <input type="text" class="form-control"  id="designation_modif_sous_ref" name="designation_modif_sous_ref" required>
                        </div> 
                        <div class="form-row">
                                <div class="form-group col-2">
                                    <label for="validationCustom04"><b>Quantité</b></label>
                                    <input type="number" class="form-control" min="1" max="1000000" value="1" id="quantite_modif_sous_ref" name="quantite_modif_sous_ref" required>
                                </div>     
                        </div>

                        <div class="form-group">
                            <label for="comInterne"><b>Commentaire Interne</b></label>
                            <textarea class="CKE"  placeholder="Commentaire interne...." rows="4" id="com_modif_sous_ref" name="com_modif_sous_ref"></textarea>
                        </div>
                            
                       <div class="custom-control custom-checkbox col-4">
                            <input type="checkbox" class="custom-control-input" id="modif_sous_ref_garantie" name="modif_sous_ref_garantie" value='ok'>
                            <label class="custom-control-label" for="modif_sous_ref_garantie">Etendre la garantie</label>
                        </div>     
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Valider</button>
                  </div>
              </form>
          </div>
        </div>
    </div>

</main>
{% endblock %}
     
{% block script %}
<!-- jQuery first, then Bootstrap JS -->
<script  type="text/javascript" src="public/datatable/datatables.min.js"></script>
<script  type="text/javascript" src="public/bootstrap/js/bootstrap.bundle.min.js"></script>
<script  type="text/javascript" src="public/bootstrap/js/bootstrap-select.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.2.0/dist/jBox.all.min.js"></script>
<script type="text/javascript" src="public/ckE2/build/ckeditor.js"></script>
<script type="text/javascript" src="public/js/ligneV2/nDevisLigne.js"></script>
<script type="text/javascript" src="public/js/ligneV2/scenario.js"></script>
<script type="text/javascript" src="public/js/ligneV2/sous_ref.js"></script>
{% endblock %}