{% extends 'layoutMain.twig' %}


{% block style %}
<link href="vendor/fontawesome/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap-select.min.css">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="public/css/dashboard.css">
{% endblock %}
 

{% block main %}
<main  role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">                                                                                  
    <div class="d-flex justify-content-start flex-column mb-5 border-bottom">
        <form class="d-flex align-items-center" action="DevisV2" method="POST">
            <div class="mr-4">
            <input type="hidden" value="{{devis.devis__id}}" name="modif">
            <button class="btn btn-warning btn-sm "><i class="fas fa-arrow-left"></i> Retour</button>
            </div>
            <div class="mx-4">
            <h2 >Lignes Devis N° {{devis.devis__id}}  <i class="fal fa-file-edit"></i></h2>
            </div>
        </form>
    </div>
     
        <!-- 1ere ligne -->
    <div class="d-flex flex-wrap flex-row justify-content-between col-12">

        <div class="card col-7" >
            <div class="card-body">
               <h5 class="card-title">Variable</h5>
                    <form action="ligneDevisV2" method="POST">
                    <input type="hidden" value="{{devis.devis__id}}" name="devis">
                        <div class="d-flex flex-row justify-content-between col-12 my-4">

                            <div class="col-1">
                                <label for="prestationChoix">Prestation:</label>
                                <select class="selectpicker" data-width="auto" name="presta" required>
                                {% for presta in prestaList %}
                                    <option class=""  value={{presta.kw__value}}>{{presta.kw__lib}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-8 ">
                                <label for="choixDesignation">Modèle:</label>
                                    <select class="selectpicker col-12"  data-live-search="true" data-width="100%" name="fmm" id="fmm" required>
                                        <option class="optionSelect modelSelect" value="">..</option>
                                        {% for article in articleList %} 
                                        <option class="optionSelect modelSelect" value={{article.afmm__id}}>{{article.afmm__modele   ~ " " ~ article.famille ~ " " ~ article.Marque }}</option>
                                        {% endfor %}
                                    </select> 
                            </div>

                        </div>

                        <div class="d-flex flex-row justify-content-between col-12 my-4">
                            <div class="col-12 ">
                                    <label for="referenceS">Désignation sur le devis/facture: </label>
                                    <input type="text" class="form-control" name="designation" id="designation" required>
                            </div>
                        </div>


                    <div class="d-flex justify-content-between col-12 my-4">

                        <div class="col-3">
                            <label  for="etatRow">Etat</label>
                            <select class="form-control" id="etatRow" name="etat">
                            {% for etat in etatList %}
                            <option   value="{{etat.kw__value}}" >{{etat.kw__lib}}</option>
                            {% endfor %}
                            </select>
                        </div>

                        <div class="col-3">
                            <label for="validationCustom04">Garantie/mois</label>
                            <select class="form-control" id="garantieRow" name="garantie">
                            {% for garantie in garanties %}
                            <option   value="{{garantie.kw__value}}" >{{garantie.kw__lib}}</option>
                            {% endfor %}
                            </select>
                        </div>
                    
                        <div class="col-2">
                            <label for="validationCustom04">Quantité</label>
                            <input type="number" class="form-control" value="1" name="quantite">
                        </div> 
                    </div>

                     <div class="d-flex justify-content-between col-12 my-4">

                        <div class="col-3">
                            <label for="validationCustom04"><strike>Promotion H.T</strike></label>
                            <input class="form-control" type="text"  name="promo">
                        </div>
                    
                        <div class="col-3">
                            <label for="validationCustom04">Prix € H.T</label>
                            <input class="form-control" type="text" name="prix" required>
                        </div>

                        <div class="col-2">
                            <label for="validationCustom04">Ordre</label>
                            <input type="number" class="form-control" value="1" name="ordre">
                        </div> 
                    </div>


                    <div class="d-flex justify-content-between col-12 my-4">

                        <div class="" id="accordion">
                            <button class="btn btn-link  " type="button" data-toggle="collapse" data-target="#extensions" aria-expanded="false" aria-controls="xtendGarantie">Extensions de garantie</button>
                        </div>

                        <div class="" id="accordion">
                            <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#commentaire" aria-expanded="false" aria-controls="xtendGarantie">Commentaires</button>
                        </div>

                        <div class="" id="accordion">
                            <button class="btn btn-outline-primary  " type="submit" data-toggle="collapse" data-target="#xtendGarantie" aria-expanded="false" aria-controls="xtendGarantie">Valider</button>
                        </div>
                    </div>

                    <div id="accordion">
                        <div class="collapse multi-collapse " id="extensions"   data-parent="#accordion">
                                <div class="col-12 mt-3 mb-2 d-flex justify-content-around">
                                    <div class="d-flex flex-row flex-wrap justify-content-around">
                                   {% for garantie in garanties %}
                                        {% if garantie.kw__value != 00 %}
                                        <div class="input-group-text col-5 my-2">
                                            <div>
                                                <div>
                                                    <label ><b>{{garantie.kw__lib}} mois</b></label>
                                                </div>
                                                
                                            </div>
                                            <div class="col-10 d-flex justify-content-around">
                                                <div class="col-6">
                                                 <label ><strike>Promo</strike></label>
                                                <input type="text" class="form-control" name="xtendB[{{garantie.kw__value}}][]">
                                                </div>
                                                 <div class="col-6">
                                                 <label >Prix H.T</label>
                                                <input type="text" class="form-control" name="xtendP[{{garantie.kw__value}}][]">
                                                </div>  
                                            </div> 
                                        </div>
                                        {% endif %}
                                   {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="collapse multi-collapse" id="commentaire" data-parent="#accordion">
                                <div class="col-12 my-3 d-flex justify-content-between">
                                    <div class="col-6">
                                        <label for="comClient">Commentaire Client</label>
                                        <textarea class="ck-content" id="comClient" placeholder="Commentaire client...." rows="4" name="commentaire"></textarea>
                                    </div>
                                    <div class="col-6 ">
                                        <label for="comInterne">Commentaire Interne</label>
                                        <textarea class="CKE" id="comInterne" placeholder="Commentaire interne...." rows="4" name="interne"></textarea>
                                    </div>
                                </div>

                               

                            </div>
                    </div>

                      
                  
                    


            </form>   
            </div>
        </div>


        <div class=" col-5" >
        
            {% for ligne in devisLignes %}
            <div class="card my-1">
            <div class='card-body'>

            <h5 class="card-subtitle mb-2 text-muted">{{ ligne.devl_quantite ~ "x " ~ ligne.devl__designation}} 
            </h5>

                <div class="d-flex flex-column">
                    <div class="col-6">
                        <p class="card-text">
                            {{ligne.kw__lib ~ " " }}
                            {% if ligne.devl__prix_barre and ligne.devl__prix_barre > 0  %}
                                <strike>
                                    {{" " ~ ligne.devl__prix_barre ~ " "}}
                                </strike>
                            {% endif %}
                        </p>
                        <b>
                            {{ " " ~ ligne.devl_puht ~ " €"}}
                        </b>
                    </div>  
                </div>

                <div class="d-flex">
                    <div class="col-6">
                        <p>
                            {% if ligne.xtend %}
                            Extensions de garantie : <br>
                                {% for xtend in ligne.xtend %}
                                   
                                        {{xtend.cmdg__type ~ " mois "}}
                                            {% if xtend.cmdg__prix_barre and xtend.cmdg__prix_barre > 0 %}
                                            <strike class="text-muted">{{xtend.cmdg__prix_barre ~ " € "}}</strike>
                                            {% endif %}
                                        {{ xtend.cmdg__prix ~ " € "}}
                                        <br>
                                {% endfor %}
                            {% else %}
                            Pas d'extensions de garanties
                            {% endif %}
                        </p>
                    </div>
                    <div class="col-6">
                        hello
                    </div>
                </div>

                <div class="d-flex">
                    <div class="col-6">
                        <button type="button" class="btn btn-outline-primary btn-sm">Modifier</button>
                        <button type="button" class="btn btn-outline-secondary btn-sm">Dupliquer</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-outline-danger btn-sm">Supprimer</button>
                    </div>

                </div>
                
              
                
                </div>
            </div>
            {% endfor %}     
        </div>
    </div>

</main>
{% endblock %}
     
{% block script %}
<!-- jQuery first, then Bootstrap JS -->
<script  type="text/javascript" src="public/datatable/datatables.min.js"></script>
<script  type="text/javascript" src="public/bootstrap/js/bootstrap.bundle.min.js"></script>
<script  type="text/javascript" src="public/bootstrap/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="public/ckE2/build/ckeditor.js"></script>
<script type="text/javascript" src="public/js/nDevisLigne.js"></script>
{% endblock %}