{% extends 'new_layout.twig' %}


{% block style %}
<link href="vendor/fontawesome/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap-select.min.css">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
<link href="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.3.3/dist/jBox.min.css" rel="stylesheet">
<link rel="stylesheet" href="public/jbox/jBox.all.min.css">
<link rel="stylesheet" href="public/css/dashboard.css">
<link rel="stylesheet" href="public/css/forms.css">
<link rel="stylesheet" href="public/css/cards.css">
<link rel="stylesheet" href="public/css/font-family.css">

{% endblock %}
{% block main %}
<main  role="main" class="container-fluid background-recode-list"> 
    <div class="d-flex justify-content-start flex-column my-3 text-white ">
        <form class="d-flex align-items-center" action="DevisV2" method="POST">
            <div class="mr-4">
            <input type="hidden" value="{{devis.devis__id}}" name="modif">
            <button class="btn btn-recode-warning btn-sm "><i class="fas fa-arrow-left"></i> Retour</button>
            </div>
            <div class="mx-4">
            {% if modif %}
                <h2 >Mofication : {{modif.cmdl__designation}}  <i class="fal fa-file-edit"></i></h2>
            {% else %}
                <h2 >Lignes Devis N° {{devis.devis__id}}  <i class="fal fa-file-edit"></i></h2>
            {% endif %}
            </div>
        </form>
    </div>
        <!-- 1ere ligne -->
    <div class="d-flex flex-wrap flex-row justify-content-between col-12 ">
        {% if modif %}
        <div class=" col-7 border border-success card-recode-devis" >
        {% else %}
        <div class=" col-7 card-recode-devis" >
        {% endif %} 
            <div class="card-body">
                    <form action="ligneDevisV2" method="POST">
                    <input type="hidden" value="{{devis.devis__id}}" name="devis">
                        <div class="d-flex flex-row justify-content-between col-12 my-4">
                            <div class="col-1">
                                <label for="prestationChoix"><b>Prestation:</b></label>
                                <select class="border selectpicker" data-width="auto" name="presta" id='presta' required>
                                {% for presta in prestaList %}
                                    {% if modif.cmdl__prestation == presta.kw__value %}
                                        <option class=""  value={{presta.kw__value}} selected>{{presta.kw__lib}}</option>
                                    {% else %}
                                        <option class=""  value={{presta.kw__value}}>{{presta.kw__lib}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                             
                            </div>
                            <button class="btn btn-recode-mini-devis btn-sm my-auto mx-auto" type="button" id="recherchePnButton" data-toggle="tooltip" data-placement="top" title="Selectionner directement un pn" ><i class="fas fa-fast-forward"></i></button>

                            <div class="col-8 ">
                              
                                <label for="choixDesignation"><b>Modèle:</b></label>
                               
                                    <select class=" border selectpicker col-12"  data-live-search="true" data-size="10" data-width="100%" name="fmm" id="fmm" required>
                                        <option class="  optionSelect modelSelect" value="">..</option>
                                        {% for article in articleList %} 
                                            {% if modif.cmdl__id__fmm == article.afmm__id %}
                                                <option class="optionSelect modelSelect" value={{article.afmm__id}} selected>{{article.afmm__modele   ~ " " ~ article.famille ~ " " ~ article.Marque }}</option>
                                            {% else  %}
                                                <option class="optionSelect modelSelect" value={{article.afmm__id}}>{{article.afmm__modele   ~ " " ~ article.famille ~ " " ~ article.Marque }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select> 
                                  
                                    <div class="d-none mt-2" id="wrapper-pn">
                                        <label for="pn-select"><b>PN :</b></label>
                                            <select class="  border selectpicker col-12" data-live-search="true" data-size="10" data-width="100%"
                                                name="pn_select" id="pn-select">
                                                <option class="optionSelect " value="0">Non spécifié</option>
                                            </select>
                                    </div>
                                    
                            </div>
                           
                        </div>
                        <div class="d-flex flex-row justify-content-between col-12 my-4">
                            {% if user.user__devis_acces > 30  %}
                            <div class="col-10 ">
                                <label for="referenceS"><b>Désignation sur le devis/facture:</b></label>
                                {% if modif.cmdl__designation %}
                                  <input type="text" class="form-control" name="designation" id="designation" value="{{modif.cmdl__designation}}"  text="{{modif.cmdl__designation}}" required>
                                {% else %}
                                  <input type="text" class="form-control" name="designation" id="designation" required>
                                {% endif %}     
                            </div>
                            <div class="custom-control custom-checkbox mt-4 ">
                                <input type="checkbox" class="custom-control-input" id="checkDesignation" name='checkDesignation' value='ok'>
                                <label class="custom-control-label" for="checkDesignation">Désignation par défault</label>
                            </div>
                            {% else %}
                            <div class="col-12 ">
                                <label for="referenceS"><b>Désignation sur le devis/facture:</b></label>
                                {% if modif.cmdl__designation %}
                                  <input type="text" class="form-control" name="designation" id="designation" value="{{modif.cmdl__designation}}"  text="{{modif.cmdl__designation}}" required>
                                {% else %}
                                  <input type="text" class="form-control" name="designation" id="designation" required>
                                {% endif %}     
                            </div>
                            {% endif %}
                            
                        </div>
                    <div class="d-flex justify-content-between col-12 my-4">
                        <div class="col-3">
                            <label  for="etatRow"><b>Etat</b></label>
                            <select class="form-control" id="etatRow" name="etat" data-size="10">
                            {% for etat in etatList %}
                                {% if modif.cmdl__etat == etat.kw__value %}
                                    <option   value="{{etat.kw__value}}"  selected>{{etat.kw__lib}}</option>
                                {% else %}
                                    <option   value="{{etat.kw__value}}" >{{etat.kw__lib}}</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                        </div>
                        <div class="col-3">
                            <label for="validationCustom04"><b>Garantie/mois</b></label>
                            <select class="form-control" id="garantieRow" name="garantie">
                            {% for garantie in garanties %}
                                {% if garantie.kw__value == modif.cmdl__garantie_base %}
                                    <option value="{{garantie.kw__value}}" selected>{{garantie.kw__lib}}</option>
                                {% else %}
                                    <option value="{{garantie.kw__value}}" >{{garantie.kw__lib}}</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                        </div>
                        <div class="col-2">
                            <label for="validationCustom04"><b>Quantité</b></label>
                                {% if modif.cmdl__qte_cmd %}
                                    <input type="number" class="form-control" min="0" value="{{modif.cmdl__qte_cmd}}" name="quantite">
                                {% else %}
                                    <input type="number" class="form-control" value="1" min="0" name="quantite">
                                {% endif %}  
                        </div> 
                    </div>
                     <div class="d-flex justify-content-between col-12 my-4">
                        <div class="col-3">
                            <label for="validationCustom04"><strike><b>Promotion H.T</b></strike></label>
                            {% if modif.cmdl__prix_barre  and  modif.cmdl__prix_barre > 0 %}
                                <input class="form-control" type="text" value="{{modif.cmdl__prix_barre}}"  name="promo">
                            {% else %}
                                <input class="form-control" type="text"  name="promo">
                            {% endif %}
                            
                        </div>
                        <div class="col-3">
                            <label for="validationCustom04"><b>Prix € H.T</b></label>
                            {% if modif.cmdl__puht %}
                                <input class="form-control" type="text" name="prix" value='{{modif.cmdl__puht }}' required>
                            {% else %}
                                <input class="form-control" type="text" name="prix" required>
                            {% endif %}
                            
                        </div>
                        <div class="col-2">
                        {% if modif.cmdl__etat_masque > 0 %}
                            <div class="custom-control custom-checkbox ">
                                <input type="checkbox" class="custom-control-input" id="checkEtat" name="checkEtat" value='ok' checked>
                                <label class="custom-control-label" for="checkEtat">Masquer Etat</label>
                            </div>
                        {% else %}
                            <div class="custom-control custom-checkbox ">
                                <input type="checkbox" class="custom-control-input" id="checkEtat" name="checkEtat" value='ok'>
                                <label class="custom-control-label" for="checkEtat">Masquer Etat</label>
                            </div>
                        {% endif %}
                        {% if modif.cmdl__image > 0 %}
                            <div class="custom-control custom-checkbox ">
                                <input type="checkbox" class="custom-control-input" id="checkImage" name='checkImage' value='ok' checked>
                                <label class="custom-control-label" for="checkImage">Inclure image <i id="hover_image" class="fas fa-image-polaroid d-none"></i></label>
                            </div>
                        {% else %}
                            <div class="custom-control custom-checkbox ">
                                <input type="checkbox" class="custom-control-input" id="checkImage" name='checkImage' value='ok'>
                                <label class="custom-control-label" for="checkImage">Inclure image <i id="hover_image" class="fas fa-image-polaroid d-none"></i></label>
                            </div>
                        {% endif %}
                            <!-- <div class="custom-control custom-checkbox d-none" id="div_pn">
                                <input type="checkbox" class="custom-control-input" id="checkImagePn" name='checkImagePn' value='ok'>
                                <label class="custom-control-label" for="checkImagePn">Inclure image pn <i id="hover_image_pn" class="fas fa-image-polaroid d-none"></i></label>
                            </div> -->
                        {% if modif.cmdl__actif <  1 and modif  %}
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkactif" name='checkactif' value='ok' checked>
                                <label class="custom-control-label" for="checkactif" >Inactif</label>
                            </div>
                        {% else %}
                            <div class="custom-control custom-checkbox ">
                                <input type="checkbox" class="custom-control-input" id="checkactif" name='checkactif' value='ok'>
                                <label class="custom-control-label" for="checkactif" >Inactif</label>
                            </div>
                        {% endif %}      
                        </div> 
                    </div>
                    <div id="accordion">
                        <div class="d-flex" id="extensions"   data-parent="#accordion">
                                
                                <div class="col-12"  >
                                    <div class="col-12 my-3 d-flex flex-row flex-wrap justify-content-around">
                                        <div class="col-6 mb-4">
                                            <label for="comClient"><b>Commentaire Client</b></label>
                                            {% if modif.cmdl__note_client %}
                                                <textarea class="ck-content" id="comClient" placeholder="Commentaire client...." rows="4" name="commentaire">{{modif.cmdl__note_client}}</textarea>
                                            {% else %}
                                                <textarea class="ck-content" id="comClient" placeholder="Commentaire client...." rows="4" name="commentaire"></textarea>
                                            {% endif %}    
                                        </div>
                                        <div class="col-6 mb-4 ">
                                            <label for="comInterne"><b>Commentaire Interne</b></label>
                                            {% if modif.cmdl__note_interne %}
                                                <textarea class="CKE" id="comInterne" placeholder="Commentaire interne...." rows="4" name="interne">{{modif.cmdl__note_interne}}</textarea>
                                            {% else %}
                                                <textarea class="CKE" id="comInterne" placeholder="Commentaire interne...." rows="4" name="interne"></textarea>
                                            {% endif %} 
                                        </div>
                                       
                                    </div>
                                </div>
                                
                            </div>
                           
                            
                    </div>
                    <div class="col-12 mt-3 mb-2 d-flex  justify-content-between">
                                    <div class="d-flex col-6 flex-row flex-wrap justify-content-start">
                                        <div class="input-group-text bg-light border-0 col-10 mx-2">
                                            <div>
                                                <div class="text-center">
                                                    <label ><b>Extension</b></label>
                                                </div>
                                            </div>
                                            <div class="col-10 d-flex justify-content-around">
                                                <div class="col-6 text-center">
                                                    <label ><b><strike>Promo</strike></b></label>
                                                        
                                                </div>
                                                <div class="col-6 text-center">
                                                
                                                    <label ><b>P.U.HT</b></label>   
                                                </div>  
                                            </div> 
                                        </div>
                                        
                                            {% for garantie in garanties %}
                                                {% if garantie.kw__value >= 12 %}
                                                    <div class="input-group-text bg-light border-0 col-12 mx-1">
                                                        <div>
                                                            <div >
                                                                <label ><b>{{garantie.kw__lib}} mois</b></label>
                                                            </div>
                                                        </div>
                                                        <div class="col-10 d-flex  justify-content-around">
                                                            <div class="col-6">
                                                                
                                                                    {% if  garantie.xtend.cmdg__type == garantie.kw__value and garantie.xtend.cmdg__prix_barre  %}
                                                                        <input type="text" class="form-control controlOption" value="{{ garantie.xtend.cmdg__prix_barre}}"   name="xtendB[{{garantie.kw__value}}][]">
                                                                    {% else %}
                                                                        <input type="text" class="form-control controlOption"  name="xtendB[{{garantie.kw__value}}][]">
                                                                    {% endif %}       
                                                            </div>
                                                            <div class="col-6">
                                                            
                                                                    {% if  garantie.xtend.cmdg__type == garantie.kw__value and garantie.xtend.cmdg__prix  %}
                                                                        <input type="text" class="form-control controlOption" value="{{ garantie.xtend.cmdg__prix}}"   name="xtendP[{{garantie.kw__value}}][]">
                                                                    {% else %}
                                                                        <input type="text" class="form-control controlOption"  name="xtendP[{{garantie.kw__value}}][]">
                                                                    {% endif %}        
                                                            </div>  
                                                        </div> 
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                           
                                    </div>
                                    <div class="col-6 my-4 d-flex flex-column justify-content-start" >
                                        <div class=" my-3">
                                            <label for="validationCustom04"><b>Numéro de DP </b></label>
                                            {% if modif.cmdl__dp %}
                                                <input class="form-control" type="text" name="dp_number" value='{{modif.cmdl__dp }}' >
                                            {% else %}
                                                <input class="form-control" type="text" name="dp_number">
                                            {% endif %}
                                            
                                        </div>
                                                {% if modif.modif and not duplicate %}
                                                    <input type='hidden' name='boolModif' id="boolModif" value='{{modif.cmdl__id}}'>
                                                    <input type='hidden' name='boolIdCmd' value='{{modif.cmdl__cmd__id}}'>
                                                    <button class="btn btn-recode-primary " type="submit" data-toggle="collapse" data-target="#xtendGarantie" aria-expanded="false" aria-controls="xtendGarantie">modifier <i class="far fa-bullseye-pointer"></i></button>
                                                {% else %}
                                                    <input type='hidden' name='boolModif' value=''>
                                                    <button class="btn btn-recode-primary " type="submit" data-toggle="collapse" data-target="#xtendGarantie" aria-expanded="false" aria-controls="xtendGarantie">Valider <i class="far fa-bullseye-pointer"></i></button>
                                                {% endif %}
                                                {% if duplicate %}
                                                    <input type='hidden'  id="duplicata" value='{{modif.cmdl__id}}'>
                                                {% endif %}
                                               
                                </div>
                               
                                </div>
                                
                </form> 
            </div>
                
        </div>


        <div class=" col-5" >
        
            {% for ligne in devisLignes %}
            <div class=" card-recode-devis my-2  col-12">
            <div class='card-body'>

            <div class="d-flex ">

                <div class="col-9">  
                    <h5 class="card-subtitle  text-muted mb-1"> 
                    {% if ligne.cmdl__actif %}
                         <button style='color: LimeGreen;' type="button" class="click-span btn btn-link" value="{{ligne.devl__id}}" data-toggle="tooltip" data-placement="top" title="Désactiver la ligne">
                            <i class="fas fa-toggle-on"></i>
                        </button>
                    {% else %}
                        <button style='color: IndianRed;' class="click-span btn btn-link"  value="{{ligne.devl__id}}" data-toggle="tooltip" data-placement="top" title="Réactiver la ligne">
                            <i class="fas fa-toggle-off"></i>
                        </button>
                    {% endif %}
                        <span class="badge badge-secondary">{{ligne.prestaLib}} </span> <b> Quantité : 
                        
                        <custom-button value="{{ligne.devl__id}}" target="{{ligne.devl_quantite}}"></custom-button>
                       </b> 
                    </h5>
                    <h5 class="card-subtitle  text-muted mb-1" >
                        {{ ligne.devl__designation}}

                        {% if ligne.devl__modele %}
                            <br>
                           PN:  <b>{{ ligne.apn__pn_long ~ " " ~  ligne.apn__desc_short }}</b>
                        {% endif %}

                    </h5>
                    <div class="d-flex flex-row">
                     {% if ligne.devl__note_client %}
                        <div class=" mx-1">
                            <button  type="button" value="{{ligne.devl__id}}" id="c{{ligne.devl__id}}" class="btn btn-sm btn-primary jBoxModalClient"><i class="far fa-comment-edit"></i></button>
                        </div>
                     {% endif %}
                     {% if ligne.devl__note_interne %}
                        <div class="mx-1">
                            <button  type="button" value="{{ligne.devl__id}}" id="{{ligne.devl__id}}" class="btn btn-sm btn-success jBoxModal"><i class="fas fa-tools"></i></button>
                        </div>
                     {% endif %}
                      {% if ligne.cmdl__image %}
                        <div class="mx-1">
                            <button  type="button" value="{{ligne.devl__id}}"  class="btn btn-sm btn-info"><i class="far fa-camera-alt"></i></button>
                        </div>
                     {% endif %}
                     <form class="mx-1" action="ligneDevisV2" method="POST">
                        <input type="hidden" name="modifyIdCmd" value="{{ligne.cmdl__cmd__id}}"/>
                        <input type="hidden" name="modifyId" value="{{ligne.devl__id}}"/>
                        <button type="submit" class="btn btn-recode-mini-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Modifier"><i class="fal fa-file-edit"></i></button>
                    </form>
                    <div class='mx-1'>
                        <form class="mx-1" action="ligneDevisV2" method="POST">
                            <input type="hidden" name="modifyIdCmd" value="{{ligne.cmdl__cmd__id}}"/>
                            <input type="hidden" name="modifyId" value="{{ligne.devl__id}}"/>
                            <input type="hidden" name="duplicate"  value="{{ligne.devl__id}}">
                            <button type="submit" class="btn btn-recode-mini-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Dupliquer"><i class="far fa-copy"></i></button>
                        </form>
                    </div>
                    <div class='mx-1'>
                        <button type="button" class="btn btn-recode-mini btn-sm open_modal"  value="{{ligne.devl__id}}" data-toggle="tooltip" data-placement="top" title="Ajouter une sous-référence" ><i class="far fa-arrow-circle-down"></i></button>
                    </div>
                    </div>
                    <div class="my-2">
                        <p class="card-text">
                            <b>{{ligne.kw__lib ~ " " }}</b>
                            {% if ligne.cmdl__etat_masque > 0 %}
                            <i class="fas fa-eye-slash"></i> 
                            {% endif %} : 
                               
                           
                            {% if ligne.devl__prix_barre and ligne.devl__prix_barre > 0  %}
                                <strike>
                                    {{" " ~ ligne.devl__prix_barre ~ "  "}}
                                </strike>
                            {% endif %}
                            <b>
                            {{ "  " ~ ligne.devl_puht ~ " €"}}
                            </b>
                        </p>
                        
                    </div>
                    <div class="">
                        <p>
                            {% if ligne.xtend %}
                            Extensions de garantie : <br>
                                {% for xtend in ligne.xtend %}
                                   
                                        {{xtend.cmdg__type ~ " mois "}}
                                            {% if xtend.cmdg__prix_barre and xtend.cmdg__prix_barre > 0 %}
                                            <strike class="text-muted">{{xtend.cmdg__prix_barre ~ " € "}}</strike>
                                            {% endif %}
                                        {{ xtend.cmdg__prix ~ " € "}}
                                        <br>
                                {% endfor %}
                            {% else %}
                            Pas d'extensions de garanties
                            {% endif %}
                        </p>
                    </div>  
                    <div class="">
                        {% if ligne.cmdl__dp %}
                            <b>Numéro de demande de prix : </b>{{ligne.cmdl__dp}}
                        {% endif %}
                    </div>  
                </div>
                
                <div class="col-3 d-flex flex-column justify-content-between">
                    <div class="d-flex justify-content-end ">
                        <div class="align-content-end my-1">
                          
                                <select class="form-select select-order" value='{{ligne.devl__id}}' aria-label="Default select example" name="{{ligne.devl__id}}">
                                    {% for option in devisLignes %}
                                        {% if option.devl__ordre == ligne.devl__ordre %}
                                            <option value="{{option.devl__ordre}}" selected>{{option.devl__ordre}}</option>
                                        {% else %}
                                            <option value="{{option.devl__ordre}}" >{{option.devl__ordre}}</option>
                                        {% endif %}
                                        
                                    {% endfor %}
                                </select>
                                
                            
                        </div>
                        {# {% if loop.first %}
                        <div class="align-content-end my-1">
                            <form action="ligneDevisV2" method="POST">
                                <input type="hidden" name="up[]" value="{{ligne.devl__ordre}}"/>
                                <input type="hidden" name="upId" value="{{ligne.cmdl__cmd__id}}"/>
                                <input type="hidden" name="upLigne" value="{{ligne.devl__id}}"/>
                                <button type="submit" class="btn btn-recode-mini btn-sm" disabled><i class="far fa-arrow-to-top"></i></button>
                            </form>
                        </div> 
                        {% else %}
                        <div class="align-content-end my-1">
                            <form action="ligneDevisV2" method="POST">
                                <input type="hidden" name="up[]" value="{{ligne.devl__ordre}}"/>
                                <input type="hidden" name="upId" value="{{ligne.cmdl__cmd__id}}"/>
                                <input type="hidden" name="upLigne" value="{{ligne.devl__id}}"/>
                                <button type="submit" class="btn btn-recode-mini btn-sm" data-toggle="tooltip" data-placement="top" title="Monter"><i class="far fa-arrow-to-top"></i></button>
                            </form>
                        </div> 
                        {% endif %}     #}
                    </div>
                    <div class="d-flex justify-content-end">
                        <form action="ligneDevisV2" method="POST">
                            <input type="hidden" name="deleteIdCmd" value="{{ligne.cmdl__cmd__id}}"/>
                            <input type="hidden" name="deleteId" value="{{ligne.devl__id}}"/>
                            <button type="submit" class="btn btn-recode-mini-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Supprimer"><i class="far fa-trash-alt"></i></button>
                        </form>
                    </div> 
                    {# {% if loop.last %}
                    <div class="d-flex justify-content-end ">
                        <div class="align-content-end my-1">
                            <form action="ligneDevisV2" method="POST">
                                <input type="hidden" name="down[]" value="{{ligne.devl__ordre}}"/>
                                <input type="hidden" name="downId" value="{{ligne.cmdl__cmd__id}}"/>
                                <input type="hidden" name="downLigne" value="{{ligne.devl__id}}"/>
                            <button type="submit" class="btn btn-recode-mini btn-sm" disabled><i class="far fa-arrow-to-bottom"></i></button>
                            </form>
                        </div> 
                    </div>  
                    {% else %}
                    <div class="d-flex justify-content-end ">
                        <div class="align-content-end my-1">
                            <form action="ligneDevisV2" method="POST">
                                <input type="hidden" name="down[]" value="{{ligne.devl__ordre}}"/>
                                <input type="hidden" name="downId" value="{{ligne.cmdl__cmd__id}}"/>
                                <input type="hidden" name="downLigne" value="{{ligne.devl__id}}"/>
                                <button type="submit" class="btn btn-recode-mini btn-sm" data-toggle="tooltip" data-placement="top" title="Descendre"><i class="far fa-arrow-to-bottom"></i></button>
                            </form>
                        </div> 
                    </div>  
                    {% endif %} #}
                    
                </div>
                
                </div>                 
            </div>
            </div>
            
            {% if ligne.sous_ref %}
                {% for sous_ref in ligne.sous_ref %}
               
                <div class=" my-1 shadow col-12 card-recode-sous-ref">
                    <div class='card-body'>
                        <div class="d-flex ">
                            <div class="col-9">
                                
                                <h5 class="card-subtitle  text-muted mb-1">   
                                    <span class="badge badge-secondary">{{ligne.prestaLib}}</span> <b> Quantité : 
                        
                                        <custom-button value="{{sous_ref.devl__id}}" target="{{sous_ref.devl_quantite}}"></custom-button>
                                       </b> 
                                  
                                </h5>
                                <h5 class="card-subtitle  text-muted mb-1" >
                                    {{  sous_ref.devl__designation}}

                                        {% if sous_ref.devl__modele %}
                                                <br>
                                            PN:  <b>{{ sous_ref.apn__pn_long}}</b>
                                    {% endif %}
                                </h5>
                                <div class="d-flex flex-row">
                                    <div class="mx-1 text-primary">
                                        <button value="{{sous_ref.devl__id}}" type="button" class="btn btn-recode-mini btn-sm click_sous_ref" data-toggle="tooltip" data-placement="top" title="Modifier"><i class="fal fa-file-edit"></i></button>
                                     </div> 
                                    {% if sous_ref.devl__note_interne %}
                                        <div class="mx-1">
                                            <button  type="button" value="{{sous_ref.devl__id}}" id="{{sous_ref.devl__id}}" class="btn btn-sm btn-success jBoxModal"><i class="fas fa-tools"></i></button>
                                        </div>
                                    {% endif %}
                                    {% if sous_ref.cmdl__sous_garantie == 1 %}
                                    <div class="mx-1 text-primary">
                                       <span><i>garantie étendue</i></span>
                                    </div>
                                    {% endif %}
                                </div>
                                
                            </div>
                            <div class="col-3 d-flex flex-column justify-content-center">
                                <div class="d-flex justify-content-end ">    
                                </div>
                                <div class="d-flex justify-content-end">
                                    <form action="ligneDevisV2" method="POST">
                                        <input type="hidden" name="deleteIdCmd" value="{{sous_ref.cmdl__cmd__id}}"/>
                                        <input type="hidden" name="deleteId" value="{{sous_ref.devl__id}}"/>
                                        <button type="submit" class="btn btn-recode-mini-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Suprimer"><i class="far fa-trash-alt"></i></button>
                                    </form>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}

            {% endfor %} 
            
            {% if devisLignes  %}
            <div class="card my-1 shadow col-12">
                <div class='card-body'>
                <p class="h4 text-center">Totaux hors extensions</p>
                   <div class="table-responsive-md">
                        <table class="table">
                            <thead>
                                <tr>
                                    
                                    <th >TVA taux</th>
                                    <th >TVA montant</th>
                                    <th >Total h.t</th>
                                    <th >Total ttc</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                   
                                    <th class="text-center" id="tva_taux">{{totaux[1]}} %</th>
                                    <th class="text-center" id="montant_tva">{{totaux[2]}} €</th>
                                    <th class="text-center" id="total_ht">{{totaux[0]}} €</th>
                                    <th class="text-center" id="total_ttc">{{totaux[3]}} €</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                {% if alert_intracom == true  %}
                    <div class="alert alert-danger" role="alert">
                        <b>Impossible de valider le devis !</b><br>
                        Merci de renseigner les numeros de TVA intracom du client.
                    </div>
             
                {% endif %}
                

                <form action="printDevis2" method="POST">
                    <input type="hidden" name="idDevis" value="{{devis.devis__id}}">
                <div class="d-flex justify-content-between flex-wrap my-3 ">
                    
                    {# <div class="custom-control custom-checkbox col-4">
                        {% if devis.cmd__mode_remise %}
                            <input type="checkbox" class="custom-control-input" id="checkremise" name="checkremise" value='ok' checked>
                            <label class="custom-control-label" for="checkremise">Mode remise</label>
                        {% else %}
                            <input type="checkbox" class="custom-control-input" id="checkremise" name="checkremise" value='ok'>
                            <label class="custom-control-label" for="checkremise">Mode remise</label>
                        {% endif %}
                        
                    </div> #}
                    <div class="custom-control custom-checkbox col-4">
                        {% if devis.cmd__report_xtend %}
                            <input type="checkbox" class="custom-control-input" id="checkExtend" name="checkExtend" value='ok' checked>
                            <label class="custom-control-label" for="checkExtend">Reporter les extensions</label>
                        {% else %}
                            <input type="checkbox" class="custom-control-input" id="checkExtend" name="checkExtend" value='ok'>
                            <label class="custom-control-label" for="checkExtend">Reporter les extensions</label>
                        {% endif %} 
                    </div>
                    <div class="custom-control custom-checkbox col-4">
                            {% if devis.cmd__modele_devis == 'STX' %}
                                <input type="checkbox" class="custom-control-input" id="check_total" name="check_total" value='ok' checked>
                                <label class="custom-control-label" for="check_total">Masquer le total</label>
                            {% else %}
                                <input type="checkbox" class="custom-control-input" id="check_total" name="check_total" value='ok'>
                                <label class="custom-control-label" for="check_total">Masquer le total</label>
                            {% endif %}    
                    </div>
                    <div class="custom-control custom-checkbox col-4">
                        {% if devis.cmd__modele_devis == 'TVT' %}
                            <input type="checkbox" class="custom-control-input" id="check_tva" name="check_tva" value='ok' checked>
                            <label class="custom-control-label" for="check_tva">Masquer la tva</label>
                        {% else %}
                            <input type="checkbox" class="custom-control-input" id="check_tva" name="check_tva" value='ok'>
                            <label class="custom-control-label" for="check_tva">Masquer la tva</label>
                        {% endif %}
                    </div>
                    <div class="custom-control custom-checkbox col-4">
                        {% if devis.cmd__modele_devis == 'STS' %}
                            <input type="checkbox" class="custom-control-input" id="check_standard" name="check_standard" value='ok' checked>
                            <label class="custom-control-label" for="check_standard">Masquer garantie standard</label>
                        {% else %}
                            <input type="checkbox" class="custom-control-input" id="check_standard" name="check_standard" value='ok'>
                            <label class="custom-control-label" for="check_standard">Masquer garantie standard</label>
                        {% endif %}
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <div>
                        <button type="button" value="405" class="btn btn-recode-mini-primary mx-1 click-port">Port 5</button>
                        <button type="button" value="406" class="btn btn-recode-mini-primary mx-1 click-port">Port 30</button>
                        <button type="button" value="407" class="btn btn-recode-mini-primary mx-1 click-port">Palette</button>
                    </div>
                   
                    <button type="submit" class="btn btn-recode">Valider le Devis</button>
                </div>     
            </form>
            </div>
            {% else %}
             <div class="card my-1 shadow col-12">
                <div class='card-body'>
                    <div class="alert alert-warning text-center" role="alert">
                        Aucun article présent ! 
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

<!--modal de recherche par pn -->
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"  id="modalPnRecherche">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Recherche par PN</h5>
                        <button type="button" class="close" aria-label="Close" id="CloseModalRecherche">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group ">
                            <label><b>P/N:</b></label>
                            <select class=" border selectpicker col-12" data-live-search="true" data-size="10"
                                data-width="100%" id="select_pn_search" name="select_sous_ref" required>
                                {% for pn in pn_list %}
                                    <option class="optionSelect modelSelect" value={{pn.id__pn}}>
                                        {{pn.apn__pn_long ~ " " ~ pn.apn__desc_short }}</option>
                                {% endfor %}
                            </select>
                        </div>  
                    </div>
                    <div class="modal-footer">
                        <button type="button"  id="SearchPnModal" class="btn btn-recode">Selectionner</button>
                    </div>
            </div>
        </div>
    </div>

    <!--modal de creation de sous ref-->
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="modal_sous_ref">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <form action="ligneDevisV2" method="POST">
            <div class="modal-header">
                <h5 class="modal-title" >Sous référence</h5>
                <button type="button" class="close"  aria-label="Close" id="close_modal_sous_ref">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden"  id="input_id_ref" name="input_id_ref" required>
                    </div>
                        <div class="form-group ">
                            <label><b>Modèle:</b></label>
                            <select class=" border selectpicker col-12"  data-live-search="true" data-size="10" data-width="100%" id="select_sous_ref" name="select_sous_ref" required>
                                <option class="" value="">..</option>
                                {% for article in articleList %} 
                                        <option class="optionSelect modelSelect" value={{article.afmm__id}}>{{article.afmm__modele   ~ " " ~ article.famille ~ " " ~ article.Marque }}</option>
                                {% endfor %}
                            </select> 
                        </div>
                        <div class="d-none mt-2 form-group" id="wrapper-pn-sr">
                            <label for="pn-select-sr"><b>PN :</b></label>
                            <select class="  border selectpicker col-12" data-live-search="true" data-size="10" data-width="100%"
                                name="pn_select-sr" id="pn-select-sr">
                                <option class="optionSelect " value="0">Non spécifié</option>
                            </select>
                        </div>
                        <div class=" mt-2 form-group">
                            <label  for="etatRow"><b>Etat</b></label>
                            <select class="form-control" name="etat_sr" data-size="10">
                            {% for etat in etatList %}
                                    <option   value="{{etat.kw__value}}" >{{etat.kw__lib}}</option>
                               
                            {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label><b>Désignation sur le devis/facture:</b></label>
                              <input type="text" class="form-control"  id="designation_sous_ref" name="designation_sous_ref" required>
                        </div> 
                        <div class="form-row">
                                <div class="form-group col-2">
                                    <label for="validationCustom04"><b>Quantité</b></label>
                                    <input type="number" class="form-control" min="1" max="1000000" value="1" id="quantite_sous_ref" name="quantite_sous_ref" required>
                                </div>     
                        </div>

                        <div class="form-group">
                            <label for="comInterne"><b>Commentaire Interne</b></label>
                            <textarea class="CKE"  placeholder="Commentaire interne...." rows="4" id="com_sous_ref" name="com_sous_ref"></textarea>
                        </div>
                            
                       <div class="custom-control custom-checkbox col-4">
                            <input type="checkbox" class="custom-control-input" id="sous_ref_garantie" name="sous_ref_garantie" value='ok'>
                            <label class="custom-control-label" for="sous_ref_garantie">Etendre la garantie</label>
                        </div>     
                </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Valider</button>
                  </div>
              </form>
          </div>
        </div>
    </div>


    <!--modal de modif de sous ref-->
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="modal_modif_sous_ref">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <form action="ligneDevisV2" method="POST">
            <div class="modal-header">
                <h5 class="modal-title" >Modification</h5>
               
            </div>
            <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden"  id="input_modif_sous_ref" name="input_modif_sous_ref" required>
                        <input type="hidden"  id="input_modif_sous_ref_cmd" name="input_modif_sous_ref_cmd" required>
                    </div>
                        <div class="form-group ">
                            <label><b>Modèle:</b></label>
                            <select class=" border selectpicker col-12"  data-live-search="true" data-size="10" data-width="100%" id="select_modif_sous_ref" name="select_modif_sous_ref" required>
                                <option class="" value="">..</option>
                                {% for article in articleList %} 
                                        <option class="optionSelect modelSelect" value={{article.afmm__id}}>{{article.afmm__modele   ~ " " ~ article.famille ~ " " ~ article.Marque }}</option>
                                {% endfor %}
                            </select> 
                        </div>
                        <div class="d-none mt-2 form-group" id="wrapper-pn-sr-m">
                            <label for="pn-select-sr-m"><b>PN :</b></label>
                            <select class="  border selectpicker col-12" data-live-search="true" data-size="10" data-width="100%"
                                name="pn_select-sr-m" id="pn-select-sr-m">
                                <option class="optionSelect " value="0">Non spécifié</option>
                            </select>
                        </div>
                        <div class=" mt-2 form-group">
                            <label  for="etatRow"><b>Etat</b></label>
                            <select class="form-control" id="etat_m_sr" name="etat_m_sr" data-size="10">
                            {% for etat in etatList %}
                                    <option   value="{{etat.kw__value}}" >{{etat.kw__lib}}</option>
                               
                            {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label><b>Désignation sur le devis/facture:</b></label>
                              <input type="text" class="form-control"  id="designation_modif_sous_ref" name="designation_modif_sous_ref" required>
                        </div> 
                        <div class="form-row">
                                <div class="form-group col-2">
                                    <label for="validationCustom04"><b>Quantité</b></label>
                                    <input type="number" class="form-control" min="1" max="1000000" value="1" id="quantite_modif_sous_ref" name="quantite_modif_sous_ref" required>
                                </div>     
                        </div>

                        <div class="form-group">
                            <label for="comInterne"><b>Commentaire Interne</b></label>
                            <textarea class="CKE"  placeholder="Commentaire interne...." rows="4" id="com_modif_sous_ref" name="com_modif_sous_ref"></textarea>
                        </div>
                            
                       <div class="custom-control custom-checkbox col-4">
                            <input type="checkbox" class="custom-control-input" id="modif_sous_ref_garantie" name="modif_sous_ref_garantie" value='ok'>
                            <label class="custom-control-label" for="modif_sous_ref_garantie">Etendre la garantie</label>
                        </div>     
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Valider</button>
                  </div>
              </form>
          </div>
        </div>
    </div>
    <!--formulaire d'envoi du port auto-->
    
    {% if devisLignes %}
    <form action="ligneDevisV2" method="POST" id="form_port">
        <input type="hidden" id="value_port" name="value_port" value="">
        <input type="hidden" id="cmd__id_port" name="cmd__id_port" value="{{devis.devis__id}}">
    </form>
    <!--formulaire d'activation désactivation de ligne-->
    <form action="ligneDevisV2" method="POST" id="activate_line">
        <input type="hidden" id="value_activate" name="value_activate" value="">
        <input type="hidden" id="cmd__id_activate" name="cmd__id_activate" value="{{devis.devis__id}}">
    </form>
    <form action="ligneDevisV2" id="newOrderForm" method="POST">
        <input type="hidden" name="idDevisNewOrder" value="{{devis.devis__id}}">
        <input type="hidden" id="idNewOrder" name="idNewOrder" value="">
        <input type="hidden" id="valueNewOrder" name="valueNewOrder" value="">
    </form>
    {% endif %}

</main>
{% endblock %}
     
{% block script %}
<!-- jQuery first, then Bootstrap JS -->
<script  type="text/javascript" src="public/datatable/datatables.min.js"></script>
<script  type="text/javascript" src="public/bootstrap/js/bootstrap.bundle.min.js"></script>
<script  type="text/javascript" src="public/bootstrap/js/bootstrap-select.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.3.3/dist/jBox.min.js"></script>
<script type="text/javascript" src="public/ckeditor/ckeditor.js"></script>
 {# <script type="text/javascript" src="public/ckE2/build/ckeditor.js"></script>  #}
<script type="text/javascript" src="public/js/ligneV2/nDevisLigne.js"></script>
<script type="text/javascript" src="public/js/ligneV2/scenario.js"></script>
<script type="text/javascript" src="public/js/ligneV2/sous_ref.js"></script>
<script type="text/javascript" src="public/js/ligneV2/recherchePn.js"></script>
<script type="text/javascript" src="public/js/ligneV2/newOrder.js"></script>
<script type="text/javascript" src="public/js/custom/button/custom-button-quantite.js"></script>

<!-- <script type="text/javascript" src="public/js/ligneV2/ligne_admin.js"></script> -->
{% endblock %}