{% extends 'layoutLight.twig' %}


{% block style %}
<link href="vendor/fontawesome/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap-select.min.css">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
<link href="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.2.0/dist/jBox.all.min.css" rel="stylesheet">
<link rel="stylesheet" href="public/css/dashboard.css">
{% endblock %}
 

{% block main %}
<main  role="main" class=" pt-3 px-4">                                                                                  
    <div class="d-flex justify-content-start flex-column mb-5 border-bottom">
        <form class="d-flex align-items-center" action="DevisV2" method="POST">
            <div class="mr-4">
            <input type="hidden" value="{{devis.devis__id}}" name="modif">
            <button class="btn btn-warning btn-sm "><i class="fas fa-arrow-left"></i> Retour</button>
            </div>
            <div class="mx-4">
            
            {% if modif %}
                <h2 >Mofication : {{modif.cmdl__designation}}  <i class="fal fa-file-edit"></i></h2>
            {% else %}
                <h2 >Lignes Devis N° {{devis.devis__id}}  <i class="fal fa-file-edit"></i></h2>
            {% endif %}
            </div>
        </form>
    </div>
     
        <!-- 1ere ligne -->
    <div class="d-flex flex-wrap flex-row justify-content-between col-12">

        <div class="card col-6" >
            <div class="card-body">
               <h5 class="card-title">Variable</h5>
                    <form action="ligneDevisV2" method="POST">
                    <input type="hidden" value="{{devis.devis__id}}" name="devis">
                        <div class="d-flex flex-row justify-content-between col-12 my-4">

                            <div class="col-1">
                                <label for="prestationChoix">Prestation:</label>
                                <select class="border selectpicker" data-width="auto" name="presta" required>
                                {% for presta in prestaList %}
                                    {% if modif.cmdl__prestation == presta.kw__value %}
                                        <option class=""  value={{presta.kw__value}} selected>{{presta.kw__lib}}</option>
                                    {% else %}
                                        <option class=""  value={{presta.kw__value}}>{{presta.kw__lib}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-8 ">
                                <label for="choixDesignation">Modèle:</label>
                                    <select class=" border selectpicker col-12"  data-live-search="true" data-width="100%" name="fmm" id="fmm" required>
                                        <option class="  optionSelect modelSelect" value="">..</option>
                                        {% for article in articleList %} 
                                            {% if modif.cmdl__id__fmm == article.afmm__id %}
                                                <option class="optionSelect modelSelect" value={{article.afmm__id}} selected>{{article.afmm__modele   ~ " " ~ article.famille ~ " " ~ article.Marque }}</option>
                                            {% else  %}
                                                <option class="optionSelect modelSelect" value={{article.afmm__id}}>{{article.afmm__modele   ~ " " ~ article.famille ~ " " ~ article.Marque }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select> 
                            </div>

                        </div>

                        <div class="d-flex flex-row justify-content-between col-12 my-4">
                            <div class="col-12 ">
                                    <label for="referenceS">Désignation sur le devis/facture: </label>
                                    {% if modif.cmdl__designation %}
                                      <input type="text" class="form-control" name="designation" id="designation" value="{{modif.cmdl__designation}}"  text="{{modif.cmdl__designation}}" required>
                                    {% else %}
                                      <input type="text" class="form-control" name="designation" id="designation" required>
                                    {% endif %}     
                            </div>
                        </div>


                    <div class="d-flex justify-content-between col-12 my-4">

                        <div class="col-3">
                            <label  for="etatRow">Etat</label>
                            <select class="form-control" id="etatRow" name="etat">
                            {% for etat in etatList %}
                                {% if modif.cmdl__etat == etat.kw__value %}
                                    <option   value="{{etat.kw__value}}"  selected>{{etat.kw__lib}}</option>
                                {% else %}
                                    <option   value="{{etat.kw__value}}" >{{etat.kw__lib}}</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                        </div>

                        <div class="col-3">
                            <label for="validationCustom04">Garantie/mois</label>
                            <select class="form-control" id="garantieRow" name="garantie">
                            {% for garantie in garanties %}
                                {% if garantie.kw__value == modif.cmdl__garantie_base %}
                                    <option value="{{garantie.kw__value}}" selected>{{garantie.kw__lib}}</option>
                                {% else %}
                                    <option value="{{garantie.kw__value}}" >{{garantie.kw__lib}}</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                        </div>
                    
                        <div class="col-2">
                            <label for="validationCustom04">Quantité</label>
                                {% if modif.cmdl__qte_cmd %}
                                    <input type="number" class="form-control" value="{{modif.cmdl__qte_cmd}}" name="quantite">
                                {% else %}
                                    <input type="number" class="form-control" value="1" name="quantite">
                                {% endif %}  
                        </div> 
                    </div>

                     <div class="d-flex justify-content-between col-12 my-4">

                        <div class="col-3">
                            <label for="validationCustom04"><strike>Promotion H.T</strike></label>
                            {% if modif.cmdl__prix_barre  and  modif.cmdl__prix_barre > 0 %}
                                <input class="form-control" type="text" value="{{modif.cmdl__prix_barre}}"  name="promo">
                            {% else %}
                                <input class="form-control" type="text"  name="promo">
                            {% endif %}
                            
                        </div>
                    
                        <div class="col-3">
                            <label for="validationCustom04">Prix € H.T</label>
                            {% if modif.cmdl__puht %}
                                <input class="form-control" type="text" name="prix" value='{{modif.cmdl__puht }}' required>
                            {% else %}
                                <input class="form-control" type="text" name="prix" required>
                            {% endif %}
                            
                        </div>

                        <div class="col-2">
                            <label for="validationCustom04"> inclure l'image</label>
                            <input type="checkbox" class="form-control" value="1" name="ordre">
                        </div> 
                    </div>


                    <div class="d-flex justify-content-between col-12 my-4">

                        <div class="" id="accordion">
                            <button class="btn btn-link  " type="button" data-toggle="collapse" data-target="#extensions" aria-expanded="false" aria-controls="xtendGarantie">Extensions de garantie</button>
                        </div>

                        <div class="" id="accordion">
                            <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#commentaire" aria-expanded="false" aria-controls="xtendGarantie">Commentaires</button>
                        </div>

                        <div class="" id="accordion">
                            {% if modif.modif %}
                                 <input type='hidden' name='boolModif' value='{{modif.cmdl__id}}'>
                                 <input type='hidden' name='boolIdCmd' value='{{modif.cmdl__cmd__id}}'>
                                 <button class="btn btn-outline-primary  " type="submit" data-toggle="collapse" data-target="#xtendGarantie" aria-expanded="false" aria-controls="xtendGarantie">modifier</button>
                            {% else %}
                                 <input type='hidden' name='boolModif' value=''>
                                 <button class="btn btn-outline-primary  " type="submit" data-toggle="collapse" data-target="#xtendGarantie" aria-expanded="false" aria-controls="xtendGarantie">Valider</button>
                            {% endif %}
                        </div>
                    </div>

                    <div id="accordion">
                        <div class="collapse show multi-collapse " id="extensions"   data-parent="#accordion">
                                <div class="col-12 mt-3 mb-2 d-flex justify-content-around">
                                    <div class="d-flex flex-row flex-wrap justify-content-around">
                           
                                {% for garantie in garanties %}
                                    {% if garantie.kw__value != 00 %}
                                        <div class="input-group-text col-5 my-2">
                                            <div>
                                                <div>
                                                    <label ><b>{{garantie.kw__lib}} mois</b></label>
                                                </div>
                                            </div>
                                            <div class="col-10 d-flex justify-content-around">
                                                <div class="col-6">
                                                <label ><strike>Promo</strike></label>     
                                                        {% if  garantie.xtend.cmdg__type == garantie.kw__value and garantie.xtend.cmdg__prix_barre  %}
                                                            <input type="text" class="form-control" value="{{ garantie.xtend.cmdg__prix_barre}}"   name="xtendB[{{garantie.kw__value}}][]">
                                                        {% else %}
                                                            <input type="text" class="form-control"  name="xtendB[{{garantie.kw__value}}][]">
                                                        {% endif %}       
                                                </div>
                                                <div class="col-6">
                                                <label >Prix H.T</label>
                                                        {% if  garantie.xtend.cmdg__type == garantie.kw__value and garantie.xtend.cmdg__prix  %}
                                                            <input type="text" class="form-control" value="{{ garantie.xtend.cmdg__prix}}"   name="xtendP[{{garantie.kw__value}}][]">
                                                        {% else %}
                                                            <input type="text" class="form-control"  name="xtendP[{{garantie.kw__value}}][]">
                                                        {% endif %}        
                                                </div>  
                                            </div> 
                                        </div>
                                    {% endif %}
                                {% endfor %}
                           
                                    </div>
                                </div>
                            </div>
                            <div class="collapse  multi-collapse" id="commentaire" data-parent="#accordion">
                                <div class="col-12 my-3 d-flex justify-content-between">
                                    <div class="col-6">
                                        <label for="comClient">Commentaire Client</label>
                                        {% if modif.cmdl__note_client %}
                                            <textarea class="ck-content" id="comClient" placeholder="Commentaire client...." rows="4" name="commentaire">{{modif.cmdl__note_client}}</textarea>
                                        {% else %}
                                            <textarea class="ck-content" id="comClient" placeholder="Commentaire client...." rows="4" name="commentaire"></textarea>
                                        {% endif %}    
                                    </div>
                                    <div class="col-6 ">
                                        <label for="comInterne">Commentaire Interne</label>
                                        {% if modif.cmdl__note_interne %}
                                            <textarea class="CKE" id="comInterne" placeholder="Commentaire interne...." rows="4" name="interne">{{modif.cmdl__note_interne}}</textarea>
                                        {% else %}
                                            <textarea class="CKE" id="comInterne" placeholder="Commentaire interne...." rows="4" name="interne"></textarea>
                                        {% endif %} 
                                    </div>
                                </div>
                            </div>
                    </div>
            </form>   
            </div>
        </div>


        <div class=" col-6" >
        
            {% for ligne in devisLignes %}
            <div class="card my-1 shadow col-12">
            <div class='card-body'>

            <div class="d-flex ">
                <div class="col-8">
                    <h5 class="card-subtitle mb-2 text-muted">{{ ligne.devl_quantite ~ "x " ~ ligne.devl__designation}} </h5>
                     {% if ligne.devl__note_interne %}
                                    <button id='jboxModal' type="button" class="btn btn-sm btn-success"><i class="far fa-comment-edit"></i></button>
                                {% endif %}
                    <div class="">
                        <p class="card-text">
                            {{ligne.kw__lib ~ " " }}
                               
                           
                            {% if ligne.devl__prix_barre and ligne.devl__prix_barre > 0  %}
                                <strike>
                                    {{" " ~ ligne.devl__prix_barre ~ " "}}
                                </strike>
                            {% endif %}
                        </p>
                        <b>
                            {{ " " ~ ligne.devl_puht ~ " €"}}
                        </b>
                    </div>  
                </div>
                <div class="col-4">
                    <div class="d-flex justify-content-end ">
                        <div class="align-content-end my-1">
                            <form action="ligneDevisV2" method="POST">
                                <input type="hidden" name="up[]" value="{{ligne.devl__ordre}}"/>
                                <input type="hidden" name="upId" value="{{ligne.cmdl__cmd__id}}"/>
                                <input type="hidden" name="upLigne" value="{{ligne.devl__id}}"/>
                                <button type="submit" class="btn btn-outline-success btn-sm"><i class="far fa-arrow-to-top"></i></button>
                            </form>
                            
                        </div> 
                    </div>
                    <div class="d-flex justify-content-end ">
                        <div class="align-content-end my-1">
                            <form action="ligneDevisV2" method="POST">
                                <input type="hidden" name="deleteIdCmd" value="{{ligne.cmdl__cmd__id}}"/>
                                <input type="hidden" name="deleteId" value="{{ligne.devl__id}}"/>
                                <button type="submit" class="btn btn-outline-danger btn-sm"><i class="far fa-trash-alt"></i></button>
                            </form>
                        </div> 
                    </div>
                    <div class="d-flex justify-content-end ">
                        <div class=" my-1">
                            <form action="ligneDevisV2" method="POST">
                                    <input type="hidden" name="modifyIdCmd" value="{{ligne.cmdl__cmd__id}}"/>
                                    <input type="hidden" name="modifyId" value="{{ligne.devl__id}}"/>
                                    <button type="submit" class="btn btn-outline-primary btn-sm"><i class="fal fa-file-edit"></i></button>
                            </form>
                        </div>    
                    </div>
                    
                   
                </div>
                
            </div>

                <div class="d-flex flex-column">
                    
                </div>

                <div class="d-flex">
                    <div class="col-6">
                        <p>
                            {% if ligne.xtend %}
                            Extensions de garantie : <br>
                                {% for xtend in ligne.xtend %}
                                   
                                        {{xtend.cmdg__type ~ " mois "}}
                                            {% if xtend.cmdg__prix_barre and xtend.cmdg__prix_barre > 0 %}
                                            <strike class="text-muted">{{xtend.cmdg__prix_barre ~ " € "}}</strike>
                                            {% endif %}
                                        {{ xtend.cmdg__prix ~ " € "}}
                                        <br>
                                {% endfor %}
                            {% else %}
                            Pas d'extensions de garanties
                            {% endif %}
                        </p>
                    </div>
                    <div class='col-6'>
                       
                        <div class="d-flex justify-content-end ">
                            <div class='my-1'>
                                <button type="button" class="btn btn-outline-secondary btn-sm"><i class="far fa-copy"></i></button>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end ">
                            <div class="align-content-end my-1">
                                <form action="ligneDevisV2" method="POST">
                                    <input type="hidden" name="down[]" value="{{ligne.devl__ordre}}"/>
                                    <input type="hidden" name="downId" value="{{ligne.cmdl__cmd__id}}"/>
                                    <input type="hidden" name="downLigne" value="{{ligne.devl__id}}"/>
                                <button type="submit" class="btn btn-outline-success btn-sm"><i class="far fa-arrow-to-bottom"></i></button>
                                </form>
                            </div> 
                        </div>
                    </div>
                    </div>
                        
                              
                    </div>

                <div class="d-flex">
                    <div class="col-6">
                        
                    </div>
                    <div class="col-6">
                        
                    </div>

                </div>
                
              
                
                </div>
            
            {% endfor %}     
        </div>
    </div>

</main>
{% endblock %}
     
{% block script %}
<!-- jQuery first, then Bootstrap JS -->
<script  type="text/javascript" src="public/datatable/datatables.min.js"></script>
<script  type="text/javascript" src="public/bootstrap/js/bootstrap.bundle.min.js"></script>
<script  type="text/javascript" src="public/bootstrap/js/bootstrap-select.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.2.0/dist/jBox.all.min.js"></script>
<script type="text/javascript" src="public/ckE2/build/ckeditor.js"></script>
<script type="text/javascript" src="public/js/nDevisLigne.js"></script>
{% endblock %}