{% extends 'layoutMain.twig' %}
 
     {% block main %}

     <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap  align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Nouveau devis  <i class="fal fa-file-edit"></i></h1>
       
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
          </div>
        </div>
      </div>

      
        <!-- Modal Choisir societe  -->
          <div class="modal fade" id="modalClient" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" >Société <i class="fal fa-building"></i> </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <table id="client" class="table  display" style="width:100%"> 
                    <thead class="thead-dark"> 
                      <tr><th>Id</th><th>Nom</th><th>Adresse</th></tr>
                     </thead > 
                    <tbody>
                      {% for client in clientList %}
                       <tr class="trClick"><td>{{client.client__id}}</td><td>{{ client.client__societe}}</td><td>{{client.client__ville}}</td></tr>
                       {% endfor %}
                    </tbody>
                  </table>
                </div>
                <form  class="form" role="form"  method="POST" action="nouveauDevis" id="formSelectClient">
                  <div class="modal-footer justify-content-between ">
                      <input type="hidden" name="choixClient" id="choixClient" value="">
                  </div>
                </form>
              </div>
            </div>
          </div>
             <!-- Modal créer société  -->
          <div class="modal fade" id="modalClientCrea" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" >Société <i class="fal fa-building"></i> </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form id="FormClientCrea" method="POST" action="nouveauDevis">
                    <div class="form-row">
                      <div class="form-group col-md-8">
                        <label for="inputEmail4">Société*</label>
                        <input type="text" class="form-control text-uppercase" id="inputEmail4"  name="societe" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputAddress">Adresse</label>
                      <input type="text" class="form-control" id="inputAddress"  name="adr1" >
                    </div>
                    <div class="form-group">
                      
                      <input type="text" class="form-control" id="inputAddress2" name="adr2">
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-2">
                        <label for="inputZip">CP*</label>
                        <input type="text" class="form-control" id="inputZip"  name="cp" required>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputCity">Ville*</label>
                        <input type="text" class="form-control" id="inputCity"  name="ville" required >
                      </div>
                      <div class="form-group col-md-4">
                        <label for="pays">Pays*</label>
                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="pays">
                          <option value="france" selected>France</option>
                          <option value="autre" >autre</option>
                        </select>
                      </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-end ">
                  <div>
                    <button type="submit" class="btn btn-primary">Valider</button>
                  </div>
                </div>
              </form>
              </div>
            </div>
          </div>
           <!-- Modal Contact  -->
           <div class="modal fade" id="modalContact" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" >Contact <i class="fal fa-user"></i></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <table id="contactTable" class="table  display" style="width:100%"> 
                    <thead class="thead-dark"> 
                      <tr><th>Id</th><th>Nom</th><th>Fonction</th></tr>
                     </thead > 
                    <tbody>
                      {% for contact in contactList %}
                       <tr class="trClick"><td>{{contact.contact__id}}</td><td>{{contact.contact__nom ~ " " ~ " " ~ contact.contact__prenom}}</td><td>{{contact.keyword__lib}}</td></tr>
                       {% endfor %}
                    </tbody>
                  </table>
                </div>
                <form  class="form" role="form"  method="POST" action="nouveauDevis" id="formSelectContact">
                  <input type="hidden" name="choixContact" id="choixContact" value="">
                </form>
               
                  <div class="modal-footer justify-content-end ">
                    <div>
                      <button type="button" class="btn btn-outline-primary" data-dismiss="modal" data-toggle="modal" data-target="#modalContactCrea" >Créer</button>
                    </div>
                  </div>
              
              </div>
            </div>
          </div>

          <!-- Modal Contact Creation  -->
          <div class="modal fade" id="modalContactCrea" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered  modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" >Contact <i class="fal fa-user"></i></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body">
                  <!-- debut form-->
                  <form id="FormContactCrea" method="POST" action="nouveauDevis">
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputState">Fonction *</label>
                        <select id="inputState" class="form-control" name="fonctionContact" required>
                          <option value="STD" selected>Standard</option>
                          {% for keyword in keywordList %}
                          <option value={{keyword.keyword__value}}>{{keyword.keyword__lib}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputCiv">Civilité</label>
                        <select id="inputCiv" class="form-control" name="civiliteContact" required>
                          <option  selected>...</option>
                          <option value="M.">Mr</option>
                          <option value="Mme">Mme</option>
                        </select>
                      </div>
                      
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputCity">Nom</label>
                        <input type="text" class="form-control" name="nomContact">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputCity">Prenom</label>
                        <input type="text" class="form-control" name="prenomContact">
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="form-group col-md-3">
                        <label for="inputZip">Telephone</label>
                        <input type="text" class="form-control" name="telContact">
                      </div>
                      <div class="form-group col-md-3">
                        <label for="inputZip">Fax </label>
                        <input type="text" class="form-control"name="faxContact">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputCity">Mail</label>
                        <input type="email" class="form-control"name="mailContact">
                      </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-end ">
                  <div>
                    <button type="submit" class="btn btn-primary">Valider</button>
                  </div>
                </div>
              </form>
               <!-- fin form-->
              </div>
            </div>
          </div>
          <!-- Modal PRESTA  -->
          <div class="modal fade" id="modalPresta" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" >Ligne de devis <i class="fal fa-plus-circle"></i></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-row">
                    <div class="col-md-3 mb-3">
                      <label for="validationCustom04">Prestation</label>
                      <select class="custom-select" id="prestationChoix">
                        <option selected  value="">...</option>
                        {% for presta in prestaList %}
                          <option value={{presta.keyword__value}}>{{presta.keyword__lib}}</option>
                          {% endfor %}
                      </select>
                    </div>
                    <div class="col-6">
                      <label for="validationCustom04">Désignation</label>
                      <select class="custom-select" id="choixDesignation">
                        <option   value="">...</option>
                        {% for article in articleList %}
                          <option class="optionSelect" value={{article.art_type}}>{{article.art_type}}</option>
                          {% endfor %}
                      </select>
                    </div>
                      <div class="custom-control custom-checkbox mt-4">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#choixRef" aria-expanded="false" aria-controls="collapseExample" id="modifReference">Modifier</button>
                      </div>
                      <div class="collapse col-12" id="choixRef">
                        <div class="col-12 mt-2 mb-2">
                          <input type="text" class="form-control" placeholder="...... "  aria-label="Username" aria-describedby="basic-addon1" id='referenceS'>
                        </div>
                      </div>
                    </div>
                <div class="form-row align-items-center  d-flex justify-content-between">
                  <div class="col-4">
                    <label for="validationCustom04">Etat</label>
                    <select class="custom-select" id="etatRow">
                      <option selected  value="">...</option>
                      <option   value="neuf">neuf</option>
                      <option value="occasion">reconditionné</option>
                    </select>
                  </div>
                  <div class="col-4">
                    <label for="validationCustom04">Garantie/mois</label>
                    <select class="custom-select" id="garantieRow" >
                      <option  value="">..</option>
                      <option value="06" selected>06</option>
                      <option value="12">12</option>
                      <option value="24">24</option>
                      <option value="36">36</option>
                      <option value="48">48</option>
                    </select>
                  </div>
                  
                  <div class="col-1">
                    <label for="validationCustom04">Quantité</label>
                    <input type="number" class="form-control" value="1" id="quantiteRow">
                  </div>
                  <div class="col-2">
                    <label for="validationCustom04">Prix € H.T</label>
                    <input class="form-control" type="text"  id="prixRow">
                  </div>
                </div>
                <div class="form-row mt-2 form-row align-items-center  d-flex justify-content-center">
                  <div class="d-flex justify-content-start">
                  
                  <div class="custom-control custom-checkbox mt-4" id="accordion">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#xtendGarantie" aria-expanded="false" aria-controls="xtendGarantie">Extensions de garantie</button>
                  </div>
                 
                </div>
                    <div class="custom-control custom-checkbox mt-4">
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#commentaire" aria-expanded="false" aria-controls="commentaire">Commentaires</button>
                    </div>
                    <div class="custom-control custom-checkbox mt-4">
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#prixBarres" aria-expanded="false" aria-controls="commentaire">Prix barrés</button>
                    </div>
                    <div class="collapse col-12" id="xtendGarantie" data-parent="#accordion">
                      <ul class="list-group list-group-flush" id="xtendList">

                      </ul>
                      <div class="col-12 mt-2 mb-2 d-flex justify-content-start">
                        
                        <div class="col-2">
                          <label for="validationCustom04">Durée/mois</label>
                          <select class="custom-select" id="xtendMois" >
                            <option value="12">12</option>
                            <option value="24">24</option>
                            <option value="36">36</option>
                            <option value="48">48</option>
                          </select>
                        </div>
                            <div class="col-3">
                              <label for="validationCustom04">Prix € H.T</label>
                              <input class="form-control" type="text"  id="xtendPrice">
                            </div>
                          <div class="d-flex col-4 align-items-end">
                            <button type="button" class="btn btn-primary  mt-2 "><i class="fal fa-plus-circle" id="xtendGr"></i></button>
                          </div>
                      </div>
                    </div>
                    <div class="collapse col-12" id="commentaire" data-parent="#accordion">
                      <div class="col-12 mt-2 mb-2 d-flex justify-content-between">
                        <div class="col-6">
                        <textarea class="form-control" id="comClient" placeholder="Commentaire client...." rows="4"></textarea>
                        </div>
                        <div class="col-6">
                          <textarea class="form-control" id="comInterne" placeholder="Commentaire interne...." rows="4"></textarea>
                          </div>
                          
                      </div>
                    </div>
                    <div class="collapse col-12 " id="prixBarres" data-parent="#accordion">
                        <div class="col-6 col-12 mt-2 mb-2 d-flex justify-content-end">
                          <div class="col-3">
                            <label for="validationCustom04">Prix barré € H.T</label>
                            <input class="form-control" type="text"  id="barrePrice">
                          </div> 
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="addRow">Ajouter</button>
                </div>
              </div>
            </div>
          </div>


          <!--modal modif-->
          <div class="modal fade" id="modalModif" tabindex="-1" role="dialog"  aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" >Modification <i class="fal fa-plus-circle"></i></h5>
                 
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-row">
                    <div class="col-md-3 mb-3">
                      <label for="validationCustom04">Prestation</label>
                      <select class="custom-select" id="UPprestationChoix">
                        <option selected  value="">...</option>
                        {% for presta in prestaList %}
                          <option value={{presta.keyword__value}}>{{presta.keyword__lib}}</option>
                          {% endfor %}
                      </select>
                    </div>
                    <div class="col-8">
                      <label for="validationCustom04">Désignation</label>
                      <input type="text" class="form-control" placeholder="...... "  aria-label="Username" aria-describedby="basic-addon1" id='UPreferenceS'>
                    </div>
                    </div>
                <div class="form-row align-items-center  d-flex justify-content-between">
                  <div class="col-4">
                    <label for="validationCustom04">Etat</label>
                    <select class="custom-select" id="UPetatRow">
                      <option   value="">...</option>
                      <option   value="neuf">neuf</option>
                      <option   value="occasion">reconditionné</option>
                    </select>
                  </div>
                  <div class="col-4">
                    <label for="validationCustom04">Garantie/mois</label>
                    <select class="custom-select" id="UPgarantieRow" >
                      <option  value="">..</option>
                      <option value="06">06</option>
                      <option value="12">12</option>
                      <option value="24">24</option>
                      <option value="36">36</option>
                      <option value="48">48</option>
                    </select>
                  </div>
                  
                  <div class="col-1">
                    <label for="validationCustom04">Quantité</label>
                    <input type="number" class="form-control" value="1" id="UPquantiteRow">
                  </div>
                  <div class="col-2">
                    <label for="validationCustom04">Prix € H.T</label>
                    <input class="form-control" type="text"  id="UPprixRow">
                  </div>
                </div>
                <div class="form-row mt-2 form-row align-items-center  d-flex justify-content-center" id="UPaccordion">
                  <div class="d-flex justify-content-start">
                  
                  <div class="custom-control custom-checkbox mt-4" >
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#UPxtendGarantie" aria-expanded="false" aria-controls="UPxtendGarantie">Extensions de garantie</button>
                  </div>
                 
                </div>
                    <div class="custom-control custom-checkbox mt-4">
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#UPcommentaire" aria-expanded="false" aria-controls="UPcommentaire">Commentaires</button>
                    </div>
                    <div class="custom-control custom-checkbox mt-4">
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#UPprixBarres" aria-expanded="false" aria-controls="UPcommentaire">Prix barrés</button>
                    </div>
                    <div class="collapse col-12" id="UPxtendGarantie" data-parent="#UPaccordion">
                      <ul class="list-group list-group-flush" id="UPxtendList">

                      </ul>
                      <div class="col-12 mt-2 mb-2 d-flex justify-content-start">
                        
                        <div class="col-2">
                          <label for="validationCustom04">Durée/mois</label>
                          <select class="custom-select" id="UPxtendMois" >
                            <option value="12">12</option>
                            <option value="24">24</option>
                            <option value="36">36</option>
                            <option value="48">48</option>
                          </select>
                        </div>
                            <div class="col-3">
                              <label for="validationCustom04">Prix € H.T</label>
                              <input class="form-control" type="text"  id="UPxtendPrice">
                            </div>
                          <div class="d-flex col-4 align-items-end">
                            <button type="button" class="btn btn-primary  mt-2 "><i class="fal fa-plus-circle" id="UPxtendGr"></i></button>
                          </div>
                      </div>
                    </div>
                    
                    <div class="collapse col-12" id="UPcommentaire" data-parent="#UPaccordion">
                      <div class="col-12 mt-2 mb-2 d-flex justify-content-between">
                        <div class="col-6">
                        <textarea class="form-control" id="UPcomClient" placeholder="Commentaire client...." rows="4"></textarea>
                        </div>
                        <div class="col-6">
                          <textarea class="form-control" id="UPcomInterne" placeholder="Commentaire interne...." rows="4"></textarea>
                          </div>
                      </div>
                    </div>
                    <div class="collapse col-12 " id="UPprixBarres" data-parent="#UPaccordion">
                        <div class="col-6 col-12 mt-2 mb-2 d-flex justify-content-end">
                          <div class="col-3">
                            <label for="validationCustom04">Prix barré € H.T</label>
                            <input class="form-control" type="text"  id="UPbarrePrice">
                          </div> 
                      </div>
                    </div>
                   
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="updateRow">Modifier</button>
                </div>
              </div>
            </div>
          </div>

           <!--Modal PDF-->
           <div class="modal fade" id="modalPdf" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Exporter <i class="fal fa-file-export"></i></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
               <form method="POST" action="pdf">
                <div class="modal-body ">
                  <input id="dataDevis" name="dataDevis" type="hidden" value="">
                  <div class=" d-flex col-10 mx-auto justify-content-around mb-3">
                    <div class="col-5">
                    <label for="validationCustom04">Frais de port € H.T</label>
                    <input class="form-control " type="text"  id="port" name="port">
                    </div>
                    <div>
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseGlobal" aria-expanded="false" aria-controls="collapseExample">
                      Ajouter Commentaires
                    </button>
                  </div>
                  </div>
                  <div class="collapse " id="collapseGlobal">
                    <div class="col-12 mt-2 mb-2 d-flex justify-content-center mx-auto">
                      <div class="col-6">
                      <textarea class="form-control" id="globalComClient" name="globalComClient" placeholder="Commentaire client...." rows="4"></textarea>
                      </div>
                      <div class="col-6">
                        <textarea class="form-control" id="globalComInt" name="globalComInt" placeholder="Commentaire interne...." rows="4"></textarea>
                        </div>    
                    </div>
                  </div>
                </div>   
                <div class="modal-footer">
                  <button type='submit'  class="btn btn-primary" id="xPortData">Exporter</button>
                </form>
                </div>
              </div>
            </div>
          </div>

           <!-- 1ere ligne -->
       <div class="d-flex flex-wrap flex-row justify-content-center">
          <!--carte societe -->
        <div class="col-md-4">
          <div class="card shadow mb-4">
            <!-- Card Header - -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Société <i class="fal fa-building"></i></h6>
              <div class="dropdown no-arrow">
              </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
              <div class="chart-pie pt-4 pb-2 d-flex flex-row   mb-1 justify-content-between">
                {% if  not client   %}
                <div class=" mb-0 font-weight-bold text-muted">
                  Veuillez choisir un client 
                </div>
                {% else %}
                <div class=" mb-0 font-weight-bold text-muted">
                  {{ client.client__societe }}<br>{{client.client__adr1  }} <br>  {{client.client_ville }}
                </div>
                {% endif %}
                <div>
                  <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#modalClient" id="toogleClient">Choisir</button>
                    <button type="button" class="btn btn-outline-primary " data-toggle="modal" data-target="#modalClientCrea">Créer</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

          <!-- carte contact -->
        <div class="col-md-4">
          <div class="card shadow mb-4">
            <!-- Card Header - -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Contact <i class="fal fa-user"></i></h6>
              <div class="dropdown no-arrow">
              </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
              <div class="chart-pie pt-4 pb-2 d-flex flex-row   mb-1 justify-content-between">
                {% if  not contact   %}
                <div class=" mb-0 font-weight-bold text-muted">
                  Veuillez choisir un contact 
                </div>
                {% else %}
                <div class=" mb-0 font-weight-bold text-muted">
                  {{ contact.contact__civ  ~ " " ~ contact.contact__nom ~ " " ~ contact.contact__prenom}}<br>
                   {{contact.keyword__lib}}
                </div>
                {% endif %}
                <div>
                {% if  not client %}
                  <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-primary  disabled" >Choisir</button>
                    <button type="button" class="btn btn-outline-primary disabled ">Créer</button>
                  </div>
                      {% else %}
                      <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalContact" id="toogleContact">Choisir</button>
                        <button type="button" class="btn btn-outline-primary " data-toggle="modal" data-target="#modalContactCrea">Créer</button>
                      </div>
                {% endif %}
              </div>
              </div>
            </div>
          </div>
        </div>

       <!-- Pdf Vieweer -->
       <div class="col-md-3">
        <div class="card shadow mb-4">

          <!-- Card Header - -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Exporter <i class="fal fa-file-export"></i></h6>
            <div class="dropdown no-arrow">
            </div>
          </div>

          <!-- Card Body -->
          <div class="card-body">
            <div class="chart-pie pt-4 pb-2 d-flex flex-row   mb-1 justify-content-between">
              <div class=" mb-0 font-weight-bold text-muted"></div>
              <div>
                <button type="button" class="btn btn-primary btn-sm mb-3" data-toggle="modal" data-target="#modalPdf">Exporter</button></div>
            </div>
          </div>
        </div>
      </div>

      <!-- fin 1ere ligne -->
      </div>

       <!-- Deuxième ligne -->
       <div class="row d-flex flex-wrap justify-content-center">

        <!-- Devis/DataTable -->
        <div class="col-11 ">
          <div class="card shadow mb-4">

            <!-- Card Header - -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Devis en cours <i class="fal fa-file-edit"></i></h6>
              <div class="dropdown no-arrow">
                {% if  not client %}
                <button type="button" class="btn btn-primary disabled"  ><i class="fal fa-plus-circle"></i></button>
                {% else %}
                <button type="button" class="btn btn-primary" data-toggle="modal" id="addNewRow" data-target="#modalPresta"><i class="fal fa-plus-circle"></i></button>
                {% endif %}
                <button type="button" id="modifyLine" class="btn btn-info notActive"  data-toggle="modal" data-target="#modalModif"><i class="fal fa-edit"></i></button>
                <button type="button" id="removeLine" class="btn btn-danger notActive"><i class="fal fa-trash-alt"></i></button>
              </div>
            </div>
            <!-- Table -->
            <div class="card-body">
              <div class="chart-area">
                 <table id="Devis" class=" display table " style="width:100%"> <thead class="thead-dark"> <tr><th></th> <th>Prestation</th> <th>Désignation</th> <th>Type</th> <th>Garantie</th> <th>Quantité</th><th>€ H.T</th><th></th></tr></thead> 
                  <tbody id="DevisBody">
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>   
    </div>
      <!-- fin deuxième ligne -->
    </main>
     {% endblock %}
     
    
  