{% extends 'layoutMain.twig' %}
 
     {% block main %}

     <main  role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">





 <!--  ██╗██╗                 ███╗   ███╗███████╗███╗   ██╗██╗   ██╗               ██╗  
       ██╔╝██║                ████╗ ████║██╔════╝████╗  ██║██║   ██║               ╚██╗ 
      ██╔╝ ██║█████╗█████╗    ██╔████╔██║█████╗  ██╔██╗ ██║██║   ██║    █████╗█████╗╚██╗
      ╚██╗ ╚═╝╚════╝╚════╝    ██║╚██╔╝██║██╔══╝  ██║╚██╗██║██║   ██║    ╚════╝╚════╝██╔╝
       ╚██╗██╗                ██║ ╚═╝ ██║███████╗██║ ╚████║╚██████╔╝               ██╔╝ 
        ╚═╝╚═╝                ╚═╝     ╚═╝╚══════╝╚═╝  ╚═══╝ ╚═════╝                ╚═╝  -->
                                                                                        
      <div class="d-flex justify-content-start flex-column    mb-5 border-bottom">
        {% if sessionModif %}
        <h1 class="h2">Devis N°:  {{ sessionModif }}  <i class="fal fa-file-edit"></i></h1>
        {% else %}
        <h1 class="h2">Nouveau devis  <i class="fal fa-file-edit"></i></h1>
        {% endif %}
        <nav class="nav mt-3">
          {% if not societe %}
          <button class="btn btn-link font-weight-bold mx-4  " href="#" id="toogleSociete">Société <span class="badge badge-pill badge-primary d-none" id="spanSociete"></span></button>
          {% else %}
          <button class="btn btn-link font-weight-bold mx-4  " href="#" id="toogleSociete">Société <span class="badge badge-pill badge-primary" id="spanSociete">{{societe.client__societe}}</span></button>
          {% endif %}
          {% if not livraison %}
          <button class="btn btn-link font-weight-bold mx-4" href="#" id="toogleLivraison">Livraison <span class="badge badge-pill badge-primary d-none" id="spanLivraison"></span></button>
          {% else %}
          <button class="btn btn-link font-weight-bold mx-4" href="#" id="toogleLivraison">Livraison <span class="badge badge-pill badge-primary "  id="spanLivraison">{{livraison.client__societe}}</span></button>
          {% endif %}
          <button class="btn btn-link font-weight-bold mx-4" href="#" id="toogleDevis" >Devis </button>
        </nav>
      </div>
       <!-- input contient données de l'ancien devis -->
      <input type="hidden" name="AncienDevis" id="AncienDevis" value="{{devisModif}}">
       <!-- input contient données de l'ancien devis -->
      

          
        <!-- 1ere ligne -->
       <div class="d-flex flex-wrap flex-row justify-content-center">


          <!-- ██████╗ █████╗ ██████╗ ████████╗███████╗    ███████╗ ██████╗  ██████╗██╗███████╗████████╗███████╗
             ██╔════╝██╔══██╗██╔══██╗╚══██╔══╝██╔════╝    ██╔════╝██╔═══██╗██╔════╝██║██╔════╝╚══██╔══╝██╔════╝
             ██║     ███████║██████╔╝   ██║   █████╗      ███████╗██║   ██║██║     ██║█████╗     ██║   █████╗  
             ██║     ██╔══██║██╔══██╗   ██║   ██╔══╝      ╚════██║██║   ██║██║     ██║██╔══╝     ██║   ██╔══╝  
          ╚   ██████╗██║  ██║██║  ██║   ██║   ███████╗    ███████║╚██████╔╝╚██████╗██║███████╗   ██║   ███████╗
              ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝   ╚══════╝    ╚══════╝ ╚═════╝  ╚═════╝╚═╝╚══════╝   ╚═╝   ╚══════╝
                                                                                                           -->
        <div class="col-11 " id="navSociete">
        <div class="col-12 d-flex justify-content-center">
        <div class="col-5 " >
          <div class="card  shadow mb-2 " style="height: 27rem;">
            <!-- Card Header - -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Société et Contact <i class="fal fa-building"></i></h6>
              <div class="dropdown no-arrow">
                
                <i class="far fa-check text-success" id="petitCheck" hidden></i>
               
              
              </div>
            </div>
            <!-- Card Body -->
            <div class="card-body d-flex flex-column justify-content-around " style=" height: 18rem;">

               <!--societe-->
               <div class="  chart-pie my-4 d-flex flex-row justify-content-between">
                <div class=" mb-0 font-weight-bold text-muted" id="divClient">
                 {% if not societe %}
                  Choisir une Société*
                 {% else %}
                  {{ societe.client__societe ~ " (" ~ societe.client__id ~ ")"}}  <br>
                  {{societe.client__adr1}} <br>
                  {{societe.client__cp  ~ " " ~ societe.client__ville}}
                 {% endif %}
                </div>
                <div>
                  <div class="btn-group btn-group-sm mx-4">
                    <button type="button" id="AjaxClient" class="btn btn-primary btn-sm" >Choisir</button>
                    <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#modalClientCrea">Créer</button>
                  </div>
                </div>
              </div>



              <div class="chart-pie pt-2  d-flex flex-row   mb-1 justify-content-between">
                        
                <div class=" mb-0 font-weight-bold text-muted " id="contactDiv">
                  {% if contact %}
                  {{contact.contact__nom}}<br>
                  {{contact.contact__prenom }} <br>
                  {{contact.kw__lib}}
                  {% else %}
                 Aucun contact
                  {% endif %}
                  
                </div>
                <div>
                      <div class="btn-group btn-group-sm mx-4">
                        <button type="button" class="btn btn-primary btn-sm " data-toggle="modal" data-target="#modalContact" id="toogleContact" disabled>Choisir</button>
                        <button type="button" class="btn btn-outline-primary btn-sm " id="toogleCreaContact" data-toggle="modal" data-target="#modalContactCrea" disabled>Créer</button>
                        
                      </div>
              </div>
              </div>
            </div>
          </div>
        </div>


        <!--██████╗  ██████╗ ██████╗ ████████╗    ███████╗████████╗     ██████╗ ██████╗ ███╗   ███╗
            ██╔══██╗██╔═══██╗██╔══██╗╚══██╔══╝    ██╔════╝╚══██╔══╝    ██╔════╝██╔═══██╗████╗ ████║
            ██████╔╝██║   ██║██████╔╝   ██║       █████╗     ██║       ██║     ██║   ██║██╔████╔██║
            ██╔═══╝ ██║   ██║██╔══██╗   ██║       ██╔══╝     ██║       ██║     ██║   ██║██║╚██╔╝██║
            ██║     ╚██████╔╝██║  ██║   ██║       ███████╗   ██║       ╚██████╗╚██████╔╝██║ ╚═╝ ██║
            ╚═╝      ╚═════╝ ╚═╝  ╚═╝   ╚═╝       ╚══════╝   ╚═╝        ╚═════╝ ╚═════╝ ╚═╝     ╚═╝
                                                                                               -->


        <div class="col-7 " >
          <div class="card   shadow mb-2"  style="height: 39rem;">
            <!-- Card Header - -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Titre et commentaires <i class="fal fa-building"></i></h6>
              <div class="dropdown no-arrow">
                
                <i class="far fa-check text-success" id="petitCheck" hidden></i>
               
              
              </div>
            </div>
            <!-- Card Body -->
            <div class="card-body col-12 d-flex flex-column justify-content-between " >

               
               <div class="  d-flex flex-row justify-content-between">
                
                <div class="col-12">
                  <form  method="POST" action="mesDevis" id="devisSend">
                    
                      <input id="dataDevis" name="dataDevis" type="hidden" value="">
                      <div class=" d-flex col-12  justify-content-between">

                        <div class="col-12 ">
                          <label for="validationCustom04">Titre du devis </label>
                          {% if temp %}
                          <input class="form-control " type="text"  id="titreDevis" name="titreDevis" value="{{temp.cmd__nom_devis}}">
                          {% else %}
                          <input class="form-control " type="text"  id="titreDevis" name="titreDevis" value="">
                          {% endif %}
                          </div>
                      </div>

                       <!-- Masquer Total -->
                       <div class="col-12 mt-2 ml-3">
                          <div class="custom-control custom-checkbox">
                             
                              {% if temp.cmd__modele_devis == 'STX' %}
                              <input type="checkbox" class="custom-control-input" id="ShowTotal" name="ShowTotal" checked>
                              {% else %}
                              <input type="checkbox" class="custom-control-input" id="ShowTotal" name="ShowTotal">
                              {% endif %}
                              <label class="custom-control-label" for="ShowTotal">Masquer le Total du devis  </label>
                          </div>
                       </div>
                     
                        {% if temp %}
                        <div class="col-12 mt-2 mb-2 d-flex flex-column ">
                        
                          <div class="col-12 my-2   multi-col">
                            <label for="globalComClient">Commentaire Client</label>
                          <textarea class="CKE" id="globalComClient" name="globalComClient" placeholder="Commentaire client...." >{{temp.devis__note_client}}</textarea>
                          </div>
                          <div class="col-12 my-2  multi-col">
                            <label for="globalComInt">Commentaire Interne</label>
                            <textarea class="CKE" id="globalComInt" name="globalComInt" placeholder="Commentaire interne...." >{{temp.devis__note_interne}}</textarea>
                            </div>    
                        </div>
                        {% else %}
                        <div class="col-12 mt-2 mb-2 d-flex flex-column">
                          <div class="col-12 my-2  show multi-col">
                            <label for="globalComClient">Commentaire Client</label>
                          <textarea class="CKE" id="globalComClient" name="globalComClient" placeholder="Commentaire client...."></textarea>
                          </div>
                          <div class="col-12 my-2  multi-col">
                            <label for="globalComInt">Commentaire Interne</label>
                            <textarea class="CKE" id="globalComInt" name="globalComInt" placeholder="Commentaire interne...." ></textarea>
                            </div>    
                        </div>
                        {% endif %}
                      
                    
                    {% if societe %}
                    <input type="hidden" name="clientSelect" id="clientSelect" value="{{societe.client__id}}">
                    {% else %}
                    <input type="hidden" name="clientSelect" id="clientSelect" value="">
                    {% endif %} 
                    
                    {% if contact %}
                    <input type="hidden" name="contactSelect" id="contactSelect" value="{{contact.contact__id}}">
                    {% else %}
                    <input type="hidden" name="contactSelect" id="contactSelect" value="">
                    {% endif %}
      
                    {% if sessionModif %}
                    <input type="hidden" name="ModifierDevis" id="ModifierDevis" value="{{ sessionModif }}">
                    {% else %}
                    <input type="hidden" name="ModifierDevis" id="ModifierDevis" value="">
                    {% endif %}
      
                    {% if contactlivraison %}
                    <input type="hidden" name="contact_livraison" id="contact_livraison" value="{{ contactlivraison }}">
                    {% else %}
                    <input type="hidden" name="contact_livraison" id="contact_livraison" value="">
                    {% endif %}
      
                    {% if livraison %}
                    <input type="hidden" name="livraisonSelect" id="livraisonSelect" value="{{ livraison.client__id }}">
                    {% else %}
                    <input type="hidden" name="livraisonSelect" id="livraisonSelect" value="">
                    {% endif %}
                  
                    
                     
                    </form>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

        <!--██╗     ██╗██╗   ██╗██████╗  █████╗ ██╗███████╗ ██████╗ ███╗   ██╗
            ██║     ██║██║   ██║██╔══██╗██╔══██╗██║██╔════╝██╔═══██╗████╗  ██║
            ██║     ██║██║   ██║██████╔╝███████║██║███████╗██║   ██║██╔██╗ ██║
            ██║     ██║╚██╗ ██╔╝██╔══██╗██╔══██║██║╚════██║██║   ██║██║╚██╗██║
            ███████╗██║ ╚████╔╝ ██║  ██║██║  ██║██║███████║╚██████╔╝██║ ╚████║
            ╚══════╝╚═╝  ╚═══╝  ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝╚══════╝ ╚═════╝ ╚═╝  ╚═══╝
                                                                         -->

        <div class="col-6 d-none" id="navLivraison">
          <div class="card h-100  shadow mb-2">
            <!-- Card Header - -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Livraison <i class="fal fa-truck"></i></h6>
              <div class="dropdown no-arrow">
                
                <i class="far fa-check text-success" id="petitCheck" hidden></i>
               
              
              </div>
              <div  data-toggle="tooltip" data-placement="top" title="Suprimer l'adresse de livraison">
              <button type="button" class="btn btn-sm btn-danger" id="deleteLivraison"><i class="fas fa-trash-alt"></i></button>
            </div>
            </div>
           
            <!-- Card Body -->
            <div class="card-body d-flex flex-column justify-content-around " style=" height: 18rem;">
            
               <!--societe-->
               <div class="  chart-pie my-4 d-flex flex-row justify-content-between">
               
                <div class=" mb-0 font-weight-bold text-muted" id="textLivraison">
                  {% if not livraison %}
                 livré à la meme adresse
                 {% else %}
                  {{ livraison.client__societe ~ " (" ~ livraison.client__id ~ ")"}}  <br>
                  {{livraison.client__adr1}} <br>
                  {{livraison.client__cp ~ " " ~  livraison.client__ville}}
                 {% endif %}
                  <form  class="form" role="form"  method="POST" action="nouveauDevis" id="formSelectLivraison">
                        <input type="hidden" name="choixLivraison" id="choixLivraison" value="">
                  </form>
                 
                </div>
               
                <div>
                 
                  <div class="btn-group btn-group-sm mx-4">
                    <button type="button" id="buttonLivraison" class="btn btn-success btn-sm " disabled>Choisir</button>
                    <button type="button" id="buttonCrealivraison" class="btn btn-outline-success btn-sm " data-toggle="modal" data-target="#modalSocieteLivraison" disabled>Créer</button>
                  </div>
                </div>
              </div>



              <div class="chart-pie pt-2  d-flex flex-row   mb-1 justify-content-between">
                        
                <div class=" mb-0 font-weight-bold text-muted " id="contactDivLVR">
                  {% if contactLVR %}
                  {{contactLVR.contact__nom}}<br>
                  {{contactLVR.contact__prenom }} <br>
                  {{contactLVR.kw__lib}}
                  {% else %}
                 Aucun contact
                  {% endif %}
                  
                </div>
                <div>
                      <div class="btn-group btn-group-sm mx-4">
                        <button type="button" class="btn btn-success btn-sm "  data-toggle="modal" data-target="#modalContactLVR" id="toogleContactLVR" disabled>Choisir</button>
                        <button type="button" class="btn btn-outline-success btn-sm " data-toggle="modal" data-target="#modalContactCreaLVR" id="toogleContactCreaLVR" disabled>Créer</button>
                      </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ██████╗ ███████╗██╗   ██╗██╗███████╗
             ██╔══██╗██╔════╝██║   ██║██║██╔════╝
             ██║  ██║█████╗  ██║   ██║██║███████╗
             ██║  ██║██╔══╝  ╚██╗ ██╔╝██║╚════██║
             ██████╔╝███████╗ ╚████╔╝ ██║███████║
             ╚═════╝ ╚══════╝  ╚═══╝  ╚═╝╚══════╝
                                                 -->
        <div class="col-12 d-none" id="navDevis">
         <div class="col-11 ">
          <div class="card shadow mb-4">

            <!-- Card Header - -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Devis en cours <i class="fal fa-file-edit"></i></h6>
              <div class="dropdown no-arrow">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" id="addNewRow" data-target="#modalPresta" disabled><i class="fal fa-plus-circle"></i></button>
                <button type="button" id="modifyLine" class="btn btn-success notActive btn-sm"  data-toggle="modal" data-target="#modalModif"><i class="fal fa-edit"></i></button>
                <button type="button" id="removeLine" class="btn btn-danger notActive btn-sm"><i class="fal fa-trash-alt"></i></button>
              </div>
            </div>
            <!-- Table -->
            <div class="card-body">
              <div class="chart-area">
                 <table id="Devis" class=" display table " style="width:100%"> <thead class="thead-dark"> <tr><th></th> <th>Prestation</th> <th>Désignation</th> <th>Type</th> <th>Garantie</th> <th>Quantité</th><th class="text-right">€ H.T</th><th></th></tr></thead> 
                  <tbody id="DevisBody">
                  </tbody>
                </table>
              </div>
              <div class="card-footer  d-flex justify-content-end">
                <button type="button" class="btn btn-success mb-1" id="xPortData" disabled>Valider <i class="fal fa-file-export"></i></button>
              </div>
                
            </div>
          </div>
        </div>   
      </div>

      <!-- ███████╗██╗███╗   ██╗    ███╗   ███╗ █████╗ ██╗███╗   ██╗
           ██╔════╝██║████╗  ██║    ████╗ ████║██╔══██╗██║████╗  ██║
           █████╗  ██║██╔██╗ ██║    ██╔████╔██║███████║██║██╔██╗ ██║
           ██╔══╝  ██║██║╚██╗██║    ██║╚██╔╝██║██╔══██║██║██║╚██╗██║
           ██║     ██║██║ ╚████║    ██║ ╚═╝ ██║██║  ██║██║██║ ╚████║
           ╚═╝     ╚═╝╚═╝  ╚═══╝    ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═══╝
                                                                     -->
      </div>


      <!-- ███╗   ███╗ ██████╗ ██████╗  █████╗ ██╗     
         ████╗ ████║██╔═══██╗██╔══██╗██╔══██╗██║     
         ██╔████╔██║██║   ██║██║  ██║███████║██║     
         ██║╚██╔╝██║██║   ██║██║  ██║██╔══██║██║     
         ██║ ╚═╝ ██║╚██████╔╝██████╔╝██║  ██║███████╗
         ╚═╝     ╚═╝ ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝ -->
                                                    
        <!-- Modal Choisir societe  -->
        <div  class="modal fade" id="modalClient" tabindex="-1" role="dialog"  aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" >Société <i class="fal fa-building"></i> 
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <table id="client" class="table  display" style="width:100%"> 
                  <thead class="thead-dark"> 
                    <tr><th>Id</th><th>Nom</th><th>CP</th><th>Ville</th></tr>
                   </thead > 
                  <tbody class="trClick">
                  </tbody>
                </table>
              </div>
              <form  class="form" role="form"  method="POST" action="nouveauDevis" id="formSelectClient">
                <div class="modal-footer justify-content-between ">
                    <input type="hidden" name="choixClient" id="choixClient" value="">
                </div>
              </form>
            </div>
          </div>
        </div>
           <!-- Modal créer société  -->
        <div class="modal fade" id="modalClientCrea" tabindex="-1" role="dialog"  aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" >Société <i class="fal fa-building"></i> </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form id="FormClientCrea" method="POST" action="nouveauDevis">
                  <div class="form-row">
                    <div class="form-group col-md-8">
                      <label for="inputEmail4">Société*</label>
                      <input type="text" class="form-control text-uppercase" id="societeNameCreate"  name="societe" required >
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputAddress">Adresse</label>
                    <input type="text" class="form-control" id="inputAddress"  name="adr1" >
                  </div>
                  <div class="form-group">
                    
                    <input type="text" class="form-control" id="inputAddress2" name="adr2">
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-2">
                      <label for="inputZip">CP*</label>
                      <input type="text" class="form-control" id="inputZip"  name="cp" required >
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputCity">Ville*</label>
                      <input type="text" class="form-control" id="inputCity"  name="ville" required >
                    </div>
                    <div class="form-group col-md-4">
                      <label for="pays">Pays*</label>
                      <select class="custom-select mr-sm-2" id="SelectClientCountry" name="pays">
                        <option value="france" selected>France</option>
                        <option value="autre" >autre</option>
                      </select>
                    </div>
                  </div>
              </div>
              
              <div class="modal-footer justify-content-end ">
                <div>
                  <button type="button" id="PostClient" class="btn btn-primary">Valider</button>
                </div>
              </div>
            </form>
            </div>
          </div>
        </div>



          <!-- Modal créer société de livraison  -->
          <div class="modal fade" id="modalSocieteLivraison" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" >Société  livraison<i class="fal fa-building"></i> </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form id="FormClientCrea" method="POST" action="">
                    <div class="form-row">
                      <div class="form-group col-md-8">
                        <label for="inputEmail4">Société*</label>
                        <input type="text" class="form-control text-uppercase" id="societeNameCreateLVR"  name="societe" required >
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputAddress">Adresse</label>
                      <input type="text" class="form-control" id="inputAddressLVR"  name="adr1" >
                    </div>
                    <div class="form-group">
                      
                      <input type="text" class="form-control" id="inputAddress2LVR" name="adr2">
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-2">
                        <label for="inputZip">CP*</label>
                        <input type="text" class="form-control" id="inputZipLVR"  name="cp" required >
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputCity">Ville*</label>
                        <input type="text" class="form-control" id="inputCityLVR"  name="ville" required >
                      </div>
                      <div class="form-group col-md-4">
                        <label for="pays">Pays*</label>
                        <select class="custom-select mr-sm-2" id="SelectClientCountryLVR" name="pays">
                          <option value="france" selected>France</option>
                          <option value="autre" >autre</option>
                        </select>
                      </div>
                    </div>
                </div>
                
                <div class="modal-footer justify-content-end ">
                  <div>
                    <button type="button" id="PostSocieteLivraison" class="btn btn-primary">Valider</button>
                  </div>
                </div>
              </form>
              </div>
            </div>
          </div>

         <!-- Modal Contact  -->
         <div class="modal fade" id="modalContact" tabindex="-1" role="dialog"  aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" >Contact <i class="fal fa-user"></i></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <table id="contactTable" class="table  display" style="width:100%"> 
                  <thead class="thead-dark"> 
                    <tr><th>Id</th><th>Nom</th><th>Fonction</th></tr>
                   </thead > 
                  <tbody>
          
                  </tbody>
                </table>
              </div>
              <form  class="form" role="form"  method="POST" action="nouveauDevis" id="formSelectContact">
                <input type="hidden" name="choixContact" id="choixContact" value="">
              </form>
             
                <div class="modal-footer justify-content-end ">
                  <div>
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal" data-toggle="modal" data-target="#modalContactCrea" >Créer</button>
                  </div>
                </div>
            
            </div>
          </div>
        </div>


        
         <!-- Modal Contact Livraison  -->
         <div class="modal fade" id="modalContactLVR" tabindex="-1" role="dialog"  aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" >Contact <i class="fal fa-user"></i></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <table id="contactTableLVR" class="table  display" style="width:100%"> 
                  <thead class="thead-dark"> 
                    <tr><th>Id</th><th>Nom</th><th>Fonction</th></tr>
                   </thead > 
                  <tbody>
          
                  </tbody>
                </table>
              </div>
              <form  class="form" role="form"  method="POST" action="" id="formSelectContactLVR">
                <input type="hidden" name="choixContactLVR" id="choixContactLVR" value="">
              </form>
             
                <div class="modal-footer justify-content-end ">
                  <div>
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal" data-toggle="modal" data-target="#modalContactCrea" >Créer</button>
                  </div>
                </div>
            
            </div>
          </div>
        </div>


        <!-- Modal Contact Creation  -->
        <div class="modal fade" id="modalContactCrea" tabindex="-1" role="dialog"  aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered  modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" >Contact <i class="fal fa-user"></i></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body">
                <!-- debut form-->
                <form id="FormContactCrea" method="POST" action="nouveauDevis">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputState">Fonction *</label>
                      <select id="inputStateContact" class="form-control" name="fonctionContact" required>
                       
                        {% for keyword in keywordList %}
                        <option value={{keyword.kw__value}}>{{keyword.kw__lib}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputCiv">Civilité</label>
                      <select id="inputCiv" class="form-control" name="civiliteContact" required>
                        <option  selected>...</option>
                        <option value="M.">Mr</option>
                        <option value="Mme">Mme</option>
                      </select>
                    </div>
                    
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputCity">Nom</label>
                      <input type="text" class="form-control" name="nomContact" id="nomContact">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputCity">Prenom</label>
                      <input type="text" class="form-control" name="prenomContact" id="prenomContact">
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <label for="inputZip">Telephone</label>
                      <input type="text" class="form-control" name="telContact" id="telContact">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="inputZip">Fax </label>
                      <input type="text" class="form-control"name="faxContact" id="faxContact">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputCity">Mail</label>
                      <input type="email" class="form-control"name="mailContact" id="mailContact">
                    </div>
                  </div>
              </div>
              <div class="modal-footer justify-content-end ">
                <div>
                  <button type="button" class="btn btn-primary" id="postContact">Valider</button>
                </div>
              </div>
            </form>
             <!-- fin form-->
            </div>
          </div>
        </div>


          <!-- Modal Contact Livraison Creation  -->
          <div class="modal fade" id="modalContactCreaLVR" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered  modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" >Contact Livraison <i class="fal fa-user"></i></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body">
                  <!-- debut form-->
                  <form id="FormContactCrea" method="POST" action="">
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputState">Fonction *</label>
                        <select id="inputStateContactLVR" class="form-control" name="fonctionContactLVR" required>
                         
                          {% for keyword in keywordList %}
                          <option value={{keyword.kw__value}}>{{keyword.kw__lib}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputCiv">Civilité</label>
                        <select id="inputCivLVR" class="form-control" name="civiliteContactLVR" required>
                          <option  selected>...</option>
                          <option value="M.">Mr</option>
                          <option value="Mme">Mme</option>
                        </select>
                      </div>
                      
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputCity">Nom</label>
                        <input type="text" class="form-control" name="nomContactLVR" id="nomContactLVR">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputCity">Prenom</label>
                        <input type="text" class="form-control" name="prenomContactLVR" id="prenomContactLVR">
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="form-group col-md-3">
                        <label for="inputZip">Telephone</label>
                        <input type="text" class="form-control" name="telContactLVR" id="telContactLVR">
                      </div>
                      <div class="form-group col-md-3">
                        <label for="inputZip">Fax </label>
                        <input type="text" class="form-control"name="faxContactLVR" id="faxContactLVR">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputCity">Mail</label>
                        <input type="email" class="form-control"name="mailContactLVR" id="mailContactLVR">
                      </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-end ">
                  <div>
                    <button type="button" class="btn btn-primary" id="postContactLVR">Valider</button>
                  </div>
                </div>
              </form>
               <!-- fin form-->
              </div>
            </div>
          </div>



        <!-- Modal PRESTA  -->
        <div class="modal fade" id="modalPresta" tabindex="-1" role="dialog"  aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" >Ligne de devis <i class="fal fa-plus-circle"></i></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-row border-bottom mb-3 pb-3 ">



                  <div class="d-flex flex-row col-12 justify-content-between mb-3">


                  <div class="col-md-3 ">
                    <label for="prestationChoix">Prestation:</label>
                    <select class="selectpicker" id="prestationChoix" >
                      {% for presta in prestaList %}
                        <option class=""  value={{presta.kw__value}}>{{presta.kw__lib}}</option>
                        {% endfor %}
                    </select>
                  </div>
                  <div class="col-8">
                    <label for="choixDesignation">Modèle:</label>
                    <select class="selectpicker col-12" id="choixDesignation" data-live-search="true">
                      <option class="optionSelect modelSelect" value="">..</option>
                      {% for article in articleList %} 
                        <option class="optionSelect modelSelect" value={{article.afmm__id}}>{{article.afmm__modele   ~ " " ~ article.famille ~ " " ~ article.Marque }}</option>
                        {% endfor %}
                    </select> 
                  </div>



                </div>
                   
                    <div class=" col-12" id="choixRef">
                      <div class="col-12  ">
                        <div class="col-12">
                          <label for="referenceS">Désignation sur le devis/facture: </label>
                        <input type="text" class="form-control mx-3"  aria-label="Username" aria-describedby="basic-addon1" id='referenceS'>
                      </div>
                      <div class="col-12 my-2">
                        <label for="choixPn">Pn associé: </label>
                        <select class="selectpicker col-12" id="choixPn"  data-none-selected-text>
                          <option   value="">...</option>
                        </select>
                      </div>
                      </div>
                    </div>




                  </div>
              <div class="form-row align-items-center  d-flex justify-content-between mt-3">
                <div class="col-4">
                  <label class="ml-3" for="etatRow">Etat</label>
                  <select class="selectpicker col-12" id="etatRow">
                    {% for etat in etatList %}
                    <option   value="{{etat.kw__value}}" >{{etat.kw__lib}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-4">
                  <label for="validationCustom04">Garantie/mois</label>
                  <select class="selectpicker" id="garantieRow" >
                    {% for garantie in garantiesList %}
                    <option   value="{{garantie.kw__value}}" >{{garantie.kw__lib}}</option>
                    {% endfor %}
                  </select>
                </div>
                
                <div class="col-1">
                  <label for="validationCustom04">Quantité</label>
                  <input type="number" class="form-control" value="1" id="quantiteRow">
                </div>
                <div class="col-2">
                  <label for="validationCustom04">Prix € H.T</label>
                  <input class="form-control" type="text"  id="prixRow">
                </div>
              </div>
              <div class="form-row mt-2 form-row align-items-center  d-flex justify-content-start">
                <div class="d-flex justify-content-start">
                
                <div class="custom-control custom-checkbox mt-4" id="accordion">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#xtendGarantie" aria-expanded="false" aria-controls="xtendGarantie">Extensions de garantie</button>
                </div>
               
              </div>
                  <div class="custom-control custom-checkbox mt-4">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#commentaire" aria-expanded="false" aria-controls="commentaire">Commentaires</button>
                  </div>
                  <div class="custom-control custom-checkbox mt-4">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#prixBarres" aria-expanded="false" aria-controls="commentaire">Prix barrés</button>
                  </div>
                  <div class="collapse col-12" id="xtendGarantie" data-parent="#accordion">
                    <ul class="list-group list-group-flush" id="xtendList">

                    </ul>
                    <div class="col-12 mt-2 mb-2 d-flex justify-content-start">
                      
                      <div class="col-2">
                        <label for="validationCustom04">Durée/mois</label>
                        <select class="custom-select" id="xtendMois" >
                          {% for garantie in garantiesList %}
                          {% if garantie.kw__value != 00 %}
                           <option   value="{{garantie.kw__value}}" >{{garantie.kw__lib}}</option>
                           {% endif %}
                           {% endfor %}
                        </select>
                      </div>
                          <div class="col-3">
                            <label for="validationCustom04">Prix € H.T</label>
                            <input class="form-control" type="text"  id="xtendPrice">
                          </div>
                        <div class="d-flex col-4 align-items-end">
                          <button type="button" class="btn btn-primary  mt-2 "><i class="fal fa-plus-circle" id="xtendGr"></i></button>
                        </div>
                    </div>
                  </div>
                  <div class="collapse show col-12" id="commentaire" data-parent="#accordion">
                    <div class="col-12 mt-3 mb-2 d-flex justify-content-between">
                      <div class="col-6">
                        <label for="comClient">Commentaire Client</label>
                      <textarea class="CKE" id="comClient" placeholder="Commentaire client...." rows="4"></textarea>
                      </div>
                      <div class="col-6">
                        <label for="comInterne">Commentaire Interne</label>
                        <textarea class="CKE" id="comInterne" placeholder="Commentaire interne...." rows="4"></textarea>
                        </div>
                        
                    </div>
                  </div>
                  <div class="collapse col-12 " id="prixBarres" data-parent="#accordion">
                      <div class="col-6 col-12 mt-2 mb-2 d-flex justify-content-end">
                        <div class="col-3">
                          <label for="validationCustom04">Prix barré € H.T</label>
                          <input class="form-control" type="text"  id="barrePrice">
                        </div> 
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <div class="alert alert-danger invisible " id="alertLine" role="alert" >
                  Le modèle , la garantie et le prix sont obligatoires 
                </div>
                <button type="button" class="btn btn-primary btn-sm"  id="addRow">Ajouter</button>
              </div>
            </div>
          </div>
        </div>


        <!--modal modif-->
        <div class="modal fade" id="modalModif" tabindex="-1" role="dialog"  aria-hidden="true" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" >Modification <i class="fal fa-plus-circle"></i></h5>
               
                </button>
              </div>
              <div class="modal-body">
                <div class="form-row justify-content-between">


                  <div class="col-md-3 mb-3 mx-3">
                    <label for="UPprestationChoix">Prestation: </label>
                    <select class="selectpicker" id="UPprestationChoix">
                      {% for presta in prestaList %}
                        <option value={{presta.kw__value}}>{{presta.kw__lib}}</option>
                        {% endfor %}
                    </select>
                  </div>

                  <div class="col-8">
                    <label for="UPchoixDesignation">Modèle: </label>
                    <select class="selectpicker col-11" id="UPchoixDesignation"  data-live-search="true">
                      
                      {% for article in articleList %}
                     
                        <option class="optionSelect modelSelect" value={{article.afmm__id}}>{{article.afmm__modele   ~ " " ~ article.famille ~ " " ~ article.Marque  }}</option>
                        {% endfor %}
                    </select> 
                  </div>
                 
                  </div>



                  <div class="form-row mb-3 pb-3 border-bottom">
                    <div class="col-12 my-2 ">
                      <div class="col-12">
                       
                        <label for="UPchoixPn">Désignation sur le devis/facture:</label>
                      <input type="text" class="form-control"   aria-label="Username" aria-describedby="basic-addon1" id="UPreferenceS">
                    </div>
                    <div class="col-12 my-2">
                      <label for="UPchoixPn">Pn associé: </label>
                      <select class="selectpicker col-11" id="UPchoixPn"  data-none-selected-text>
                        <option   value="">...</option>
                      </select>
                    </div>
                    </div>
                  </div>
              





              <div class="form-row align-items-center mt-2  d-flex justify-content-between">
                <div class="col-4">
                  <label  class =" mx-3"for="UPetatRow">Etat</label>
                  <select class="selectpicker col-12" id="UPetatRow">
                    {% for etat in etatList %}
                    <option   value="{{etat.kw__value}}" >{{etat.kw__lib}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-4">
                  <label for="validationCustom04">Garantie/mois</label>
                  <select class="selectpicker" id="UPgarantieRow" >
                    {% for garantie in garantiesList %}
                    <option   value="{{garantie.kw__value}}" >{{garantie.kw__lib}}</option>
                    {% endfor %}
                  </select>
                </div>
                
                <div class="col-1">
                  <label for="validationCustom04">Quantité</label>
                  <input type="number" class="form-control" value="1" id="UPquantiteRow">
                </div>
                <div class="col-2">
                  <label for="validationCustom04">Prix € H.T</label>
                  <input class="form-control" type="text"  id="UPprixRow">
                </div>
              </div>
              <div class="form-row mt-2 form-row align-items-center  d-flex justify-content-start" id="UPaccordion">
                <div class="d-flex justify-content-start">
                
                <div class="custom-control custom-checkbox mt-4" >
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#UPxtendGarantie" aria-expanded="false" aria-controls="UPxtendGarantie">Extensions de garantie</button>
                </div>
               
              </div>
                  <div class="custom-control custom-checkbox mt-4">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#UPcommentaire" aria-expanded="false" aria-controls="UPcommentaire">Commentaires</button>
                  </div>
                  <div class="custom-control custom-checkbox mt-4">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#UPprixBarres" aria-expanded="false" aria-controls="UPcommentaire">Prix barrés</button>
                  </div>
                  <div class="collapse col-12" id="UPxtendGarantie" data-parent="#UPaccordion">
                    <ul class="list-group list-group-flush" id="UPxtendList">

                    </ul>
                    <div class="col-12 mt-2 mb-2 d-flex justify-content-start">
                      
                      <div class="col-2">
                        <label for="validationCustom04">Durée/mois</label>
                        <select class="custom-select" id="UPxtendMois" >
                          {% for garantie in garantiesList %}
                          {% if garantie.kw__value != 00 %}
                           <option   value="{{garantie.kw__value}}" >{{garantie.kw__lib}}</option>
                           {% endif %}
                           {% endfor %}
                        </select>
                      </div>
                          <div class="col-3">
                            <label for="validationCustom04">Prix € H.T</label>
                            <input class="form-control" type="text"  id="UPxtendPrice">
                          </div>
                        <div class="d-flex col-4 align-items-end">
                          <button type="button" class="btn btn-primary  mt-2 "><i class="fal fa-plus-circle" id="UPxtendGr"></i></button>
                        </div>
                    </div>
                  </div>
                  
                  <div class="collapse show col-12" id="UPcommentaire" data-parent="#UPaccordion">
                    <div class="col-12 mt-3 mb-2 d-flex justify-content-between">
                      <div class="col-6">
                        <label for="UPcomClient">Commentaire Client</label>
                      <textarea class="CKE" id="UPcomClient" placeholder="Commentaire client...." rows="4"></textarea>
                      </div>
                      <div class="col-6">
                        <label for="UPcomInterne">Commentaire Interne</label>
                        <textarea class="CKE" id="UPcomInterne" placeholder="Commentaire interne...." rows="4"></textarea>
                        </div>
                    </div>
                  </div>
                  <div class="collapse col-12 " id="UPprixBarres" data-parent="#UPaccordion">
                      <div class="col-6 col-12 mt-2 mb-2 d-flex justify-content-end">
                        <div class="col-3">
                          <label for="validationCustom04">Prix barré € H.T</label>
                          <input class="form-control" type="text"  id="UPbarrePrice">
                        </div> 
                    </div>
                  </div>
                 
                </div>
              </div>
              <div class="modal-footer">
                <div class="alert alert-danger invisible " id="alertLineModif" role="alert" >
                  Le modèle , la garantie et le prix sont obligatoires 
                </div>
                <button type="button" class="btn btn-primary btn-sm"  id="updateRow">Modifier</button>
              </div>
            </div>
          </div>
        </div>

         <!--Modal PDF-->
        
       


        <!--modal d'adresse de livraison -->
        <div class="modal fade" id="ModalLivraison" tabindex="-1" role="dialog"  aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" >Adresse de livraison différente <i class="fal fa-truck"></i></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <table id="Livraison" class="table  display" style="width:100%"> 
                  <thead class="thead-dark"> 
                    <tr><th>Id</th><th>Nom</th><th>CP</th><th>Adresse</th></tr>
                   </thead > 
                  <tbody class="trClick">
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <form  class="form" role="form"  method="POST" action="nouveauDevis" id="formSelectLivraison">
                      <input type="hidden" name="choixLivraison" id="choixLivraison" value="">
                </form>
              </div>
            </div>
          </div>
        </div>
       
        <!-- ███████╗██╗███╗   ██╗    ███╗   ███╗ ██████╗ ██████╗  █████╗ ██╗     
        ██╔════╝██║████╗  ██║    ████╗ ████║██╔═══██╗██╔══██╗██╔══██╗██║     
        █████╗  ██║██╔██╗ ██║    ██╔████╔██║██║   ██║██║  ██║███████║██║     
        ██╔══╝  ██║██║╚██╗██║    ██║╚██╔╝██║██║   ██║██║  ██║██╔══██║██║     
        ██║     ██║██║ ╚████║    ██║ ╚═╝ ██║╚██████╔╝██████╔╝██║  ██║███████╗
        ╚═╝     ╚═╝╚═╝  ╚═══╝    ╚═╝     ╚═╝ ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝ -->
                                                                             






































    </main>


    
     {% endblock %}
     
    
  