{% extends 'new_layout.twig' %}
{% block style %}
<link href="vendor/fontawesome/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap-select.min.css">
<link rel="stylesheet" type="text/css" href="public/datatable/datatables.min.css">
<link rel="stylesheet" href="public/css/dashboard.css">
{% endblock %}
{% block main %}
<main role="main" class="container-fluid my-3 col-11 container-body">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    {% if modif %}
    <h1 class="h2">Modification client: {{modif.client__id}}</h1>
    {% else %}
    <h1 class="h2">Creation de Societe</h1>
    {% endif %}
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
      </div>
    </div>
  </div>
  {% if alertSucces %}
  <div class="alert alert-success mt-2" role="alert">
    Societe créee avec succès, numéro de client : <b>{{alertSucces}}</b>
    <a class="badge badge-success mx-5" href="DevisV2">Nouveau devis</a>
    <a class="badge badge-secondary mx-2" href="contactCrea">Nouveau contact</a>
  </div>
  {% endif %}

  {% if alert_modif %}
  <div class="alert alert-success mt-2" role="alert">
    Societe modifiée avec succès
    <a class="badge badge-success mx-5" href="DevisV2">Nouveau devis</a>
    <a class="badge badge-secondary mx-2" href="contactCrea">Nouveau contact</a>
  </div>
  {% endif %}
  <!-- 1ere ligne -->
  <div class="d-flex flex-wrap flex-row justify-content-start my-4">
    <!-- Societe -->
    <div class="col-md-8">
      <div class="card shadow mb-4 h-100">
	<!-- Card Body -->
	<div class="card-body  ">
	  {% if alert %}
	  <div class="alert alert-warning" role="alert">
	    La societe n'existe pas
	  </div>
	  {% endif %}
	  {% if modif %}
	  <form id="" method="POST" action="">
	    <input type='hidden' name='modif__id' value='{{modif.client__id}}'>
	    <div class="form-row">
	      <div class="form-group col-md-6">
		<label for="inputState">Nom societe</label>
		<input type="text" class="form-control" value='{{modif.client__societe}}' name="nom_societe"
		  id="nom_societe" maxlength="50" required>
	      </div>
	      <div class="form-group col-md-4">
		<label for="inputCiv">Ville</label>
		<input type="text" class="form-control" value='{{modif.client__ville}}' name="ville" id="ville"
		  maxlength="50" required>
	      </div>
	      <div class="form-group col-md-2">
		<label for="inputCiv">CP</label>
		<input type="text" class="form-control" value='{{modif.client__cp}}' name="code_postal" id="code_postal"
		  maxlength="10" required>
	      </div>
	    </div>
	    <div class="form-row">
	      <div class="form-group col-md-6">
		<label for="inputCity">adresse 1</label>
		<input type="text" class="form-control" value='{{modif.client__adr1}}' name="adresse_1" id="adresse_1"
		  maxlength="150" required>
	      </div>
	      <div class="form-group col-md-6">
		<label for="inputCity">adresse 2</label>
		<input type="text" class="form-control" value='{{modif.client__adr2}}' name="adresse_2" maxlength="150"
		  id="">
	      </div>
	    </div>
	    <div class="form-row">
	      <div class="form-group col-md-3">
		<label for="inputZip">Telephone</label>
		<input type="tel" class="form-control" value='{{modif.client__tel}}' name="telephone" maxlength="25"
		  id="telephone">
	      </div>
	      <div class="form-group col-md-3">
			<label for="inputZip">Fax </label>
			<input type="tel" class="form-control" name="fax" value='{{modif.client__fax}}' maxlength="25" id="fax">
	      </div>
	      <div class="form-group col-md-5">
			<label for="input_pays">Pays </label>
			<input type="text" class="form-control" name="input_pays" value='{{modif.client__pays}}' maxlength="25"
			id="input_pays">
	      </div>
	    </div>
		<div class="form-row">
			<div class="form-group col-md-5">
				<label for="select_tva">Siret</label>
				<input type="text" value='{{modif.client__siret}}' class="form-control" name="siret_number" maxlength="50">
			</div>
			<div class="form-group col-md-5">
				<label for="mailContact"><i>N° Intracom * </i></label>
				<input type="text" value='{{modif.client__tva_intracom}}' class="form-control" name="intracom_input" id=''
					maxlength="200">
			</div>
		</div>
		
	    <div class="my-2 ">
		<label for="select_tva">Tva</label>
	      <div class="d-flex">
			
			  <div class="d-flex col-6">
				
				<select class="selectpicker show-tick border" data-live-search="true" data-width="100%" id="select_tva"
					name="select_tva" required>
					{% for tva in tva_list %}
					{% if modif.client__tva == tva.kw__value %}
					<option value="{{tva.kw__value}}" selected>{{tva.kw__lib}}</option>
					{% else %}
					<option value="{{tva.kw__value}}">{{tva.kw__lib}}</option>
					{% endif %}
					{% endfor %}
				</select>
			  </div>
			
	      </div>
	     
	      {# <div class="col-6 my-2 " id="div_intracom">
			<label for="mailContact"><i>N° Intracom * </i></label>
			<input type="text" value='{{modif.client__tva_intracom}}' class="form-control" name="intracom_input"
			id='' maxlength="200">
	      </div> #}
	     
	    </div>
	    
	    <div class="my-2">
	      <label>Vendeurs</label>
	      <div class="d-flex col-md-6">
		<select class="selectpicker show-tick border" data-live-search="true" data-width="100%" name="vendeur"
		  required>
		  {% for users in user_list %}
		  {% if modif.client__id_vendeur == users.id_utilisateur %}
		  <option value="{{users.id_utilisateur}}" selected>{{users.prenom ~ " " ~ users.nom}}</option>
		  {% else %}
		  <option value="{{users.id_utilisateur}}">{{users.prenom ~ " " ~ users.nom}}</option>
		  {% endif %}
		  {% endfor %}
		</select>
	      </div>
	    </div>
	</div>
	<div>
	  <div class="mx-2 mb-4 col-8 ">
	    <label for="commentaire_client">Commentaires</label>
	    <textarea class="CKE" id="commentaire_client" value='{{modif.client__comment}}' name="commentaire_client"
	      placeholder="Commentaire interne....">{{modif.client__comment}}</textarea>
	  </div>
	  <div>
		<div class="d-flex flex-row justify-content-around">
				<div class="mx-2 mb-4 col-6 ">
					<label for="config">Configuration spéciale</label>
					<input class="form-control" value='{{modif.client__memo_config}}' id="config" name="config"
					maxlength="100"></input>
				</div>

				<div class="mx-2 mb-4 col-4 ">
					<label for="facturation_auto">Mail si facturation automatique</label>
					<input class="form-control" type="email" value='{{facturation_auto.contact__email}}' id="facturation_auto" name="facturation_auto"
					maxlength="100" ></input>
				</div>
		</div>
	      <div class=" mx-4 mb-4 custom-control custom-checkbox col-3">
		{% if modif.client__bloque  == 1 %}
		  <input type="checkbox" class="custom-control-input" id="ckeck_bloque" name="ckeck_bloque" value='1' checked>
		{% else %}
		  <input type="checkbox" class="custom-control-input" id="ckeck_bloque" name="ckeck_bloque" value='1'>
		{% endif %}
		
		<label class="custom-control-label text-danger" for="ckeck_bloque"><b>Client bloqué</b></label>
	      </div>
	      <div>
		<div class="modal-footer justify-content-end">
		 
		  <div>
		    <button type="submit" class="btn btn-success" id="">Modifier</button>
		  </div>
		  <div>
		  </div>
		</div>
		</form>
		{% else %}
		<form id="" method="POST" action="">
		  <div class="form-row">
		    <div class="form-group col-md-6">
		      <label for="inputState">Nom societe</label>
		      <input type="text" class="form-control" name="nom_societe" id="nom_societe" maxlength="50"
			required>
		    </div>
		    <div class="form-group col-md-4">
		      <label for="inputCiv">Ville</label>
		      <input type="text" class="form-control" name="ville" id="ville" maxlength="50" required>
		    </div>
		    <div class="form-group col-md-2">
		      <label for="inputCiv">CP</label>
		      <input type="text" class="form-control" name="code_postal" id="code_postal" maxlength="10"
			required>
		    </div>
		  </div>
		  <div class="form-row">
		    <div class="form-group col-md-6">
		      <label for="inputCity">adresse 1</label>
		      <input type="text" class="form-control" name="adresse_1" id="adresse_1" maxlength="150" required>
		    </div>
		    <div class="form-group col-md-6">
		      <label for="inputCity">adresse 2</label>
		      <input type="text" class="form-control" name="adresse_2" maxlength="150" id="">
		    </div>
		  </div>
		  <div class="form-row">
		    <div class="form-group col-md-3">
		      <label for="inputZip">Telephone</label>
		      <input type="tel" class="form-control" name="telephone" maxlength="25" id="telephone">
		    </div>
		    <div class="form-group col-md-3">
		      <label for="inputZip">Fax </label>
		      <input type="tel" class="form-control" name="fax" maxlength="25" id="fax">
		    </div>
		    <div class="form-group col-md-5">
		      <label for="input_pays">Pays </label>
		      <input type="text" class="form-control" name="input_pays" maxlength="25" id="input_pays">
		    </div>
		  </div>
		  <div class="my-2 ">
		    <label for="select_tva">Tva</label>
		    <div class="d-flex col-md-6 ">
		      <select class="selectpicker show-tick border" data-live-search="true" data-width="100%"
			id="select_tva" name="select_tva" required>
			{% for tva in tva_list %}
			<option value="{{tva.kw__value}}">{{tva.kw__lib}}</option>
			{% endfor %}
		      </select>
		    </div>
			<div class="form-group col-md-5">
				<label for="select_tva">Siret</label>
				<input type="text" value='' class="form-control" name="siret_number" maxlength="50">
			</div>
		    <div class="col-6 my-2 d-none" id="div_intracom">
		      <label for="mailContact"><i>N° Intracom * </i></label>
		      <input type="text" class="form-control" name="intracom_input" id='intracom_input' maxlength="200">
		    </div>
		  </div>
		  <div class="my-2">
		    <label>Vendeurs</label>
		    <div class="d-flex col-md-6">
		      <select class="selectpicker show-tick border" data-live-search="true" data-width="100%"
			name="vendeur" required>
			{% for users in user_list %}
			{% if user.id_utilisateur == users.id_utilisateur %}
			<option value="{{users.id_utilisateur}}" selected>{{users.prenom ~ " " ~ users.nom}}</option>
			{% else %}
			<option value="{{users.id_utilisateur}}">{{users.prenom ~ " " ~ users.nom}}</option>
			{% endif %}
			{% endfor %}
		      </select>
		    </div>
		  </div>
	      </div>
	      <div>
		<div class="mx-2 mb-4 col-8 ">
		  <label>Commentaires</label>
		  <textarea class="CKE" id="commentaire_client" name="commentaire_client"
		    placeholder="Commentaire interne...."></textarea>
		</div>
		<div>
		  <div>
		   <div class="d-flex flex-row justify-content-around">
				<div class="mx-2 mb-4 col-6 ">
					<label for="config">Configuration spéciale</label>
					<input class="form-control" value='' id="config" name="config"
					maxlength="100"></input>
				</div>
				<div class="mx-2 mb-4 col-4 ">
					<label for="facturation_auto">Mail si facturation automatique</label>
					<input class="form-control" type="email" value='' id="facturation_auto" name="facturation_auto"
					maxlength="100" ></input>
				</div>
		</div>
		    <div>
		      <div class="modal-footer justify-content-end">
			<div>
			  <button type="submit" class="btn btn-success" id="postContact">Creer</button>
			</div>
			<div>
			</div>
		      </div>
		      </form>
		      {% endif %}
		    </div>
		  </div>
		</div>
		</div>
	    </div>
	    <!-- carte des contacts -->
	      {% if modif %}
		<div class="card shadow col-4">
			<div class="card-header bg-white d-flex justify-content-between">
				<h5 class="text-primary">Contacts</h5>
				<form method="POST" action="contactCrea">
					<input type="hidden" name="hidden_client_2" value='{{modif.client__id}}'>
					<button class="btn btn-primary btn-sm"> Nouveau</button>
				</form>
			</div>
			<div class="card-body">
				<table>

				
				{% if contact_list %}
				<ul class="list-group list-group-flush">
					{% for contact in contact_list %}
					
						{% if contact.contact__fonction != 'FAC' %}
							
								<li class="list-group-item ">
									<div class="d-flex">
										<div class=" mt-3">
											<b>
												{{ contact.contact__civ ~ " "  ~  contact.contact__nom ~ ' ' ~ contact.contact__nom  ~ " " ~ contact.kw__lib}}
											</b>
										</div>
										<div class="mt-1">
											<form method="POST" action="contactCrea" >
												<input type="hidden" name="contact_select" value='{{contact.contact__id}}'>
												<button class="btn btn-link btn-lg"> <i class="fal fa-user-edit"></i></button>
											</form>
										</div>
									</div>						
								</li>
								
							
						{% endif %}
					{% endfor %}
				</ul>
				{% else %}
					<div class="alert alert-info mt-2" role="alert">
						<h5>Aucun n'existe pour cette societe </h5>
					</div>
				{% endif %}
		
			</div>
		</div>
	      {% endif %}
	      
	     
</main>
{% endblock %}



{% block script %}
<!-- Optional JavaScript -->
<script type="text/javascript" src="public/js/devisFunction.js"></script>

<!-- jQuery first, then Bootstrap JS -->
<script type="text/javascript" src="public/datatable/datatables.min.js"></script>
<script type="text/javascript" src="public/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="public/bootstrap/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="public/ckE2/build/ckeditor.js"></script>
<script type="text/javascript" src="public/js/societe_crea.js"></script>
{% endblock %}