						<br>
						<h5>Filtres</h5>
						<div class="d-flex flex-column col-12">
							<label>Client</label>
							<select class="selectpicker show-tick border" data-live-search="true" data-width="100%" name="client" required>
								<option value="Tous">Tous</option>
								{% for client in clientList %}
									{% set selected = '' %} {# Mise a blanc du champ selectioné #}
									{% if clientSelect.client__id == client.client__id %} {% set selected = ' selected' %} {% endif %}
									<option value="{{client.client__id}}"{{selected}}>{{client.client__societe}} ({{client.client__id}})</option>
								{% endfor %}
							</select>
							<br>




							<label>Vendeur</label>
							<select class="selectpicker show-tick border" data-live-search="true" data-width="100%"
								name='vendeur' required>
								{% if vendeurSelect.id_utilisateur %}
								<option value="Tous">Tous</option>
								{% for vendeur in vendeurList %}
								{% if vendeurSelect.id_utilisateur == vendeur.id_utilisateur %}
								<option value="{{vendeur.id_utilisateur}}" selected>{{ vendeur.nom ~ ' ' ~
									vendeur.prenom }}</option>
								{% else %}
								<option value="{{vendeur.id_utilisateur}}">{{ vendeur.nom ~ ' ' ~ vendeur.prenom }}
								</option>
								{% endif %}
								{% endfor %}
								{% else %}
								<option value="Tous" selected>Tous</option>
								{% for vendeur in vendeurList %}
								<option value="{{vendeur.id_utilisateur}}">{{ vendeur.nom ~ ' ' ~ vendeur.prenom }}
								</option>
								{% endfor %}
								{% endif %}
							</select>


						</div>
