{% extends 'new_layout.twig' %}

{% block style %}
<link href="vendor/fontawesome/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="public/datatable/datatables.min.css">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap-select.min.css">
<link rel="stylesheet" type="text/css" href="public/datatable/datatables.min.css">
<link rel="stylesheet" href="public/css/dashboard.css">
{% endblock %}

{% block main %}
<main role="main" class="container-fluid my-3 col-11 container-body">
	{# Titre #}
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
		<h1 class="h2">{{titre_stat}} <i class="fas fa-chart-pie"></i></h1>
	</div>

	<div class="d-flex flex-wrap flex-row justify-content-start ">
		{# Carte Date et filtre (a gauche) #}
		<div class="col-4 d-flex justify-content-center h-100">
			<div class="card shadow h-100 col-12">
				<div class="card-body">
					<form action="stat_marge" method='POST' id="form_stat">
						<input type="hidden" name="{{type_tot}}">
						<input type="hidden" value="{{date_debut}}" name="date_debut">
						<input type="hidden" value="{{date_fin}}" name="date_fin">
						<h5>Période</h5>
						<div class="d-flex justify-content-between col-12">
							<div class="col-6">
								<label>Du</label>
								<input type="date" class="form-control" name="date_debut" value='{{date_debut}}' required>
							</div>
							<div class="col-6">
								<label>Au</label>
								<input type="date" class="form-control" name="date_fin" value='{{date_fin}}' required>
							</div>
						</div>
						<br>
						<div class="d-flex flex-column col-12">
							<button type="submit" class="btn btn-success ">Compter...</button>
						</div>
					</form>
				</div>
				{# Tuile bleu Information (Bas a Gauche) #}
				<div class="card-headder">
					<div class="alert alert-info" role="alert">
						<span  class="btn btn-lg btn-link"><i class="far fa-question-circle"></i></span><br>
						{{desc_stat}}
						<br>
						<span  class="btn btn-lg"><i class="far fa-database"></i></span><br>
						{{sql_stat}}
					</div>
				</div>
			</div>
		</div>


		<div class="col-8">
			{# Tuile des Résulta de comptages #}
			<div class="card shadow mb-4 d-flex flex-row justify-content-start flex-wrap h-100">
				<div class="col-12 my-4">
					<h4 class="card-title">Résultats :</h4>
					{% if alertDate %}
						<div class="alert alert-warning" role="alert">
							<div class="h3"> Aucun résultats pour les filtres selectionnés : </div>
						</div>
					{% else %}
						<div class="alert alert-success" align=center>
							Période du : <b>{{date_debut_fr}}</b> Au : <b>{{date_fin_fr}}</b>
							 - Clients : <b>{% if clientSelect.client__id %}{{clientSelect.client__societe}}{% else %}Tous{% endif %}</b>
							 - Vendeur : <b>{% if vendeurSelect.nom %}{{vendeurSelect.nom }}{% else %}Tous{% endif %}</b>
							 - <b>{{nb_fiche}}</b> factures
							<br>
							<div class="h3"><span class="badge badge-success badge-pill">{{total_ca|number_format(2,',',' ')}} € HT</span></div>
							<em>{{titre_stat}}</em>
						</div>
						<div class="h3">Détail par Préstations, Etats</div>Ext. Garantie Inclue
						<div class="row">
							<div class="col-6">
								<table class="table table-striped table-sm">
									<thead>
										<tr>
											<th>Préstaions</th>
											<th>Etat</th>
											<th>CA ht</th>
										</tr>
									</thead>
									<tbody>
										{% for data in t_data %}
										<tr>
											<td>{{data.presta}}</td>
											<td>{{data.etat}}</td>
											<td align=right>{{data.total_fiche|number_format(2,',',' ')}}</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
							<div class="col-6">
								Valeur materiel sortie pour fiches facturées (Sauf Loc ou Prêt) <br>{{vs_fiche|number_format(2,',',' ')}} €<br>
								Valeur materiel sortie pour production ou poubelle(date sortie) <br>{{vs_periode|number_format(2,',',' ')}} €<br>
								Valeur materiel déclassifié Hors RMA (date déclassification) <br>{{vs_down|number_format(2,',',' ')}} €<br>
								<br>
								total CA (Vente + Ech.) (sans ext Grarantie) : {{tot_ca_ve|number_format(2,',',' ')}} €<br>
								total matériel sortie : {{(vs_fiche + vs_periode + vs_down)|number_format(2,',',' ')}} €<br>
								cout port (approvisionement) pour le matos sortie (2.75%) : {{((vs_fiche + vs_periode + vs_down)*0.0275)|number_format(2,',',' ')}} €<br>
								% de marge : <b>{{((1 - (((vs_fiche + vs_periode + vs_down)*1.0275) / tot_ca_ve))*100)|number_format(2,',',' ')}} %</b><br>
								<br>
								<u>Pour info</u><br><i>
								Valeur materiel sortie pour garantie maintenance (date exped avec port) <br>{{(vs_garmaint*1.0275)|number_format(2,',',' ')}} € 
								( % de marge : {{((1 - (((vs_fiche + vs_periode + vs_down + vs_garmaint)*1.0275) / tot_ca_ve))*100)|number_format(2,',',' ')}} % )<br>
								Valeur de stock en debut de période (compté) : {{tot_stk_deb|number_format(2,',',' ')}} €<br>
								Valeur de stock en fin de période (compté) ...: {{tot_stk_fin|number_format(2,',',' ')}} €<br>
								Variation de stock sur période : {{(tot_stk_fin-tot_stk_deb)|number_format(2,',',' ')}} €<br>
								<br>
								<u>pour philippe</u><br>
								valo du matos sortie pour loc ou prêt <br>{{vs_fiche_lp|number_format(2,',',' ')}} €<br>
								Valo du matos sortie pour les fiches non encore facturé <br>
								Pour info Stock voir : O:\Comptabilité\STOCK<br>
								<br>
								<u>A faire ...</u><br>
								Montant des achats de la période (compté)<br>
								Comptage de reliquat (envoie sans port)<br>
								</i>
							</div>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}
{% block script %}
<!-- jQuery first, then Bootstrap JS -->
<script type="text/javascript" src="public/datatable/datatables.min.js"></script>
<script type="text/javascript" src="public/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="public/bootstrap/js/bootstrap-select.min.js"></script>
<!-- <script src="https://www.gstatic.com/charts/loader.js"></script> -->
<script type="text/javascript" src="public/js/statistique.js"></script>
{% endblock %}