{% extends 'layoutMain.twig' %}


  {% block style %}
<link href="vendor/fontawesome/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="public/datatable/datatables.min.css" >
<link rel="stylesheet" href="public/bootstrap/css/bootstrap-select.min.css">
<link rel="stylesheet" href="public/css/dashboard.css">
  {% endblock %}
 
 
     {% block main %}
     <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Saisie transport <i class="fal fa-truck"></i></h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
          </div>
        </div>
      </div>
       <!-- 1ere ligne -->
       <div class="d-flex flex-wrap flex-row justify-content-start">
      
        <input type="hidden" name="idUtilisateur" id="idUtilisateur" value="{{user.log_nec}}">
        
        
       


       
        <!--carte liste de Devis -->
      <div class="col-5">
        <div class="card shadow mb-4">
          <!-- Card Header - -->
          <div class="my-2 mx-4"> 
            
            <h6 class="m-0 font-weight-bold text-primary">Selection <i class="far fa-mouse-pointer"> </i> 
                <small class="ml-3"> {{  " " ~ NbDevis }} fiches de travail</small>
                <a data-toggle="tooltip" data-placement="top" title="Afficher toutes les fiches" href="" class="btn btn-link"><i class="fas fa-search-plus"></i></a>
            </h6>
                   
          </div>
          
          <div class="card-header d-flex flex-row align-items-center justify-content-between">
            <div class="d-flex flex-column">
                <div>
                  <form class="form-inline" action="transport" method="POST">
                    <input  type="hidden" name="recherche-fiche" value="search">
                    {% if champRecherche %}
                    <input class="form-control mr-2" type="search" name="rechercheF" placeholder="Recherche" aria-label="Search" value="{{champRecherche}}">
                    {% else %}
                    <input class="form-control mr-2" type="search" name="rechercheF" placeholder="Recherche" aria-label="Search">
                    {% endif %}
                   
                    <button class="btn btn-outline-primary  " type="submit"><i class="fal fa-bullseye-arrow"></i></button>
                  </form>
                 </div>
               </div>
            </div>
          <!-- Card Body -->
          <div class="card-body">
            <div class="chart-area">
              <table id="transportTable" class=" display table " style="width:100%"> <thead class="thead-dark" > 
                <tr> 
                  <th>Numéro</th> 
                  <th>Date</th>
                  <th>N°/Date</th>
                  <th>Client</th>
                  <th></th>
                 
              </tr>
              </thead> 
               <tbody id="">
                {% for devis in devisList %}
                <tr class="trClick">
                  <td>{{devis.devis__id}}</td>
                  <td> {{ devis.cmd__date_cmd}}</td>
                  <td > {{ "N°: " ~ devis.devis__id}} <br>  <div data-toggle="tooltip" data-placement="top" title="Date de commande"> <i class="far fa-check-circle"></i> {{ devis.devis__date_crea}} </div>
                    {% if devis.cmd__date_envoi  %} 
                    <div data-toggle="tooltip" data-placement="top" title="Date d'envoi prévue"> <i class="far fa-truck"></i> {{devis.cmd__date_envoi}}   </div>
                    {% endif %}
                  </td>
                  
                  <td> 
                 
                    {% if devis.devis__id_client_livraison %}
                    <b>{{  devis.client__livraison_societe  }} </b> {{"(" ~ devis.devis__id_client_livraison ~ ")" }} <br>{{ devis.client__livraison_cp ~ " " ~ " " ~  devis.client__livraison_ville }}  </td>
                    {% else %}
                    <b>{{  devis.client__societe  }} </b> {{"(" ~ devis.client__id ~ ")" }} <br>{{ devis.client__cp ~ " " ~ " " ~  devis.client__ville }}  </td>
                    {% endif %}
                  
                  
                  
                   <td>{{devis.DataLigne}}</td>
                  
                    
                </tr>
                {% endfor %}
               </tbody>
             </table>
           </div>
           
          </div>
         
        </div>
      </div>

        <!--carte option -->
        <div class="col-7 cardVisio" >
          <div class="card shadow mb-4">
            <!-- Card Body -->
             <div class="card-body" >

              {% if alert %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Félicitation!</strong> la saisie à bien été effectuée.
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              {% endif %}
              <div class="card-header" id="JumbResponse">
                <h4 class="" id="JumboCmd">Commande N°:</h4>
              </div>
                <div id="loaderTravail" class="">
                 <form method='POST' action="printBl" id="valid-saisie" >
                  <div id="containerLines" class="card my-4">
                  </div>

    
              <div class="d-flex flex-row justify-content-around">
                


                    <div class="  d-flex  flex-column  justify-content-start align-items-center ">
                      <h5>Poids <i class="fas fa-weight-hanging"></i></h5>
                      <div class="shadow my-2 py-2 px-2" id="calc">
                        
                        <div class="d-flex flex-row justify-content-between">
                            <div  >
                                <input type="text"  name="calc_resultat" id="calc_resultat" class="form-control bg-dark text-white font-weight-bold text-right"  placeholder="0.00" />
                            </div>
                        </div>
                       
                        <div class="d-flex flex-row justify-content-between my-2">
                            <div >
                                    <input type="button" class="btn btn-primary btn-lg btn-block calcuClick" value="7"  />
                            </div>
                            <div class="calc_td_btn">
                                    <input type="button" class="btn btn-primary btn-lg btn-block calcuClick" value="8" />
                            </div>
                            <div class="calc_td_btn">
                                    <input type="button" class="btn btn-primary btn-lg btn-block calcuClick" value="9" />
                            </div>
              
                        </div >
                                    <div class="d-flex flex-row justify-content-between my-2">
                            <div class="calc_td_btn">
                                    <input type="button" class="btn btn-primary btn-lg btn-block calcuClick" value="4"  />
                            </div>
                            <div class="calc_td_btn">
                                    <input type="button" class="btn btn-primary btn-lg btn-block calcuClick" value="5"  />
                            </div>
                            <div class="calc_td_btn">
                                    <input type="button" class="btn btn-primary btn-lg btn-block calcuClick" value="6" />
                            </div>
                            
                        </div>
                        <div class="d-flex flex-row justify-content-between my-2">
                            <div class="calc_td_btn">
                                    <input type="button" class="btn btn-primary btn-lg btn-block calcuClick " value="1"  />
                            </div>
                            <div class="calc_td_btn">
                                    <input type="button" class="btn btn-primary btn-lg btn-block calcuClick" value="2" />
                            </div>
                            <div class="calc_td_btn">
                                    <input type="button" class="btn btn-primary btn-lg btn-block calcuClick" value="3"/>
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-between my-2">
                            <div class="calc_td_btn">
                                    <input type="button" class="btn btn-primary btn-lg btn-block calcuClick" value="0" />
                            </div>
                           
                            <div class="calc_td_btn">
                                    <input type="button" class="btn btn-secondary btn-lg btn-block calcuClick" value="." />
                            </div>
                            <div class="calc_td_btn">
                                    <input type="button" class="btn btn-warning btn-lg btn-block" value="←" id="delete" />
                            </div>
                        </div>
                    </div>
                   </div>
                   
                   



                   <div class="d-flex flex-column justify-content-around mt-5" id="flexTransport">



                    <div  class="my-3"> 
                      <h6 >Transporteur</h6>
                      <select class="selectpicker "  name="" id="select-transport">
                        {% for entry in transporteurs %}

                        {% if entry.kw__value == 'TNT' %}
                        <option value="{{entry.kw__value}}" selected>{{entry.kw__lib}}</option>
                        {% else %}
                        <option value="{{entry.kw__value}}">{{entry.kw__lib}}</option>
                        {% endif %}
                       
                        {% endfor %}
                      </select> 
                    </div>



                    <div class="my-3"> 
                      <h6 >Nombre de paquets</h6>
                      <select class="selectpicker " name="" id="select-transporteur">

                      <option value="1" selected>1</option>
                      <option value="2" >2</option>
                      <option value="3" >3</option> 
                      <option value="4" >4</option>
                      <option value="5" >5</option>
                      </select> 
                    </div>


                   


                    <div class=" my-3" > 
                      <button type='button' class=" btn btn-success btn-lg btn-block" id="post-saisie"> saisir <i class="fas fa-truck"></i></button>
                    </div>

                   </div>
                </div>
               
                <input type='hidden' name='id_trans' value='' id='id_trans'>
                <input type="hidden" name="poids" id='poids' value="">
                <input type="hidden" name="transporteur" id="transporteur" value="">
                <input type="hidden" name="paquets" id='paquets' value="">
                </form>

                </div>


              
             
               






             </div>
          </div>
         </div>

    </div>
  

    </main>
     {% endblock %}
     
    
     {% block script %}
     <!-- Optional JavaScript -->

<!-- jQuery first, then Bootstrap JS -->
<script  type="text/javascript" src="public/datatable/datatables.min.js"></script>
<script  type="text/javascript" src="public/bootstrap/js/bootstrap.bundle.min.js"></script>
<script  type="text/javascript" src="public/bootstrap/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="public/js/transport.js"></script>



     {% endblock %}