{% extends 'new_layout.twig' %}
{% block style %}
<link href="vendor/fontawesome/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="public/datatable/datatables.min.css">
<link href="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.2.0/dist/jBox.all.min.css" rel="stylesheet">
<link rel="stylesheet" href="public/css/dashboard.css">
{% endblock %}
{% block main %}


{% if alerte_aux_gogols %}
        <div class="container-fluid my-3 col-11 container-body ">
                <div class="d-flex justify-content-center">
                        <div class="alert alert-danger col-10 text-center rounded alert_perso">
                                <h1>
                                        {{alerte_aux_gogols}}<br>
                                        N°: <b>{{devis.devis__id}}</b>
                                </h1>
                                <form method="POST" action="ligneDevisV2">
                                        <input type="hidden" name="return_from_validation" value="{{devis.devis__id}}">
                                        <button class="btn btn-secondary btn-lg">Modifier</button>
                                </form>
                        </div>
                </div>
        </div>
{% else %}
<main role="main" class="container-fluid my-3 col-11 container-body">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2"> Validation du devis N°: <b>{{devis.devis__id}}</b></h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                                {% if user.user__facture_acces > 10 %}
                                                <button id="FTCADMIN" value="FTCADMIN"  type="button" class="btn btn-danger  btn-lg mx-2 post_form" disabled>Facturation Direct</button>
                                {% endif %}
                                {% if user.user__facture_acces > 10 %}
                                                <button id="AVRADMIN" value="AVRADMIN" type="button" class="btn btn-primary  btn-lg mx-2 post_form" disabled>Avoir Direct</button>
                                {% endif %}
                                <form method="POST" action="ligneDevisV2">
                                        <input type="hidden" name="return_from_validation" value="{{devis.devis__id}}">
                                        <button class="btn btn-secondary btn-lg">Modifier</button>
                                </form>
                                <button id="VLDDEVIS" value="VLDDEVIS" type="button" class="btn btn-success  btn-lg mx-2 post_form" disabled>Valider </button>
                        </div>
                </div>
        </div>
<form action="validation_module" method="POST" id="form_validation">
        <input type="hidden" name="id_devis" value="{{devis.devis__id}}">
        <input type="hidden" name="nature_demande" id="nature_demande" value="VLDDEVIS">
        <input type="hidden" name="tableau_garantie" id="tableau_garantie">
        <!-- <input type="hidden" name="tableau_commentaires" id="tableau_commentaires"> -->
        <!-- 1ere ligne -->
        <div class="d-flex flex-row justify-content-start">
                <!-- Societe -->
                        <div class="col-6">
                                <div class="card shadow  h-100">
                                                <!-- Card Header - -->
                                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between ">
                                                        <h6 class="m-0 font-weight-bold text-primary">Societe et Contact <i class="fal fa-building"></i></h6>
                                                </div>
                                        <!-- Card Body -->
                                        <div class="card-body  ">
                                                <div class="chart-pie pt-2 pb-2 d-flex flex-row   mb-1 justify-content-between">
                                                        <div class=" col-6 ">
                                                                <div class="card-header">
                                                                        <h5> Facturation <i class="fas fa-euro-sign"></i></h5>
                                                                </div>
                                                                <div class="my-3">
                                                                                <b>
                                                                                        <span class="text-primary">
                                                                                                {{devis.client__societe ~ " (" ~ devis.client__id ~ ')'}}
                                                                                        </span><br>
                                                                                        {{devis.client__adr1}}<br>
                                                                                        {{devis.client__ville ~ " " ~ devis.client__cp }}
                                                                                </b><br>
                                                                                Contact : <br>
                                                                                {% if devis.devis__contact__id %}
                                                                                        <b>{{ devis.contact__civ ~ " " ~ devis.contact__nom ~ " " ~ devis.contact__prenom}}</b><br>
                                                                                {% else %}
                                                                                        <b>Non Renseigné</b>
                                                                                {% endif %}
                                                                </div>
                                                        </div>
                                                        <div class=" col-6 ">
                                                                <div class="card-header">
                                                                        <h5> Livraison <i class="fas fa-truck"></i></h5>
                                                                </div>
                                                                <div class="my-3">
                                                                        <b>
                                                                        {% if devis.devis__id_client_livraison %}
                                                                                <span class="text-primary">
                                                                                        {{devis.client__livraison_societe ~ " (" ~ devis.devis__id_client_livraison ~ ')'}}
                                                                                </span><br>
                                                                                {{devis.client__livraison__adr1}}<br>
                                                                                {{devis.client__livraison_ville ~ " " ~ devis.client__livraison_cp }}
                                                                                </b><br>
                                                                                Contact : <br>
                                                                                {% if devis.devis__contact_livraison %}
                                                                                        <b>{{ devis.civ__Livraison ~ " " ~ devis.nom__livraison ~ " " ~ devis.prenom__livraison}}</b><br>
                                                                                {% else %}
                                                                                        <b>Non Renseigné</b>
                                                                                {% endif %}

                                                                                {% else %}
                                                                                <span class="text-primary">
                                                                                        {{devis.client__societe ~ " (" ~ devis.client__id ~ ')'}}
                                                                                </span>
                                                                                       <br>
                                                                                        {{devis.client__adr1}}<br>
                                                                                        {{devis.client__ville ~ " " ~ devis.client__cp }}</b><br>
                                                                                Contact : <br>
                                                                                {% if devis.devis__contact__id %}
                                                                                        <b>{{ devis.contact__civ ~ " " ~ devis.contact__nom ~ " " ~ devis.contact__prenom}}</b><br>
                                                                                {% else %}
                                                                                <b>Non Renseigné</b>
                                                                                {% endif %}
                                                                        {% endif %}
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>    
                                </div>
                        </div>
               <!--commentaire-->
                <div class="col-5">
                        <div class="card shadow mb-4 h-100">
                                <!-- Card Header - -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary">Commentaire interne et code commande <i
                                                        class="fal fa-comment-dots"></i>
                                        </h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                        <div class="chart-pie pt-2 pb-2 d-flex flex-row   mb-1 justify-content-between">
                                                <div class=" mb-0 font-weight-bold text-muted col-12">
                                                        <div>
                                                                Commentaire interne :
                                                                <textarea class="form-control editor" id="commentaireInterneValid" name="commentaire_interne_post" placeholder="Commentaire Interne...."
                                                                rows="2" cols="40">{{devis.devis__note_interne}}</textarea>
                                                        </div>
                                                        <div class="mt-2">
                                                                <label for="codeClient">Code commande Client</label>
                                                                <input type="text" value="{{devis.cmd__code_cmd_client}}" id="codeClient" name="code_commande_client" class="form-control">
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
        <!-- 2eme ligne -->
        <div class="d-flex flex-wrap flex-row justify-content-start mt-3">
                <div class="col-md-11">
                        <div class=" d-flex flex-row flex-wrap w-100">
                                {% for ligne in devisLigne %}
                                        <div class="col-3 mt-1">
                                                <div class="card shadow h-100">
                                                        <div class="card-header">
                                                                <h6 class="m-0 font-weight-bold text-primary">
                                                                        {{ligne.prestaLib ~ " "}} <i><small>{{ " " ~ ligne.kw__lib}}</small></i>
                                                                </h6>
                                                        </div>
                                                        <div class="card-body ">
                                                                <h6 class="card-title text-bold" style="height: 4rem;">
                                                                        <b class="text-primary">
                                                                                <i>
                                                                                        <custom-button value="{{ligne.devl__id}}" target="{{ligne.devl_quantite}}"></custom-button>
                                                                                </i>
                                                                        </b>
                                                                        
                                                                        <strong class="font-italic" >
                                                                                        {{  ligne.devl__designation}}          
                                                                        </strong>
                                                                        {% if ligne.devl__modele %}
                                                                                <br>
                                                                                <strong class="font-bold">
                                                                                PN:    {{ ligne.apn__pn_long}}
                                                                                </strong>
                                                                                
                                                                        {% endif %}
                                                                </h6>
                                                               
                                                                <div class="d-flex flex-column ">
                                                                        
                                                                        <div class="form-check form-check-inline">
                                                                                {% if ligne.devl__prix_barre %}
                                                                                        <div class="border rounded border-danger px-3 article">
                                                                                                {% for xtend in ligne.devl__prix_barre %}
                                                                                                        <input type="hidden" class="radioCmdP" value="{{xtend.devg__prix}}">
                                                                                                        <input class="form-check-input mx-1 radioCmd " name="{{ligne.devl__id}}" id="{{ligne.devl__ordre}}" type="radio" value="{{xtend.devg__type}}">
                                                                                                        <label class="form-check-label" for="{{xtend.devg__id}}">
                                                                                                        <strong> {{xtend.devg__type}}Mois.</strong>
                                                                                                        </label>
                                                                                                        {% if loop.last %}
                                                                                                                <input type="hidden" class="radioCmdP" value="{{null}}">
                                                                                                                <input class="form-check-input mx-1 radioCmd" name="{{ligne.devl__id}}" id="{{ligne.devl__ordre}}" type="radio" value="00">
                                                                                                                <label class="form-check-label" for="{{xtend.devg__id}}">
                                                                                                                        <strong>Aucunes</strong>
                                                                                                                </label>
                                                                                                        {% endif %}
                                                                                                {% endfor %}
                                                                                        </div>  
                                                                                {% else %}
                                                                                        <div class="px-3 my-2">
                                                                                                <label class="form-check-label">
                                                                                                        <strong>Pas d'extensions</strong>
                                                                                                </label>   
                                                                                        </div>          
                                                                                {% endif %}       
                                                                        </div>                                                                                       
                                                                        <div class="border-top">
                                                                               <div class="d-flex justify-content-around my-3">
                                                                                       <div>
                                                                                               {% if ligne.devl__note_client %}
                                                                                                        <button type="button" class="btn btn-block btn-link btn-lg jBoxModal_client" id="{{ligne.devl__id}}_client"  value="{{ligne.devl__id}}">
                                                                                                                <i class="far fa-comment-dots fa-2x"></i>
                                                                                                        </button>
                                                                                               {% else %}
                                                                                                        <button type="button" class="btn btn-block btn-link btn-lg" disabled >
                                                                                                                <i class="far fa-comment-dots fa-2x"></i>
                                                                                                        </button>
                                                                                               {% endif %}
                                                                                              
                                                                                       </div>
                                                                                       <div>
                                                                                               {% if ligne.devl__note_interne %}
                                                                                                        <button type="button" class="btn btn-block btn-link btn-lg jBoxModal_interne"  id="{{ligne.devl__id}}_interne" value="{{ligne.devl__id}}">
                                                                                                                <i class="far fa-tools fa-2x"></i>
                                                                                                        </button>
                                                                                               {% else %}
                                                                                                        <button type="button" class="btn btn-block btn-link btn-lg" disabled>
                                                                                                                <i class="far fa-tools fa-2x"></i>
                                                                                                        </button>
                                                                                               {% endif %}
                                                                                                
                                                                                       </div>

                                                                               </div>
                                                                                <!-- <textarea class="form-control editor" id="{{ligne.devl__id}}"
                                                                                        placeholder="Commentaire Interne...." rows="2"
                                                                                        cols="40">{{ligne.devl__note_interne}}
                                                                                </textarea> -->
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                        {% if ligne.sous_ref %}
                                                {% for sous_ref in ligne.sous_ref %}
                                                        <div class="col-3 mt-1">
                                                                <div class="card shadow  sous_ref_card h-100">
                                                                        <div class="card-header">
                                                                                <h6 class="m-0 font-weight-bold text-primary">
                                                                                        {{sous_ref.prestaLib ~ " "}} <i><small>{{ " " ~ sous_ref.kw__lib}}</small></i>
                                                                                </h6>
                                                                        </div>
                                                                        <div class="card-body ">
                                                                                <h6 class="card-title text-bold" style="height: 4rem;">
                                                                                        <b class="text-primary">
                                                                                                <i>
                                                                                                        <custom-button value="{{sous_ref.devl__id}}"
                                                                                                                target="{{sous_ref.devl_quantite}}"></custom-button>
                                                                                                </i>
                                                                                        </b>
                                                        
                                                                                        <strong class="font-italic">
                                                                                                {{ sous_ref.devl__designation}}
                                                                                        </strong>
                                                                                        {% if sous_ref.devl__modele %}
                                                                                        <br>
                                                                                        <strong class="font-bold">
                                                                                                PN: {{ sous_ref.apn__pn_long}}
                                                                                        </strong>
                                                                                        
                                                                                        {% endif %}
                                                                                </h6>
                                                        
                                                                                <div class="d-flex flex-column ">
                                                        
                                                                                        <div class="form-check form-check-inline">
                                                                                        
                                                                                                <div class="px-3 my-2">
                                                                                                        <label class="form-check-label">
                                                                                                        {% if sous_ref.cmdl__sous_garantie == 0 %}
                                                                                                                <i>garantie non étendue</i><br><br>
                                                                                                                {% else %}
                                                                                                                <i>garantie étendue</i><br><br>
                                                                                                        {% endif %}
                                                                                                        </label>
                                                                                                </div>
                                                                                        
                                                                                        </div>
                                                                                        <div class="modal footer">
                                                                                                <!-- Commentaire interne :
                                                                                                <textarea class="form-control editor" id="{{sous_ref.devl__id}}"
                                                                                                        placeholder="Commentaire Interne...." rows="2" cols="40">{{sous_ref.devl__note_interne}}
                                                                                                </textarea> -->
                                                                                        </div>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                {% endfor  %}
                                        {% endif %}
                                {% endfor %}
                        </div>   
                </div>
        </div>
</form>
</main>
{% endif %}

{% endblock %}
{% block script %}
<!-- jQuery first, then Bootstrap JS -->
<script type="text/javascript" src="public/datatable/datatables.min.js"></script>
<script type="text/javascript" src="public/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="public/bootstrap/js/bootstrap-select.min.js"></script>^
<script src="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.2.0/dist/jBox.all.min.js"></script>
<script type="text/javascript" src="public/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="public/js/validation_devis.js"></script>
<script type="text/javascript" src="public/js/custom/button/custom-button-quantite.js"></script>
{% endblock %}