{% if ticket.tk__id %}
    {% if ticket.tk__lu == 1  %}
        <div class="card-recode card-recode-cursor d-flex flex-column my-2 col-12 col-lg-8">
    {% elseif ticket.tk__lu == 2  %}
        <div class="card-recode-lu card-recode-cursor d-flex flex-column my-2 col-12 col-lg-8">
    {% else %}
        <div class="card-recode-green-shadow card-recode-cursor d-flex flex-column my-2 col-12 col-lg-8">
    {% endif %}
<input type="hidden" value="{{ticket.tk__id}}">
    <div class="d-flex">
        <div class="col-6">
            <h3 class="recode-orange-title"> Ticket {{ticket.tk__id}}
                {% if ticket.tk__lu == 2 %}
                    <small class="font-weight-bold text-muted"> cloturé</small>
                {% endif %}
                {% if ticket.tk__lu == 0 %}
                    <small class="text-danger mx-2"><i class="fas fa-bell shake-n-steak"></i></small>
                {% endif %}
            </h3>
        </div>
        <div class="col-6">
            <h3 class="recode-orange-title"><span class="text-dark">{{ticket.tk__titre}}</span>
            </h3>
        </div>
    </div>
    <div class="d-flex">
        <div class="col-6">
            <p class="recode-p">Ticket My-Recode <span class="text-dark font-weight-bold"> : </span><span class="recode-orange-title"> {{ticket.user.user__prenom ~ " " ~ ticket.user.user__nom}}</span><br>
                {% if ticket.tk__groupe %}
                          groupe N°{{ticket.tk__groupe}}<br>
                 {% endif %}
                {% if ticket.sujet %}
                    <span class="text-dark font-weight-bold">{{ticket.memo }}
                    </span><br>
                {% endif %}
                {% if ticket.tk__lu != 2 %}
                    <span class="text-dark font-weight-bold text-uppercase">En cours chez 
                        <span class="recode-orange-title">
                            {{ticket.dest.user__prenom ~ " " ~ ticket.dest.user__nom}}
                        </span>
                    </span>
                {% endif %}
                {% if ticket.cli %}
                <br>
                <span class="text-dark font-weight-bold text-uppercase">
                    <span class=" recode-p text-uppercase">
                        {{ " (" ~ ticket.cli.cli__id ~ ") " ~ ticket.cli.cli__nom}}
                        {{ ticket.cli.cli__cp ~ " " ~ ticket.cli.cli__ville }}
                    </span>
                </span>
                {% endif %}
            </p>
        </div>
       
        <div class="col-6">
            <p class="recode-p">{{ticket.memo}}<br>
            <span class="text-dark font-weight-bold text-uppercase">Le {{ticket.date}}<br>
                <span class="recode-orange-title">
                    {{ticket.last.user__prenom ~ " " ~ ticket.last.user__nom}}
                </span>
            </span>
            {% if ticket.mat %}
                <span class="text-dark font-weight-bold text-uppercase">Le {{ticket.date}}<br>
                    <span class="recode-orange-title">
                        {{ticket.mat.mat__model}}
                    </span>
                </span>
            {% endif %}
            </p>
        </div>
    </div> 
</div>
{% endif %}