{% extends 'new_layout.twig' %}
{% block style %}
<link href="vendor/fontawesome/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="public/datatable/datatables.min.css">
<link rel="stylesheet" type="text/css" href="public/chosen/chosen.min.css">
<link rel="stylesheet" type="text/css" href="public/mdb/css/mdb-file-upload.css">
<link rel="stylesheet" href="public/css/dashboard.css">
<link rel="stylesheet" href="public/css/stepper.css">
{% endblock %}
{% block main %}
<main role="main" class="container-fluid my-3 col-11 container-body">
    <div class="d-flex justify-content-start">
        <div class="bs-stepper col-11">
            <div class="bs-stepper-header" role="tablist">
                <div class="step" data-target="#logins-part">
                    <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger">
                        <span class="bs-stepper-circle">1</span>
                        <span class="bs-stepper-label">Nom du Pn</span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="step" data-target="#modele-part-trigger">
                    <button type="button" class="step-trigger" role="tab" aria-controls="information-part"
                        id="modele-part-trigger">
                        <span class="bs-stepper-circle">2</span>
                        <span class="bs-stepper-label">Modèles liés</span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="step" data-target="#modele-part-trigger">
                    <button type="button" class="step-trigger" role="tab" aria-controls="information-part"
                        id="modele-part-trigger">
                        <span class="bs-stepper-circle">3</span>
                        <span class="bs-stepper-label">Fiche technique</span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="step" data-target="#information-part">
                    <button type="button" class="step-trigger" role="tab" aria-controls="information-part"
                        id="information-part-trigger">
                        <span class="bs-stepper-circle">4</span>
                        <span class="bs-stepper-label">Informations</span>
                    </button>
                </div>
            </div>
            <div class="bs-stepper-content">
                <!-- your steps content here -->
                <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger"></div>
                <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger"></div>
            </div>
        </div>

    </div>
    
     <div class="container-fluid mt-2 ">
        <div class="d-flex">
            <div class="col-11">
                <form class="d-flex " method="POST" action="create-pn-third">
                    <input type="hidden" name="retour_pn" value="{{pn.apn__pn}}">
                    <button class="btn btn-secondary"><i class="fad fa-arrow-left"></i> Modèles associés</button>
                    <h3 class="text-muted mx-5">Informations </h3>
                </form>
                <form  enctype="multipart/form-data" action="create-pn-third" method="POST" class="mt-3"  >
                    <input type="hidden" name="pn_id" value="{{pn.apn__pn}}">
                    <input class="form-control" type="hidden" value="{{pn.apn__pn_long}}" placeholder="Disabled input" aria-label="Disabled input example" disabled readonly>
                
                    <div class=" mt-3 text-muted " role="alert">
                   
                        <div>
                            <h3> <i class="fas fa-lock-alt fa-lg"></i> <b> {{ pn.apn__pn_long  }}  ( {{ pn.modele ~ " " ~  pn.famille }} )</b></h3><br>
                        </div>
                    </div>
                    <div class="d-flex col-12">
                        <div class="col-3">
                            <label for="desc_courte" class="form-label">Description courte</label>
                            <textarea class="form-control editor" name="desc-courte" id="desc-courte" rows="2" >{{pn.apn__desc_short}}</textarea>
                        </div>
                        <div class="col-3">
                            <label for="desc_courte" class="form-label">Description longue</label>
                            <textarea class="form-control editor" name="desc-longue" id="desc-longue" rows="2" >{{pn.apn__desc_long}}</textarea>
                        </div>
                        <div class="col-2">
                            <div class="form-control-lg mt-3">
                                {% if pn.apn__image %} 
                                        <div align=center><img src="data:image/jpeg;base64,{{pn.apn__image|raw}}" width=110 /></div>
                                    {% else %}
                                        <div align=center><img src="public/img/nophoto.png" width=110></div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-3 mt-4">
                            <div class="file-upload-wrapper">
                                <input type="file" name="modele_image" id="modele_image" class="file_upload" data-max-file-size="2M"
                                    data-height="250" defaultMsg="IMMAGE DU PRODUIT" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mt-4">
                        
                    </div>
                    <div class="modal-footer mt-5">
                        <button class="btn btn-success btn-block">Valider et activer le PN</button>
                    </div>
                </form>
            </div>
         

        </div>
        
     </div>
</main>


{% endblock %}
{% block script %}
<!-- jQuery first, then Bootstrap JS -->
<script type="text/javascript" src="public/datatable/datatables.min.js"></script>
<script type="text/javascript" src="public/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="public/bootstrap/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="public/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript" src="public/js/stepper.js"></script>
<script type="text/javascript" src="public/mdb/js/mdb-file-upload.min.js"></script> 
<script type="text/javascript" src="public/ckeditor/ckeditor.js"></script><!-- addon MDB pour upload -->
<script type="text/javascript">
    $(document).ready(function () {
            var stepper = new Stepper($('.bs-stepper')[0])
            stepper.to(4)
            $(".chosen-select").chosen({max_selected_options: 5});
            $('.file_upload').file_upload();
              $('.editor').each(function () {
            CKEDITOR.replace(this.id,
                {
                    language: 'fr',
                    removePlugins: 'image,justify,pastefromgdocs,pastefromword,about,table,tableselection,tabletools,Source,uicolor',
                    removeButtons: 'PasteText,Paste,Cut,Copy,Blockquote,Source,Subscript,Superscript,Undo,Redo,Maximize,Outdent,Indent,Format,SpecialChar,HorizontalRule,Styles,Strike'
                });
        })
        })

</script>
{% endblock %}