{% extends 'new_layout.twig' %}
{% block style %}
<link href="vendor/fontawesome/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="public/datatable/datatables.min.css">
<link rel="stylesheet" href="public/css/dashboard.css">
<link rel="stylesheet" href="public/css/stepper.css">
{% endblock %}
{% block main %}



<main role="main" class="container-fluid my-1 col-11 container-body">
    <div class="d-flex justify-content-start">
        <div class="bs-stepper col-11">
            <div class="bs-stepper-header" role="tablist">
                <div class="step" data-target="#logins-part">
                    <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger">
                        <span class="bs-stepper-circle">1</span>
                        <span class="bs-stepper-label">Nom du Pn</span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="step" data-target="#modele-part-trigger">
                    <button type="button" class="step-trigger" role="tab" aria-controls="information-part"
                        id="modele-part-trigger">
                        <span class="bs-stepper-circle">2</span>
                        <span class="bs-stepper-label">Modèles liés</span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="step" data-target="#modele-part-trigger">
                    <button type="button" class="step-trigger" role="tab" aria-controls="information-part"
                        id="modele-part-trigger">
                        <span class="bs-stepper-circle">3</span>
                        <span class="bs-stepper-label">Fiche technique</span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="step" data-target="#information-part">
                    <button type="button" class="step-trigger" role="tab" aria-controls="information-part"
                        id="information-part-trigger">
                        <span class="bs-stepper-circle">4</span>
                        <span class="bs-stepper-label">Informations</span>
                    </button>
                </div>
            </div>
            <div class="bs-stepper-content">
                <!-- your steps content here -->
                <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger"></div>
                <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger"></div>
            </div>
        </div>
    </div>
       <div class="d-flex mt-4 justify-content-start">
           <div class="row col-6">
               <form method="POST" action="create-pn-first" class="col-9"> 
                    <div class=" col-12">
                        <h3 class="text-primary font-weight-bold">PN</h3>
                        <input type="text" name="recherche_pn" value="{{alert['pn']}}" class="form-control form-control-lg col-12" id="recherche_pn" minlength="5" maxlength="50" required>
                    </div>
                    <div class=" col-12 mt-4">
                        <h3 class="text-primary font-weight-bold">Famille</h3>
                        <div>
                            <select class="form-select form-control form-select-lg col-12" name="famille_pn" id="famille_pn" required>
                                {% for famille in famille_list %}
                                {% if alert['famille']  == famille.kw__value %}
                                    <option value="{{famille.kw__value}}" selected>{{famille.kw__lib}}</option>
                                {% else %}
                                    <option value="{{famille.kw__value}}">{{famille.kw__lib}}</option>
                                {% endif %}
                                    
                                {% endfor %}
                            </select>
                        </div>
                       
                       
                        <div class="modal-footer col-12 mt-4">
                                <button class="btn btn-primary btn-lg">Valider</button>
                        </div>
                    </div>
               </form>
           </div>
           {% if pn_id %}
           <div class="row col-6">
                <div class="alert alert-warning col-12">
                    <h3><i class="fas fa-exclamation-triangle"></i> Le PN <b><i>{{pn_id.apn__pn_long}}</i></b> existe déja</h3>

                    <table class="table table-striped text-white">
                        <thead>
                            <tr>
                               
                                <th scope="col">Description</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                               
                                <td>{{pn_id.apn__desc_short}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>   
                    <p>
                    <i class="far fa-question-circle"></i> Chaque Pn doit etre unique
                    </p>
                </div>
           </div>
           {% endif %}
           {% if alert %}
           <div class="alert alert-warning col-8" style="height: 50%;">
                <h4>{{alert['alert']}}</h4>
            </div>
               
           {% endif %}

       </div>
</main>


{% endblock %}
{% block script %}
<!-- jQuery first, then Bootstrap JS -->
<script type="text/javascript" src="public/datatable/datatables.min.js"></script>
<script type="text/javascript" src="public/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="public/bootstrap/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="public/js/stepper.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
            var stepper = new Stepper($('.bs-stepper')[0])
            stepper.to(1)
        })

</script>
{% endblock %}