


{% if object.apn__pn %}
	<form action="create-pn-third" method="POST" class="mt-1">
{% else %}
	<form action="create_models" method="POST" class="mt-1">
{% endif %}
		{% if object.apn__pn %}
			<input type="hidden" name="id_pn" value="{{object.apn__pn}}">

			<h3 class="text-muted mt-5">Fiche technique pour le PN: {{ object.apn__famille }} <b>{{ object.apn__pn_long }}</b></h3>
		{% else %}
			<input type="hidden" name="id_object" value="{{object.afmm__id}}">

			<h3 class="text-muted mt-5">Fiche technique pour le Modèle: {{ object.apn__famille }} <b>{{ object.afmm__id }}</b></h3>
		{% endif %}
		
		{% for data in forms_data %}
			{% if data.aac__champ == 'SLT' %}
				{% if data.aac__option == 'UN' %}
					<div class="form-group">
						<label for="labelUN"> {{ data.aac__cle_txt }} </label>
						<select class=" selectpicker col-12" name=" {{ data.aac__cle }}">
							<option value="" selected> Non-renseigné </option>

							{% if spec_array %}
								{% for spec in spec_array %}
									{% for clefs in data.key_responses %}
										{% if spec.aap__cle == data.aac__cle and spec.aap__valeur == clefs.aav__valeur %}

											<option value="{{ clefs.aav__valeur }}" selected> {{ clefs.aav__valeur_txt }} </option>

										{% elseif spec.aap__cle == data.aac__cle and spec.aap__valeur != clefs.aav__valeur %}

											<option value="{{ clefs.aav__valeur }}" > {{ clefs.aav__valeur_txt }} </option>

										{% endif %}
									{% endfor %}
								{% endfor %}
							{% else %}
								{% for clefs in data.key_responses %}

									<option value="{{ clefs.aav__valeur }}"> {{ clefs.aav__valeur_txt }} </option>

								{% endfor %}
							{% endif %}

						</select>
					</div>
				{% elseif data.aac__option == 'UN!' %}
					<div class="form-group">
						<label for="labelUN!"> {{ data.aac__cle_txt }} </label>
						<select class=" selectpicker col-12" name=" {{ data.aac__cle }}" required>
							{% if spec_array %}
								{% for spec in spec_array %}
									{% for clefs in data.key_responses %}
										{% if spec.aap__cle == data.aac__cle and spec.aap__valeur == clefs.aav__valeur %}

											<option value="{{ clefs.aav__valeur }}" selected> {{ clefs.aav__valeur_txt }} </option>

										{% elseif spec.aap__cle == data.aac__cle and spec.aap__valeur != clefs.aav__valeur %}

											<option value="{{ clefs.aav__valeur }}" > {{ clefs.aav__valeur_txt }} </option>

										{% endif %}
									{% endfor %}
								{% endfor %}
							{% else %}
								{% for clefs in data.key_responses %}

									<option value="{{ clefs.aav__valeur }}"> {{ clefs.aav__valeur_txt }} </option>

								{% endfor %}
							{% endif %}
						</select>
					</div>
				{% elseif data.aac__option == 'XX' %}
					<div class="form-group">
						<label for="labelXX"> {{ data.aac__cle_txt }} <small class="text-success">Choix multiples</small></label>
						<select class=" selectpicker col-12" name=" {{ data.aac__cle }}[]" multiple>
							<option value="" selected> Non renseignés</option>
							{% if spec_array %}
								{% for spec in spec_array %}
									{% for clefs in data.key_responses %}
										{% if spec.aap__cle == data.aac__cle and spec.aap__valeur == clefs.aav__valeur %}

											<option value="{{ clefs.aav__valeur }}" selected> {{ clefs.aav__valeur_txt }} </option>

										{% elseif spec.aap__cle == data.aac__cle and spec.aap__valeur != clefs.aav__valeur %}

											<option value="{{ clefs.aav__valeur }}" > {{ clefs.aav__valeur_txt }} </option>

										{% endif %}
									{% endfor %}
								{% endfor %}
							{% else %}
								{% for clefs in data.key_responses %}

									<option value="{{ clefs.aav__valeur }}"> {{ clefs.aav__valeur_txt }} </option>

								{% endfor %}
							{% endif %}
						</select>
					</div>
				{% elseif data.aac__option == 'XX!' %}
					<div class="form-group">
						<label for="labelXX!"> {{ data.aac__cle_txt }} <small class="text-success">Choix multiples</small></label>
						<select class=" selectpicker col-12" name=" {{ data.aac__cle }}[]" multiple required>
							{% if spec_array %}
								{% for spec in spec_array %}
									{% for clefs in data.key_responses %}
										{% if spec.aap__cle == data.aac__cle and spec.aap__valeur == clefs.aav__valeur %}

											<option value="{{ clefs.aav__valeur }}" selected> {{ clefs.aav__valeur_txt }} </option>

										{% elseif spec.aap__cle == data.aac__cle and spec.aap__valeur != clefs.aav__valeur %}

											<option value="{{ clefs.aav__valeur }}" > {{ clefs.aav__valeur_txt }} </option>

										{% endif %}
									{% endfor %}
								{% endfor %}
							{% else %}
								{% for clefs in data.key_responses %}

									<option value="{{ clefs.aav__valeur }}"> {{ clefs.aav__valeur_txt }} </option>

								{% endfor %}
							{% endif %}
						</select>
					</div>
				{% endif %}
			{% elseif data.aac__champ == 'RAD' %}
			{% elseif data.aac__champ == 'CHK' %}
			{% endif %}	
		{% endfor %}

		<div class="modal-footer">
			<button class="btn btn-primary">Valider</button>  
		</div>
	</form>