


<div class="form-group">
    {% if form.tksc__type_de_champ == "TXT" %}
        {% if form.tksc__obligatoire == 1 %}
            <input type="text" class="form-control  form-control-lg input-recode" name="{{form.tksc__nom_champ}}" maxlength="{{form.tksc__long_de_champ}}" placeholder="{{form.tksc__nom_champ}}" required>
        {% else %}
            <input type="text" class="form-control  form-control-lg input-recode" name="{{form.tksc__nom_champ}}" maxlength="{{form.tksc__long_de_champ}}" placeholder="{{form.tksc__nom_champ}}" >
        {% endif %}
    {% elseif form.tksc__type_de_champ == "NUM" %}
        {% if form.tksc__obligatoire == 1 %}
            <input type="number" step="0.01" class="form-control col-5  form-control-lg input-recode" maxlength="{{form.tksc__long_de_champ}}" placeholder="{{form.tksc__nom_champ}}" required>
        {% else %}
            <input type="number" step="0.01" class="form-control col-5  form-control-lg input-recode" maxlength="{{form.tksc__long_de_champ}}" placeholder="{{form.tksc__nom_champ}}" >
        {% endif %}
    {% elseif form.tksc__type_de_champ == "RAD" %}
        <h5 class="text-white">{{form.tksc__nom_champ}}</h5>
        <div class="row justify-content-start col-12 ">
            {% for row in form.tksc__option %}
                <div class="form-check text-white col-5 col-md-4">
                    <input class="form-check-input" id="radioInput" type="radio" value="{{ row }}" name="{{form.tksc__nom_champ}}" >
                    <label class="form-check-label" for="radioInput">{{ row }} </label>
                </div>
            {% endfor %}
        </div>
    {% elseif form.tksc__type_de_champ == "CHK" %}
        <h5 class="text-white">{{form.tksc__nom_champ}}</h5>
            <div class="row justify-content-between col-12 ">
                {% for row in form.tksc__option %}
                    <div class="form-check text-white col-5 col-md-4">
                        <input class="form-check-input" id="radioInput" type="checkbox" value="{{ row}}" name="{{form.tksc__nom_champ}}[]">
                        <label class="form-check-label" for="radioInput">{{ row }} </label>
                    </div>
                {% endfor %}
            </div>
    {% elseif form.tksc__type_de_champ == "FIL" %}

    {% elseif form.tksc__type_de_champ == "SLT" %}
            <h5 class="text-white">{{form.tksc__nom_champ}}</h5>
            <select class="custom-select form-control-lg input-recode" name="{{form.tksc__nom_champ}}" >
                {% for subject in form.tksc__option %}
                    <option value="{{subject.id}}" >{{subject.lib}}</option>
                {% endfor %}
            </select>
    {% elseif form.tksc__type_de_champ == "CLI" %} 
            {% include "forms/forms_client_field.html.twig" %}
    {% elseif form.tksc__type_de_champ == "AER" %}
            <textarea class="form-control  form-control-lg input-recode" name="{{form.tksc__nom_champ}}" placeholder="{{form.tksc__nom_champ}}" rows="3"></textarea>
    {% endif %}
</div>