


{% if object.apn__pn %}
	<form action="create-pn-third" method="POST" class="" id="forms_specs">
{% else %}
	<form action="create-models" method="POST" class="" id="forms_specs">
{% endif %}
		{% if object.apn__pn %}
			<input type="hidden" name="id_pn" value="{{object.apn__pn}}">

			<h3 class="text-muted mt-5">Fiche technique pour le PN:<b>{{ object.apn__pn_long  }}  ( {{ object.modele ~ " " ~  object.famille }} )</b></h3>

		{% else %}
			<input type="hidden" name="id_models" value="{{object.afmm__id}}">

			<h3 class="text-muted mt-5">Fiche technique pour le Modèle: <b> {{object.famille ~ " " ~ object.marque}} -  {{ object.afmm__id }}</b></h3>
		{% endif %}
		
		
		{% for data in forms_data %}
			{% if data.aac__option == 'UN' %}
			{% for spec in spec_array %}
			
				{% if spec.aap__cle == data.aac__cle and spec.aap__heritage == 1 %}
					{% set marqueur_heritage = 'Hérité du modèle' %}
				{% endif %}
			{% endfor %}
				<div class="form-group  my-4">
					<label for="labelUN" class="text-uppercase font-italic font-weight-bold"> {{ data.aac__cle_txt }} <small class="text-primary">{{marqueur_heritage}}</small></label>
					{% set marqueur_heritage = false %}
						{% if data.aac__champ == "SLT" %}
					
							{% for spec in spec_array %}
								{% if spec.aap__cle == data.aac__cle and spec.aap__heritage == 1  %}
									{% set marqueur_disabled = 'disabled' %}
								{% endif %}
							{% endfor %}
						
							<select class=" selectpicker col-12" name=" {{ data.aac__cle }}" {{marqueur_disabled}}>
								{% set marqueur_disabled = '' %}
								<option value="" selected> Non renseignés </option>
								{% if spec_array %}
									{% for spec in spec_array %}
										{% for clefs in data.key_responses %}
											{% if spec.aap__cle == data.aac__cle and spec.aap__valeur == clefs.aav__valeur %}
												{% set marqueur = true %}
												<option value="{{ clefs.aav__valeur }}" selected> {{ clefs.aav__valeur_txt }} </option>

											{% elseif spec.aap__cle == data.aac__cle and spec.aap__valeur != clefs.aav__valeur %}
												{% set marqueur = true %}
												<option value="{{ clefs.aav__valeur }}" > {{ clefs.aav__valeur_txt }} </option>
											{% endif %}
										{% endfor %}
									{% endfor %}
									{% if not marqueur %}
											{% for clefs in data.key_responses %}
												<option value="{{ clefs.aav__valeur }}"> {{ clefs.aav__valeur_txt }} </option>
											{% endfor %}
									{% endif %}
									{% set marqueur = false %}
								{% else %}
									{% for clefs in data.key_responses %}
										<option value="{{ clefs.aav__valeur }}"> {{ clefs.aav__valeur_txt }} </option>
									{% endfor %}
								{% endif %}

							</select>
					{% elseif data.aac__champ == "RAD" %}
					
						{% for spec in spec_array %}
									{% if spec.aap__cle == data.aac__cle and spec.aap__heritage == 1  %}
										{% set marqueur_disabled = 'disabled' %}
									{% endif %}
						{% endfor %}
						
						<div class="row mx-auto justify-content-start col-11">
							
							
							{% if spec_array %}
									{% for spec in spec_array %}
										{% for clefs in data.key_responses %}
											{% if spec.aap__cle == data.aac__cle and spec.aap__valeur == clefs.aav__valeur %}
												{% set marqueur = true %}
												<div class="form-check col-3" >
													<input class="form-check-input" id="radioInput" type="radio" value="{{ clefs.aav__valeur }}" name="{{ data.aac__cle }}" checked {{marqueur_disabled}}>
													<label class="form-check-label" for="radioInput">{{ clefs.aav__valeur_txt }} </label>
												</div>

											{% elseif spec.aap__cle == data.aac__cle and spec.aap__valeur != clefs.aav__valeur %}
												{% set marqueur = true %}
												<div class="form-check col-3" >
													<input class="form-check-input" id="radioInput" type="radio" value="{{ clefs.aav__valeur }}" name="{{ data.aac__cle }}"   {{marqueur_disabled}}>
													<label class="form-check-label" for="radioInput">{{ clefs.aav__valeur_txt }} </label>
												</div>
											{% endif %}
											
										{% endfor %}
										{% if loop.last %}
													<div class="form-check col-3" >
														<input class="form-check-input" id="radioInput" type="radio" value="" name="{{ data.aac__cle }}"  {{marqueur_disabled}}>
														<label class="form-check-label" for="radioInput">Non Renseigné</label>
													</div>
										{% endif %}
									{% endfor %}
									{% if not marqueur %}
												{% for clefs in data.key_responses %}
													<div class="form-check col-3" >
														<input class="form-check-input" id="radioInput" type="radio" value="{{ clefs.aav__valeur }}" name="{{ data.aac__cle }}"  {{marqueur_disabled}}>
														<label class="form-check-label" for="radioInput">{{ clefs.aav__valeur_txt }} </label>
													</div>
													{% if loop.last %}
													<div class="form-check col-3" >
														<input class="form-check-input" id="radioInput" type="radio" value="" name="{{ data.aac__cle }}"  {{marqueur_disabled}}>
														<label class="form-check-label" for="radioInput">Non Renseigné</label>
													</div>
												{% endif %}
												{% endfor %}
									{% endif %}
								{% set marqueur = false %}
							{% else %}
											{% for clefs in data.key_responses %}
												<div class="form-check col-3" >
													<input class="form-check-input" id="radioInput" type="radio" value="{{ clefs.aav__valeur }}" name="{{ data.aac__cle }}"  {{marqueur_disabled}}>
													<label class="form-check-label" for="radioInput">{{ clefs.aav__valeur_txt }} </label>
												</div>
												{% if loop.last %}
													<div class="form-check col-3" >
														<input class="form-check-input" id="radioInput" type="radio" value="" name="{{ data.aac__cle }}"  {{marqueur_disabled}}>
														<label class="form-check-label" for="radioInput">Non Renseigné</label>
													</div>
												{% endif %}
											{% endfor %}
							{% endif %}
						</div>
						{% else %}
							ERREUR DE CONFIGURATION !MERCI DE LE SIGNALER AUX ADMINISTRATEURS 
						{% endif %}
					
					{% set marqueur_disabled = '' %}	
				</div>
				<hr>
				{% elseif data.aac__option == 'UN!' %}
				{% for spec in spec_array %}
					{% if spec.aap__cle == data.aac__cle and spec.aap__heritage == 1 %}
						{% set marqueur_heritage = 'Hérité du modèle' %}
					{% endif %}
				{% endfor %}
					<div class="form-group mx-auto  my-4">
						<label for="labelUN!" class="text-uppercase font-italic font-weight-bold"> {{ data.aac__cle_txt }} <small class="text-danger">obligatoire</small> <small class="text-primary">{{marqueur_heritage}}</small></label>
						{% set marqueur_heritage = false %}
							{% if data.aac__champ == "SLT" %}
							{% for spec in spec_array %}
								{% if spec.aap__cle == data.aac__cle and spec.aap__heritage == 1  %}
									{% set marqueur_disabled = 'disabled' %}
								{% endif %}
							{% endfor %}
							<select class=" selectpicker col-12" name=" {{ data.aac__cle }}"  required {{marqueur_disabled}}>
								{% set marqueur_disabled = '' %}
								{% if spec_array %}
									{% for spec in spec_array %}
										{% for clefs in data.key_responses %}
											{% if spec.aap__cle == data.aac__cle and spec.aap__valeur == clefs.aav__valeur %}
												{% set marqueur = true %}
												<option value="{{ clefs.aav__valeur }}" selected> {{ clefs.aav__valeur_txt }} </option>

											{% elseif spec.aap__cle == data.aac__cle and spec.aap__valeur != clefs.aav__valeur %}
												{% set marqueur = true %}
												<option value="{{ clefs.aav__valeur }}" > {{ clefs.aav__valeur_txt }} </option>
											{% endif %}
										{% endfor %}
									{% endfor %}
									{% if not marqueur %}
											{% for clefs in data.key_responses %}
												<option value="{{ clefs.aav__valeur }}"> {{ clefs.aav__valeur_txt }} </option>
											{% endfor %}
									{% endif %}
									{% set marqueur = false %}
								{% else %}
									{% for clefs in data.key_responses %}
										<option value="{{ clefs.aav__valeur }}"> {{ clefs.aav__valeur_txt }} </option>
									{% endfor %}
								{% endif %}

							</select>
							{% elseif data.aac__champ == "RAD" %}
							<div class="row mx-auto justify-content-start col-11">
								
										{% for spec in spec_array %}
											{% if spec.aap__cle == data.aac__cle and spec.aap__heritage == 1  %}
												{% set marqueur_disabled = 'disabled' %}
											{% endif %}
										{% endfor %}
									{% if spec_array %}
										{% for spec in spec_array %}
											{% for clefs in data.key_responses %}
												{% if spec.aap__cle == data.aac__cle and spec.aap__valeur == clefs.aav__valeur %}
													{% set marqueur = true %}
													<div class="form-check  col-2" >	
														{% if loop.first %}
															<input class="form-check-input" id="radioInput" type="radio" value="{{ clefs.aav__valeur }}" name="{{ data.aac__cle }}" checked  {{marqueur_disabled}} required>
														{% else %}
															<input class="form-check-input" id="radioInput" type="radio" value="{{ clefs.aav__valeur }}" name="{{ data.aac__cle }}" checked  {{marqueur_disabled}}>
														{% endif %}
														
														<label class="form-check-label" for="radioInput">{{ clefs.aav__valeur_txt }}  </label>
													</div>
				
												{% elseif spec.aap__cle == data.aac__cle and spec.aap__valeur != clefs.aav__valeur %}
													{% set marqueur = true %}
													<div class="form-check  col-2" >
														{% if loop.first %}
															<input class="form-check-input" id="radioInput" type="radio" value="{{ clefs.aav__valeur }}" name="{{ data.aac__cle }}"   {{marqueur_disabled}} required>
														{% else %}
															<input class="form-check-input" id="radioInput" type="radio" value="{{ clefs.aav__valeur }}" name="{{ data.aac__cle }}"   {{marqueur_disabled}}>
														{% endif %}
														
														<label class="form-check-label" for="radioInput">{{ clefs.aav__valeur_txt }}  </label>
													</div>
												{% endif %}
											{% endfor %}
										{% endfor %}
										{% if not marqueur %}
													{% for clefs in data.key_responses %}
														<div class="form-check  col-2" >
															{% if loop.first %}
																<input class="form-check-input" id="radioInput" type="radio" value="{{ clefs.aav__valeur }}" name="{{ data.aac__cle }}"  {{marqueur_disabled}} required>
															{% else %}
																<input class="form-check-input" id="radioInput" type="radio" value="{{ clefs.aav__valeur }}" name="{{ data.aac__cle }}"  {{marqueur_disabled}}>
															{% endif %}
															
															<label class="form-check-label" for="radioInput">{{ clefs.aav__valeur_txt }}  </label>
														</div>
													{% endfor %}
										{% endif %}
										{% set marqueur = false %}
									{% else %}
										{% for clefs in data.key_responses %}
											<div class="form-check  col-2" >
												{% if loop.first %}
													<input class="form-check-input" id="radioInput" type="radio" value="{{ clefs.aav__valeur }}" name="{{ data.aac__cle }}"   {{marqueur_disabled}} required>
												{% else %}
													<input class="form-check-input" id="radioInput" type="radio" value="{{ clefs.aav__valeur }}" name="{{ data.aac__cle }}"   {{marqueur_disabled}}>
												{% endif %}
												
												<label class="form-check-label" for="radioInput">{{ clefs.aav__valeur_txt }}  </label>
											</div>
										{% endfor %}
									{% endif %}
										
										
									{% else %}
										ERREUR DE CONFIGURATION !MERCI DE LE SIGNALER AUX ADMINISTRATEURS 
									{% endif %}
									{% set marqueur_disabled = '' %}
							</div>
					
					<hr>
				{% elseif data.aac__option == 'XX' %}
				{% for spec in spec_array %}
					{% if spec.aap__cle == data.aac__cle and spec.aap__heritage == 1 %}
						{% set marqueur_heritage = 'Hérité du modèle' %}
					{% endif %}
				{% endfor %}
					<div class="form-group my-4">
						<label for="labelXX" class="text-uppercase font-italic font-weight-bold"> {{ data.aac__cle_txt }} <small class="text-success">Choix multiples</small> <small class="text-primary">{{marqueur_heritage}}</small></label>
						{% set marqueur_heritage = false %}
						{% if data.aac__champ == "SLT" %}
						{% for spec in spec_array %}
									{% if spec.aap__cle == data.aac__cle and spec.aap__heritage == 1  %}
										{% set marqueur_disabled = 'disabled' %}
									{% endif %}
						{% endfor %}
						<select class=" selectpicker col-12" name=" {{ data.aac__cle }}[]" multiple {{marqueur_disabled}}>
							{% set marqueur_disabled = '' %}
							<option value="" selected> Non renseignés </option>
							{% if spec_array %}
								{% for spec in spec_array %}
									{% for clefs in data.key_responses %}

										{% if spec.aap__cle == data.aac__cle and spec.aap__valeur == clefs.aav__valeur %}
											{% set marqueur = true %}
											<option value="{{ clefs.aav__valeur }}" selected> {{ clefs.aav__valeur_txt }} </option>

										{% elseif spec.aap__cle == data.aac__cle and spec.aap__valeur != clefs.aav__valeur %}
											{% set marqueur = true %}
											<option value="{{ clefs.aav__valeur }}" > {{ clefs.aav__valeur_txt }} </option>
										{% endif %}
									{% endfor %}
								{% endfor %}
								{% if not marqueur %}
										{% for clefs in data.key_responses %}
											<option value="{{ clefs.aav__valeur }}"> {{ clefs.aav__valeur_txt }} </option>
										{% endfor %}
								{% endif %} 
								{% set marqueur = false %}
							{% else %}
								{% for clefs in data.key_responses %}
									<option value="{{ clefs.aav__valeur }}"> {{ clefs.aav__valeur_txt }} </option>
								{% endfor %}
							{% endif %}

						</select>
						{% elseif data.aac__champ == "RAD" %}
							ERREUR DE CONFIGURATION !MERCI DE LE SIGNALER AUX ADMINISTRATEURS 
						{% elseif data.aac__champ == "CHK" %}
						{% for spec in spec_array %}
									{% if spec.aap__cle == data.aac__cle and spec.aap__heritage == 1  %}
										{% set marqueur_disabled = 'disabled' %}
									{% endif %}
						{% endfor %}
						<div class="row justify-content-start col-11 mx-auto">
							{% if spec_array %}

								{% for clefs in data.key_responses %}
										<div class="form-check col-3" >
											<input class="form-check-input" id="radioInput" type="checkbox"
														value="{{ clefs.aav__valeur }}" name="{{ data.aac__cle }}[]"  {{marqueur_disabled}}

														{% for spec in spec_array %}
															{% if spec.aap__cle == data.aac__cle and spec.aap__valeur != clefs.aav__valeur  %}
																
															{% elseif spec.aap__cle == data.aac__cle and spec.aap__valeur == clefs.aav__valeur %}
																checked
															{% endif %}
														{% endfor %}

														> 
														{% set marqueur = true %}
											<label class="form-check-label" for="radioInput">	
												{{ clefs.aav__valeur_txt }} 
											</label>
										</div>
								{% endfor %}
								
								{% if not marqueur %}
									{% for clefs in data.key_responses %}
										<div class="form-check col-3" >
											<input class="form-check-input" id="radioInput" type="checkbox" value="{{ clefs.aav__valeur }}" name="{{ data.aac__cle }}[]"  {{marqueur_disabled}}>
											<label class="form-check-label" for="radioInput">{{ clefs.aav__valeur_txt }} </label>
										</div>
									{% endfor %}
								{% endif %}
							{% set marqueur = false %}
								{% else %}
									{% for clefs in data.key_responses %}
										<div class="form-check col-3" >
											<input class="form-check-input" id="radioInput" type="checkbox" value="{{ clefs.aav__valeur }}" name="{{ data.aac__cle }}[]"  {{marqueur_disabled}}>
											<label class="form-check-label" for="radioInput">{{ clefs.aav__valeur_txt }} </label>
										</div>
									{% endfor %}
						{% endif %}
						</div>
								

					{% endif %}
					{% set marqueur_disabled = '' %}
					</div>
					<hr>
				{% elseif data.aac__option == 'XX!' %}
				{% for spec in spec_array %}
					{% if spec.aap__cle == data.aac__cle and spec.aap__heritage == 1 %}
						{% set marqueur_heritage = 'Hérité du modèle' %}
					{% endif %}
				{% endfor %}
				<div class="form-group  my-4">
					<label for="labelXX" class="text-uppercase font-italic font-weight-bold"> {{ data.aac__cle_txt }} <small class="text-success">Choix multiples</small> <small class="text-danger">obligatoire</small> <small class="text-primary">{{marqueur_heritage}}</small></label>
						{% set marqueur_heritage = false %}
					{% if data.aac__champ == "SLT" %}
						{% for spec in spec_array %}
									{% if spec.aap__cle == data.aac__cle and spec.aap__heritage == 1  %}
										{% set marqueur_disabled = 'disabled' %}
									{% endif %}
						{% endfor %}
						<select class=" selectpicker col-12" name=" {{ data.aac__cle }}[]"  multiple required {{marqueur_disabled}}>
							{% set marqueur_disabled = '' %}
							{% if spec_array %}
								{% for spec in spec_array %}
									{% for clefs in data.key_responses %}
										{% if spec.aap__cle == data.aac__cle and spec.aap__valeur == clefs.aav__valeur %}
											{% set marqueur = true %}
											<option value="{{ clefs.aav__valeur }}" selected> {{ clefs.aav__valeur_txt }} </option>

										{% elseif spec.aap__cle == data.aac__cle and spec.aap__valeur != clefs.aav__valeur %}
											{% set marqueur = true %}
											<option value="{{ clefs.aav__valeur }}" > {{ clefs.aav__valeur_txt }} </option>
										{% endif %}
									{% endfor %}
								{% endfor %}
								{% if not marqueur %}
										{% for clefs in data.key_responses %}
											<option value="{{ clefs.aav__valeur }}"> {{ clefs.aav__valeur_txt }} </option>
										{% endfor %}
								{% endif %}
								{% set marqueur = false %}
							{% else %}
								{% for clefs in data.key_responses %}
									<option value="{{ clefs.aav__valeur }}"> {{ clefs.aav__valeur_txt }} </option>
								{% endfor %}
							{% endif %}

						</select>
					{% elseif data.aac__champ == "RAD" %}
						ERREUR DE CONFIGURATION !MERCI DE LE SIGNALER AUX ADMINISTRATEURS 
						{% elseif data.aac__champ == "CHK" %}
						{% for spec in spec_array %}
									{% if spec.aap__cle == data.aac__cle and spec.aap__heritage == 1  %}
										{% set marqueur_disabled = 'disabled' %}
									{% endif %}
						{% endfor %}
						{% if spec_array %}
							{% for spec in spec_array %}
								{% for clefs in data.key_responses %}
									{% if spec.aap__cle == data.aac__cle and spec.aap__valeur == clefs.aav__valeur %}
									{% set marqueur = true %}
										<div class="form-check" >
											<input class="form-check-input" id="radioInput" type="checkbox" value="{{ clefs.aav__valeur }}" name="{{ data.aac__cle }}[]" required checked {{marqueur_disabled}}>
											<label class="form-check-label" for="radioInput">{{ clefs.aav__valeur_txt }} </label>
										</div>
									{% elseif spec.aap__cle == data.aac__cle and spec.aap__valeur != clefs.aav__valeur %}
									{% set marqueur = true %}
										<div class="form-check" >
											<input class="form-check-input" id="radioInput" type="checkbox" value="{{ clefs.aav__valeur }}" name="{{ data.aac__cle }}[]" required {{marqueur_disabled}}>
											<label class="form-check-label" for="radioInput">{{ clefs.aav__valeur_txt }} </label>
										</div>
									{% endif %}
								{% endfor %}
							{% endfor %}
							{% if not marqueur %}
								{% for clefs in data.key_responses %}
									<div class="form-check" >
										<input class="form-check-input" id="radioInput" type="checkbox" value="{{ clefs.aav__valeur }}" name="{{ data.aac__cle }}[]"  required {{marqueur_disabled}}>
										<label class="form-check-label" for="radioInput">{{ clefs.aav__valeur_txt }} </label>
									</div>
								{% endfor %}
						{% endif %}
						{% set marqueur = false %}
					{% else %}
						{% for clefs in data.key_responses %}
							<div class="form-check" >
								<input class="form-check-input" id="radioInput" type="checkbox" value="{{ clefs.aav__valeur }}" name="{{ data.aac__cle }}[]"  required {{marqueur_disabled}}>
								<label class="form-check-label" for="radioInput">{{ clefs.aav__valeur_txt }} </label>
							</div>
						{% endfor %}
				{% endif %}
				{% set marqueur_disabled = '' %}
				</div>
			{% endif %}
			<hr>
			{% endif %}
			
		{% endfor %}
							
						
		<div class="row justify-content-end mt-4 col-12">
			<button id="post_spec" class="btn btn-primary">Valider</button>  
		</div>
	</form>