
<div class="form-group">
    {% if form.tksc__type_de_champ == "TXT" %}
        {% if form.tksc__obligatoire == 1 %}
            <h5 class="text-white">{{form.tksc__label}} *</h5>
            <input type="text" class="form-control  form-control-lg input-recode" name="{{form.tksc__nom_champ}}" maxlength="{{form.tksc__long_de_champ}}"  required>
        {% else %}
            <h5 class="text-white">{{form.tksc__label}}</h5>
            <input type="text" class="form-control  form-control-lg input-recode" name="{{form.tksc__nom_champ}}" maxlength="{{form.tksc__long_de_champ}}"  >
        {% endif %}
    {% elseif form.tksc__type_de_champ == "NUM" %}
        {% if form.tksc__obligatoire == 1 %}
            <h5 class="text-white">{{form.tksc__label}} *</h5>
            <input type="number" step="0.01" class="form-control col-5  form-control-lg input-recode" name="{{form.tksc__nom_champ}}" maxlength="{{form.tksc__long_de_champ}}" required>
        {% else %}
            <h5 class="text-white">{{form.tksc__label}}</h5>
            <input type="number" step="0.01" class="form-control col-5  form-control-lg input-recode" name="{{form.tksc__nom_champ}}" maxlength="{{form.tksc__long_de_champ}}" >
        {% endif %}
    {% elseif form.tksc__type_de_champ == "RAD" %}
        <h5 class="text-white">{{form.tksc__label}}</h5>
        <div class="row justify-content-start col-12 ">
            {% for row in form.tksc__option %}
                <div class="form-check text-white col-5 col-md-4">
                    <input class="form-check-input" id="radioInput" type="radio" value="{{ row }}" name="{{form.tksc__nom_champ}}" >
                    <label class="form-check-label" for="radioInput">{{ row }} </label>
                </div>
            {% endfor %}
        </div>
    {% elseif form.tksc__type_de_champ == "CHK" %}
        <h5 class="text-white">{{form.tksc__label}}</h5>
            <div class="row justify-content-start col-12 ">
                {% for row in form.tksc__option %}
                    <div class="form-check text-white col-5 col-md-4">
                        <input class="form-check-input" id="radioInput" type="checkbox" value="{{ row}}" name="{{form.tksc__nom_champ}}[]">
                        <label class="form-check-label" for="radioInput">{{ row }} </label>
                    </div>
                {% endfor %}
            </div>
    {% elseif form.tksc__type_de_champ == "FIL" %}
            <div class="">
                {% if form.tksc__obligatoire == 1 %}
                    <h5 class="text-white">{{form.tksc__label}} *</h5>
                    <input class="form-control" type="file" name="{{form.tksc__nom_champ}}" multiple required>
                {% else %}
                    <h5 class="text-white">{{form.tksc__label}}</h5>
                    <input class="form-control" type="file" name="{{form.tksc__nom_champ}}" multiple>
                {% endif %}
            </div>

    {% elseif form.tksc__type_de_champ == "DAT" %}
            <div class="">
                {% if form.tksc__obligatoire == 1 %}
                    <h5 class="text-white">{{form.tksc__label}} *</h5>
                    <input class="form-control col-5" type="date" min="2018-01-01" max="2030-12-31" name="{{form.tksc__nom_champ}}"  required>
                {% else %}
                    <h5 class="text-white">{{form.tksc__label}}</h5>
                    <input class="form-control col-5" type="date"  min="2018-01-01" max="2030-12-31" name="{{form.tksc__nom_champ}}">
                {% endif %}
            </div>
    {% elseif form.tksc__type_de_champ == "SLT" %}
           
            {% if form.tksc__obligatoire == 1 %}
            <h5 class="text-white">{{form.tksc__label}} *</h5>
                <select class=" selectpicker  show-tick " data-width="100%" data-live-search="true" data-size="10" name="{{form.tksc__nom_champ}}" required>
                    {% for subject in form.tksc__option %}
                        {% if preset.Pn ==  subject.id and form.tksc__nom_champ =='Pn' %}
                            <option value="{{subject.id}}" selected>{{subject.lib}}</option>
                        {% else %}
                            <option value="{{subject.id}}" >{{subject.lib}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            {% else %}
                <h5 class="text-white">{{form.tksc__label}}</h5>
                <select class="custom-select form-control-lg input-recode" name="{{form.tksc__nom_champ}}" >
                    {% for subject in form.tksc__option %}
                        {% if preset.Pn ==  subject.id and form.tksc__nom_champ == 'Pn' %}
                            <option value="{{subject.id}}" selected>{{subject.lib}}</option>
                        {% else %}
                            <option value="{{subject.id}}" >{{subject.lib}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            {% endif %}
    {% elseif form.tksc__type_de_champ == "CLI" %} 
            {% include "forms/forms_client_field.html.twig" %}
    {% elseif form.tksc__type_de_champ == "PRE" %} 
            {% include "forms/forms_prestation_field.html.twig" %}
    {% elseif form.tksc__type_de_champ == "AER" %}
            <textarea class="form-control  form-control-lg input-recode" name="{{form.tksc__nom_champ}}" 
            {% if form.tksc__obligatoire == 1 %}
                placeholder="{{form.tksc__label}} *" 
            {% else %}
                placeholder="{{form.tksc__label}}" 
            {% endif %}
            
            rows="3"></textarea>
    {% endif %}
</div>