


{% if object.kw__type %}
<form action="ArtCataloguePN" method="POST" class="" id="forms_specs">
{% endif %}
    {% if object.kw__type %}
    <input type="hidden" name="famille" value="{{object.kw__value}}">
    <input type="hidden" name="recherche_guide" value="{{object.kw__value}}">
        <h3 class="text-muted mt-5">Formulaire de recherche pour la famille :<b>{{ object.kw__lib }} </b></h3>
    {% endif %}
    
    
    {% for data in forms_data %}
         <div class="form-group  my-5">
            <label for="labelUN" class="text-uppercase font-italic font-weight-bold"> {{ data.aac__cle_txt }} </label>
            <div class="row justify-content-start col-11 mx-auto">
                {% if spec_array %}
                {% else %}
                    {% for clefs in data.key_responses %}
                                {% if forms %}
                                {% set bool = false %}
                                    {% for key , row in forms %}
                                        {% if key == data.aac__cle %}
                                           {% set bool = true %}
                                           
                                                <div class="form-check col-3">
                                                    <input class="form-check-input" id="radioInput" type="checkbox" value="{{ clefs.aav__valeur }}"
                                                        name="{{ data.aac__cle }}[]" {{marqueur_disabled}} 
                                                        {% for value in row %}
                                                            {% if value == clefs.aav__valeur %}
                                                                checked
                                                            {% else %}
                                                        {% endif %}
                                                        {% endfor %}
                                                        >
                                                    <label class="form-check-label" for="radioInput">{{ clefs.aav__valeur_txt }} </label>
                                                </div>
                                        
                                           
                                        {% endif %}
                                    {% endfor %}
                                
                                    {% if not bool %}
                                        <div class="form-check col-3">
                                            <input class="form-check-input" id="radioInput" type="checkbox" value="{{ clefs.aav__valeur }}"
                                                name="{{ data.aac__cle }}[]" {{marqueur_disabled}}>
                                            <label class="form-check-label" for="radioInput">{{ clefs.aav__valeur_txt }} </label>
                                        </div>
                                    {% endif %}

                                {% else %}
                                    <div class="form-check col-3">
                                        <input class="form-check-input" id="radioInput" type="checkbox" value="{{ clefs.aav__valeur }}"
                                            name="{{ data.aac__cle }}[]" {{marqueur_disabled}}>
                                        <label class="form-check-label" for="radioInput">{{ clefs.aav__valeur_txt }} </label>
                                    </div>
                                {% endif %}
                                
                    {% endfor %}
                {% endif %}
            </div>

        </div>
    {% endfor %}
                        
                    
    <div class="row justify-content-end mt-4 col-12">
        <button id="post_spec" class="btn btn-primary">Valider</button>  
    </div>
</form>